{% load cabinet %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <style>
    a { color: #1a74bb;}
  </style>
</head>
<body style="color:#555;font-family:Verdana, sans-serif;font-size: 14px;padding:20px; margin:0;background:#fff;">

<table cellspacing=0 cellpadding=0 border=0 width=100% style="width:100%"><tr>
  <td width="50%"></td>
  <td width="640" style="width:640px">
    <div style="margin:20px 0;overflow:hidden;width:640px;background:#fff;border:1px solid #ddd;border-radius:10px;">
      <div>
        <div style="box-shadow:inset 0 -10px 10px -10px #aaa;text-align:right;background:#eeeeee url('http://shoppyboom.ru/static/images/cabinet/head-bg.png') no-repeat 0 100%;height: 128px;margin:0 0 20px 0;">
        <a href="shoppyboom.ru"><img src="http://shoppyboom.ru/static/images/cabinet/logo.png" width="134" height="46" alt="ShoppyBoom" style="margin:40px 40px 0 0;"></a>
        </div>
        <div style="padding:20px 50px;">
          <div style="text-align: center;">
            <h1 style="font-size:30px;color:#000;">
                Магазин отключен
            </h1>
            <p>Приносим извинения за неудобства</p>
          </div>
        </div>
        <div style="font-size:10px;background:#eee;height: 64px;margin:40px 0 0;box-shadow:inset 0 10px 10px -10px #aaa;">
          <div style="float:right;padding:25px 30px 0 0;">2014 &mdash; <a style="text-decoration:none;" href="http://shoppyboom.ru">ООО &laquo;Шоппибум&raquo;</a><sup>&copy;</sup></div>
          <div style="padding:15px 0 0 30px;">
            Контакты<br>
            email: <a style="text-decoration:none;" href="mailto:info@shoppyboom.ru">info@shoppyboom.ru</a>
            tel: <a style="text-decoration:none;" href="callto:+74955404651">+7&nbsp;(495)&nbsp;540-46-51</a>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td width="50%"></td>
</tr></table>
</body>
</html>