{% extends "App/index.html" %}

{% block platform %}
  <div id="fb-root"></div>
  <script src="/static/js/app/entities/social/fb_entity.js"></script>
  <script src="/static/js/app/social/fb.js"></script>
  <script>
      SBApp.userModel = new SBApp.User( SBApp.user );
      SBApp.prepare();

      var authFunc = function(response) {
        var FB = window.FB;

          if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token
            // and signed request each expire
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;

            var fetchingMe = SBApp.request('fb:me');

            /* Получить данные тек. пользователя */
            $.when( fetchingMe ).done( function (user) {
              var user_id = user['id'];

              SBApp.userModel.set({
                fb_id: user_id,
                name:  user["name"],
                photo: "//graph.facebook.com/" + user_id + "/picture"
              });
            });

            SBApp.init();

            SBApp.on('start', function () {
              SBApp.router = new SBApp.Router();

              if ( Backbone.history ) {
                Backbone.history.start();
              }

              /* Показать блок категорий */
              SBApp.CategoryApp.Controller.showCategories();
            });

            $.when( SBApp.request('category:entities')).done( function () {
              SBApp.start();
            });

            /* Иницилиаз. fb виджета */
            if ( SBApp.shop.fb_group &&  SBApp.shop.fb_group !== 'null' ) {
              var widgetView = new SBApp.FBWidgetView({ model: new Backbone.Model({ fb_group: SBApp.shop.fb_group }) });

              widgetView.on('show', function () {
                SBApp.execute('fb:parse', widgetView.el);
              });

              SBApp.socialReg.show( widgetView );
            }
          }

          else if (response.status === 'not_authorized') {
            // the user is logged in to Facebook,
            // but has not authenticated your app
            FB.login( function(response) {
              if (response.authResponse) {
                FB.getLoginStatus(authFunc);
              } else {
               /* TODO: User cancelled login or did not fully authorize. */
               console.log('User cancelled login or did not fully authorize.');
              }
            });
          }
          /* TODO: the user isn't logged in to Facebook.*/
          else {}
        }

      window.fbAsyncInit = function() {
        var FB = window.FB;

        // init the FB JS SDK
        FB.init({
          appId  : {{ shop.shopprofile.fb_app_id }}, // App ID from the app dashboard
          status : true,                             // Check Facebook Login status
          xfbml  : true                              // Look for social plugins on the page
        });

        /* Фейсубк автомат. меняет высоту tab app при необходимости */
        FB.Canvas.setAutoGrow(200);

        // Additional initialization code such as adding Event Listeners goes here
        FB.getLoginStatus(authFunc);
      };
    </script>
    <script type="text/javascript">
      // Load the SDK asynchronously
      (function(){
        // If we've already installed the SDK, we're done
        if (document.getElementById('facebook-jssdk')) {return;}

        // Get the first script element, which we'll use to find the parent node
        var firstScriptElement = document.getElementsByTagName('script')[0];

        // Create a new script element and set its id
        var facebookJS = document.createElement('script');
        facebookJS.id = 'facebook-jssdk';

        // Set the new script's source to the source of the Facebook JS SDK
        facebookJS.src = '//connect.facebook.net/ru_RU/all.js';

        // Insert the Facebook JS SDK into the DOM
        firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
      }());
    </script>
  {% if shop.shopprofile.ga_fb %}
    {{ shop.shopprofile.ga_fb|safe }}
  {% endif %}
{% endblock %}
