{% load staticfiles %}
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>{{ shop.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!--
    <link rel="stylesheet" href="/static/css/icons-family.css">
    <link rel="stylesheet" href="/static/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.scroll.css">
    <link rel="stylesheet" href="/static/css/cloudzoom.css" />
    -->
    <link rel="stylesheet" href="/static/css/promo.css">
    <link rel="stylesheet" href="/static/dist/app-lib-ac22.min.css">
    <!--   Base -->
    <link rel="stylesheet" href="/static/css/app.css?t={{t}}">
    <!-- / Base -->

    {% if shop.theme %}
    <!--   Theme -->
      <link rel="stylesheet" href="/static/themes/{{ shop.theme.name }}/css/{{ shop.theme.name }}.css?t={{t}}">
    <!-- / Theme -->
    {% endif %}

    {% if shop.alias %}
    <!--   Custom -->
      <link rel="stylesheet" href="/static/custom/{{ shop.alias }}/css/{{ shop.alias }}.css?t={{t}}">
    <!-- / Custom -->
    {% endif %}
    <link rel="stylesheet" href="/static/css/landing.css?t={{t}}"/>
    <!--[if lt IE 9]>
      <script src="/static/js/libs/html5shiv.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}
</head>
<body{% if not shop.tariff.has_whitelabel %} class="whitelabel"{% endif %}>
  <div class="app-wrapper" id="app-wrapper">
    <div id="sb-top-banner-reg" class="sb-top-banner-reg"></div>
    <header class="navbar sb-header" id="sb-header">
      <div class="navbar-inner">
        <div class="container">
          <a href="{% if has_landing %}#landing{% else %}#home{% endif %}" data-alias="home" data-title="{{ shop.name }}" class="logo" id="logo">
            <img src="{{ shop.get_logo_url }}" alt="{{ shop.name }}" />
          </a>
          <div class="navbar-content clearfix">
            <ul class="nav menu" id="nav-menu">
              {% if has_landing %}
              <li class="menu__item-catalog">
                <a href="#home" data-alias="catalog" data-title="Каталог">Каталог</a>
              </li>
              {% endif %}
              {% if config.show_news %}
              <li class="menu__item-news">
                <a href="#news" data-alias="news" data-title="Новости">Новости</a>
              </li>
              {% endif %}
              {% for page in shop.pages.all %}
              <li class="menu__item-{{ page.alias }}">
                <a href="#page/{{ page.alias }}" data-alias="{{ page.alias }}" data-title="{{ page.name }}">{{ page.name }}</a>
              </li>
              {% endfor %}
              <li class="menu__item-cart">
                <!-- пудра, 5 -->
                <!-- вернуть айди пудры 17 -->
                {% if shop.id == 7 or shop.id == 17 %}
                  <a href="#cart" data-alias="cart" id="cart-badge" data-title="Корзина"><i class="sb-icon-cart"></i>&nbsp;<span class="badge sb-menu__badge" id="sb-menu__badge"></span></a>
                {% else %}
                  <a href="#cart" data-alias="cart" id="cart-badge" data-title="Корзина">Корзина&nbsp;<span class="badge sb-menu__badge" id="sb-menu__badge"></span></a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- Регион для баннера первого слота -->
    <div id="sb-banner-slot-1" class="sb-banner-slot-1"></div>

    <section class="container SBwrapper" id="SBwrapper"></section>
    {% if services.checkout %}
      <!-- Сервис чекаут -->
      <!--<link rel="stylesheet" type="text/css" href="//platform.checkout.ru/cop/popup.css">-->
      <script src="/static/js/services/checkout.popup.js"></script>
      <link rel="stylesheet" href="/static/css/checkout.popup.css"/>
    {% endif %}
  </div>
  <footer class="sb-footer" id="sb-footer">
    <div class="sb-footer__inner">
      <div class="dates">&copy;&nbsp;2013&ndash;2014</div>
      <a style="margin-right: 10px;" href="http://shoppyboom.ru" target="_blank">
          <span style="position: absolute; top: -7px; font-size: 12px;">powered by</span>
          <img src="/static/images/shoppyboom.png" style="height: 36px;" alt=""/>
      </a>
    </div>
  </footer>
  <div id="sb-modal-region" class="sb-modal-region"></div>
  <!--
  <script src="/static/js/libs/jquery-1.10.1.js"></script>
  <script src="/static/js/libs/jquery.mask.js"></script>
  <script src="/static/js/libs/cloudzoom.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/libs/underscore.js"></script>

  <script src="/static/js/libs/backbone-min.js"></script>
  <script src="/static/js/libs/backbone.syphon.js"></script>
  <script src="/static/js/libs/backbone.marionette.min.js"></script>

  <script src="/static/js/libs/jquery.bxslider.js"></script>
  <script src="/static/js/libs/jquery.mCustomScrollbar.js"></script>
  <script src="/static/js/libs/typeahead.min.js"></script>
  -->
  <script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script src="/static/dist/app-lib-3b63.min.js"></script>

  <script src="/static/js/libs/jquery.countdown.min.js"></script>
  <script>
    var options = {
      user: {
        id: {{ user.customer.pk }},
        vk_id: {{ user.customer.vk_id|default:"null" }},
        fb_id: {{ user.customer.fb_id|default:"null" }},
        ok_id: {{ user.customer.ok_id|default:"null" }},
        name: '{{ user.name }}',
        cart_id: {{ user.cart.pk|default:"null"}},
        email: '{{user.customer.email|default:""}}',
        photo: ''
      },
      shop: {
        id: {{ shop.id }},
        app_type: '{{ app_type }}',
        name: '{{ shop.name }}',
        domain: '{{ shop.domain }}',
        platform: '{{ platform }}',
        vk_group: '{% if shop.shopprofile.vk_groupid and shop.shopprofile.vk_groupid != "0" %}{{ shop.shopprofile.vk_groupid}}{% else %}null{% endif %}',
        fb_group: '{{ shop.shopprofile.fb_groupid|default:"null"}}',
        vk_url: '{{ shop.shopprofile.vk_url }}',
        fb_url: '{% if tab %}{{ shop.shopprofile.fb_taburl }}{% else %}{{ shop.shopprofile.fb_url }}{% endif %}',
        currency: {
          text: '{{ currency.text }}',
          code: '{{ currency.code }}'
        },
        pages: [
        {% for page in shop.pages.all %}
          { id: {{page.pk}}, page_alias: '{{ page.alias }}', url: 'page/{{ page.alias }}', title: '{{ page.name }}' }{%  if not forloop.last %},{% endif %}
        {% endfor %}
        ],
        show_subscribe_form: {{ show_subscribe_form|yesno:"true,false" }}
      },
      services: {
        checkout:  {{ services.checkout|yesno:"true,false" }},
        robokassa: {{ services.robokassa|yesno:"true,false" }}
      },
      promocode_enabled: {{ shop.hasPromocodes|yesno:"true,false" }},
      redirect: '{{ redirect }}',
      fast_order: {{fast_order|yesno:"true,false"}},
      layout: '{{ layout }}',
      has_landing: {{ has_landing|yesno:"true,false" }}
    };
    ga = undefined;
  </script>


  <!-- BEGIN ANALYTICS -->
  <script type="text/javascript">
    window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
    window.analytics.load("qarfsk9xhn");
    {% if user and user.customer %}
    window.analytics.identify({{user.customer.id}});
    {% endif %}
  </script>
  <!-- END ANALYTICS -->


  <script src="/static/js/app/app.js?t={{t}}"></script>

  <!--   Base -->
      <script src="/static/tmpl/templates.js?t={{t}}"></script>
    <!-- / Base -->

    {% if shop.theme %}
    <!--   Theme -->
      <script src="/static/themes/{{ shop.theme.name }}/tmpl/templates.js?t={{t}}"></script>
    <!-- / Theme -->
    {% endif %}

    {% if shop.alias %}
    <!--   Custom -->
      <script src="/static/custom/{{ shop.alias }}/tmpl/templates.js?t={{t}}"></script>
    <!-- / Custom -->
    {% endif %}
  <script src="/static/js/app/mixins.js?t={{t}}"></script>
  <script src="/static/js/app/helpers.js?t={{t}}"></script>
  <script src="/static/js/app/models.js?t={{t}}"></script>
  <script src="/static/js/app/collections.js?t={{t}}"></script>
  <script src="/static/js/app/views.js?t={{t}}"></script>
  <script src="/static/js/app/category/category_view.js?t={{t}}"></script>
  <script src="/static/js/app/category/category_controller.js?t={{t}}"></script>

  <script src="/static/js/app/entities/promo.js?t={{t}}"></script>
  <script src="/static/js/app/promo/promo_view.js?t={{t}}"></script>
  <script src="/static/js/app/promo/promo_controller.js?t={{t}}"></script>

  <script src="/static/js/app/entities/news_item.js?t={{t}}"></script>
  <script src="/static/js/app/entities/static_page.js?t={{t}}"></script>

  <script src="/static/js/app/entities/category.js?t={{t}}"></script>
  <script src="/static/js/app/entities/product.js?t={{t}}"></script>

  <script src="/static/js/app/entities/order.js?t={{t}}"></script>
  <script src="/static/js/app/order/order_controller.js?t={{t}}"></script>
  <script src="/static/js/app/order/order_app.js?t={{t}}"></script>

  <script src="/static/js/app/modal_view.js?t={{t}}"></script>

  <script src="/static/js/app/promo_top/promo_top_view.js?t={{t}}"></script>
  <script src="/static/js/app/promo_top/promo_top_controller.js?t={{t}}"></script>

  <script src="/static/js/app/cart_recommend_view.js?t={{t}}"></script>

  <script src="/static/js/app/router.js?t={{t}}"></script>
{#  <script src="/static/js/app/app.js?t={{t}}"></script>#}
{#  <script> console.log(SBApp.Mixins)</script>#}
  <script src="/static/js/app/hooks.js?t={{t}}"></script>

  <script src="/static/js/app/landing/landing_app.js?t={{t}}"></script>
  <script src="/static/js/app/landing/landing_controller.js?t={{t}}"></script>
  <script src="/static/js/app/entities/landing.js?t={{t}}"></script>
  <script src="/static/js/app/landing/landing_view.js?t={{t}}"></script>

  {% if shop.theme %}
  <!--   Theme -->
    <script src="/static/themes/{{ shop.theme.name }}/js/{{ shop.theme.name }}.js?t={{t}}"></script>
  <!-- / Theme -->
  {% endif %}

  {% if shop.alias %}
  <!--   Custom -->
  <script src="/static/custom/{{ shop.alias }}/js/{{ shop.alias }}.js?t={{t}}"></script>
  <!-- / Custom -->
  {% endif %}

  {% block platform %}
      <script>
        SBApp.on('before:start', function () {
          SBApp.userModel = new SBApp.User( SBApp.user );
          SBApp.router = new SBApp.Router();
          SBApp.prepare();
          SBApp.init();
        });

        /* Старт приложения для домена */
        SBApp.on('start', function () {
          if ( Backbone.history ) {
            Backbone.history.start();
          }
          if (SBApp.state() !== 'landing') {
            /* Показать блок категорий */
            SBApp.CategoryApp.Controller.showCategories();
          }
        });

        $.when( SBApp.request('category:entities') ).done( function (categories) {
          SBApp.start();
        });
      </script>
  {% endblock %}
  <div id="sb-modal-region"></div>
</body>
</html>
