{% extends 'App/index.html' %}

{% block head %}
    <script type="text/javascript" src="//api.odnoklassniki.ru/js/fapi5.js"></script>
{% endblock %}

{% block platform %}
<script type="text/javascript" src="/static/js/app/social/ok.js"></script>
<script type="text/javascript" src="http://connect.ok.ru/connect.js"></script>
<script>
  SBApp.userModel = new SBApp.User( SBApp.user );
  SBApp.prepare();
  SBApp.init();

  /* Старт приложения для одноклассников */
  SBApp.on('start', function () {
    SBApp.router = new SBApp.Router();

    if ( Backbone.history ) {
      Backbone.history.start();
    }

    if (SBApp.state() !== 'landing') {
      /* Показать блок категорий */
      SBApp.CategoryApp.Controller.showCategories();
    }
  });

  $.when( SBApp.request('category:entities')).done( function () {
    SBApp.start();
  });
</script>
  {% if shop.shopprofile.ga_ok %}
    {{ shop.shopprofile.ga_ok|safe }}
    <script>
        if(ga){
           ga('set', 'campaignName', "{{ utm.utm_campaign }}" );
           ga('set', 'campaignSource', "{{ utm.utm_source }}");
           ga('set', 'campaignMedium', "{{ utm.utm_medium }}");
           ga('set', 'campaignKeyword', "{{ utm.utm_custom }}");
           ga('set', 'campaignContent', "{{ utm.utm_prefix }}");
        }
    </script>
  {% endif %}
{% endblock %}
