{% extends "App/index.html" %}

{% block platform %}
    <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script src="//vk.com/js/api/share.js?86" type="text/javascript" charset="windows-1251"></script>
    <script src="/static/js/app/entities/social/vk_entity.js?t={{t}}"></script>
    <script src="/static/js/app/social/vk.js?t={{t}}"></script>
    <script>
      SBApp.userModel = new SBApp.User( SBApp.user );
      SBApp.router = new SBApp.Router();
      SBApp.hash = '{{ hash }}';
      SBApp.prepare();

      SBApp.on('before:start', function () {
        VK.init(function () {
          VK.addCallback('onLocationChanged', SBApp.router.onLocationChanged);

          VK.callMethod('scrollSubscribe', true);
          VK.addCallback('onScroll', SBApp.router.onScroll);

          /* SBApp.hash - параметр, который передается VK приложением */
          VK.callMethod('setLocation', SBApp.hash, true);

          /* Разделы меню */
          $(document).on('click', 'a[data-alias]', SBApp.Mixins.VK.changeRoute);

          $.when( Social.VK.fetchingAppPermissions( SBApp.userModel.get('vk_id')) ).done(function (resp) {
            if (!resp.error) {
              /* Битовая маска для св-ва "Добавить приложение в избранное" */
              var BIT_MASK = 256,
                settingsBitMask = resp.response;

              /* Приложение не находиться в избрраном */
              if ( !Social.VK.hasPermission(BIT_MASK, settingsBitMask) ) {
                SBApp.listenTo(SBApp.userModel, 'change:page_click', function (model, value, options) {
                  if( value === 4 ) {
                    SBApp.trigger('modal:show', model, { title: 'Понравился магазин?', modal_type: 'fav-app' });
                  }
                });
              }
            }
            /* TODO: уведомления об ошибках сторонних сервисов */
            else {
              console.error(resp.error);
            }
          });

          if( typeof(SBApp.VKresizer) === 'undefined' ) {
            SBApp.VKresizer = setInterval( function() {
              var $body = $('body');

              VK.callMethod('resizeWindow', $body.outerWidth(), $body.outerHeight());
            }, 500);
          }
        }, function () {},'5.2');
      });

      /* Отрисовка категорий на старте приложения */
      SBApp.on('start', function () {
        if ( ( _.isEmpty(SBApp.hash) || SBApp.hash === 'landing') && SBApp['has_landing'] ) {
          // На странице лэндинга категории не нужны
          return;
        }

        // Категории всё таки нужно отрисовать
        SBApp.CategoryApp.Controller.showCategories();
      });

      var fetchingUserData = SBApp.request('vk:users:get', SBApp.userModel.get('vk_id'), 'photo_50,sex,bdate');

      if( _.isEmpty(SBApp.userModel.get('name')) || _.isEmpty(SBApp.userModel.get('photo')) ) {
        $.when( fetchingUserData ).done( function (user) {
          var user = user[0],
              name = user['first_name'] + ' ' + user['last_name'],
              json = {};

          json['photo'] = user['photo_50'] || '';
          json['name'] = name;
          json['sex'] = user['sex'];
          json['bdate'] = user['bdate'];

          SBApp.userModel.set(json);

          SBApp.init();

          $.when( SBApp.request('category:entities')).done( function () {
            SBApp.start();
          });
        });
      }
      else{
        SBApp.init();

        $.when( SBApp.request('category:entities')).done( function () {
          SBApp.start();
        });
      }

      /* Инициализ. виджет ВК */
      if ( SBApp.hasGroupId() ) {
        SBApp.execute('vk:widget:group', 'sb-social', {}, SBApp.getGroupId() );
      }

      /* Показывать попап "Пригласить друзей". */
      SBApp.addInitializer(function () {
        /* Каждтый */
        SBApp.listenTo( SBApp.userModel, 'change:page_click', function (model, value, options) {
          /* После разого показывать */
          if (value === 6 && !SBApp.shop.show_subscribe_form) {
            SBApp.TopBanner.Controller.showFriendsInviting();

          }
        });
      });
    </script>
  {% if shop.shopprofile.ga_vk %}
    {{ shop.shopprofile.ga_vk|safe }}
    <script>
        if(ga){
           ga('set', 'campaignName', "{{ utm.utm_campaign }}" );
           ga('set', 'campaignSource', "{{ utm.utm_source }}");
           ga('set', 'campaignMedium', "{{ utm.utm_medium }}");
           ga('set', 'campaignKeyword', "{{ utm.utm_custom }}");
           ga('set', 'campaignContent', "{{ utm.utm_prefix }}");
        }
    </script>
  {% endif %}
{% endblock %}
