<div class="control-group {% if f.errors %}error{% endif %}" {% if field.name == 'yml_url' %}style="display:none;"{% endif %}>
    <label class="control-label" for="{{f.id_for_label}}">{{ f.label|capfirst }}</label>
    <div class="controls">
        {{ f }}{{ f.help_text }}
        <span class="help-block">
            {% for error in f.errors %}
                {{ error|escape }}
            {% endfor %}
        </span>
    </div>
</div>