{% extends "Cabinet/index.html" %}
{% block head %}
    {{ block.super }}
    {{ wizard.form.media }}
{% endblock %}

{% block main_content %}
  <h1>Новый магазин</h1>
  <div class="wizard">
    {% for step in wizard.steps.all %}
      <a {% if step == wizard.steps.current %}class="current"{% endif %} href="#">
        Шаг {{ forloop.counter }}
      </a>
    {% endfor %}
  </div>

  {% block title_wizard %}{% endblock %}

  <form class="form-horizontal" action="." method="POST">{% csrf_token  %}
      {{ wizard.management_form }}
      <div class="control-group">
        {% for field in wizard.form %}
          {% include "Cabinet/wizard/shop_create/input_field.html" with f=field %}
        {% endfor %}
      </div>
      <div class="form-actions" style="padding-left: 50%">
          {% block button_wizard %}
            {% if wizard.steps.first == wizard.steps.current %}
              <button type="submit" class="btn btn-primary">
                  Далее <i class="icon-arrow-right icon-white"></i>
              </button>
            {% elif wizard.steps.last == wizard.steps.current %}
              <button name="wizard_goto_step" class="btn btn-primary" type="submit" value="{{ wizard.steps.prev }}">
                   <i class="icon-arrow-left icon-white"></i> Назад
              </button>
              <input type="submit" class="btn btn-primary" value="Сохранить"/>
            {% else %}
              <button name="wizard_goto_step" class="btn btn-primary" type="submit" value="{{ wizard.steps.prev }}">
                   <i class="icon-arrow-left icon-white"></i> Назад
              </button>
              <button type="submit" class="btn btn-primary">
                  Далее <i class="icon-arrow-right icon-white"></i>
              </button>
            {% endif %}
          {% endblock %}
      </div>
  </form>
{% endblock %}