.one-column .app-wrapper {
  z-index: 1030;
}

@media (min-width: 980px) {
  .app-wrapper.one-column{
    width: 980px;
  }
}

@media (min-width: 810px) and (max-width: 979px) {
  .app-wrapper.one-column{
    width: 100%;
  }

  .app-wrapper.one-column #search{
    right: 0;
    width: 80px;
  }
}

@media screen and (max-width: 810px){
  .SBproductGrid{
    margin-right: 20px;
  }

  .one-column .add-comment__message .add-comment__userpic{
    width: 13%;
  }

  .one-column .add-comment__message .add-comment__text{
    width: 85%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 809px){
  body{
    overflow-x: scroll !important;
  }

  .app-wrapper.one-column{
    width: 810px;
  }
}

.one-column #nav-menu li{
  margin-right: 0;
}

.one-column .sb-header{
  -webkit-box-shadow: 0 0 11px #aaa;
     -moz-box-shadow: 0 0 11px #aaa;
          box-shadow: 0 0 11px #aaa;
  border-radius: 0 0 19px 4px;
  height: auto;
}

.one-column .SBnavigate{
  overflow: visible;
  margin-top: 6px;
}

.one-column .SBcontent{
  padding-left: 20px;
  padding-right: 20px;
}

.one-column .categories__item{
  margin-right: 10px;
}

.one-column .categories__item > .nav{
  display: none !important;
}

.one-column .categories__item .products-count{
  display: none;
}

.one-column .products-count,
.one-column .subcategories{
  display: none;
}

/* Category block */
.one-column #categories .nav{
  float: none;
}

.one-column #categories .nav>li{
  float: none;
}

.one-column #categories .categories__link{
  border-bottom: 0;
}

.one-column #categories .active .categories__link{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.one-column .categories_level_1{
  display: inline-block;
  margin: 0 7px 3px 0;
}

.one-column .categories_level_1.active{
  background: #D9534F !important;
  cursor: default;
}

.one-column .categories_level_1.active > .categories__link{
  color: #fff !important;
  cursor: default;
}

.one-column #categories .categories_level_1 > .categories__link{
  padding: 2px 8px;
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover{
  background: #D9534F !important;
  color: #fff !important;
}

/* Все блоки категорий */
.one-column #categories .nav{
  font-size: 13px;
  padding-left: 10px;
}

.one-column #categories .categories_level_1 .nav li{
  padding: 1px 0;
}

/* Все ссылки в блоке категорий */
.one-column #categories .nav a{
  padding: 1px;
}

/* Блок корневых категории */
.one-column #categories .nav:first-child{
  font-size: inherit;
  padding-left: 0;
  padding-right: 0;
}

/* Выпадающий список с категориями в верхнем меню */
.one-column #categories .categories_level_1 > .nav{
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow:  0 2px 2px #ccc;
     -moz-box-shadow:  0 2px 2px #ccc;
          box-shadow:  0 2px 2px #ccc;
  display: none;
  left: 0;
  min-width: 200px;
  padding-left: 5px;
  position: absolute;
  z-index: 1200;
}

.one-column .order-form{
  width: 562px;
}

.one-column .SBwrapper{
  min-height: 300px;
}

.one-column .lp-products-item {
  margin-left: 0;
  margin-right: 0;
}

.one-column .lp-products-item:nth-child(3n + 3) {
  margin-right: 25px;
}

.one-column .lp-products-item:nth-child(3n + 2) {
  margin-left: 50px;
  margin-right: 50px;
}

.one-column .lp-products-item:nth-child(3n + 1) {
  margin-left: 25px;
}


@media (min-width: 810px) and (max-width: 979px) {
  .one-column .lp-products-item:nth-child(3n + 2) {
    margin-left: 25px;
    margin-right: 25px;
  }
}