<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
Платеж #{{ payment.pk }}<br />
{{ payment.payment.desc }}<br />
Успешно: {{ status|yesno:"Да,Нет" }}

<a href="{% url 'shop_payment_list' shop_id=payment.shop.pk %}">Вернуться в кабинет</a>
</body>
</html>