/* custom fonts */
@font-face{
  font-family: 'DirectCondensedLight';
    src: url('/static/custom/e5/fonts/als_direct_cond_light/als_direct_cond_light.eot');
    src: url('/static/custom/e5/fonts/als_direct_cond_light/als_direct_cond_light.eot?#iefix') format('embedded-opentype'),
         url('/static/custom/e5/fonts/als_direct_cond_light/als_direct_cond_light.woff') format('woff'),
         url('/static/custom/e5/fonts/als_direct_cond_light/als_direct_cond_light.otf') format('opentype'),
         url('/static/custom/e5/fonts/als_direct_cond_light/als_direct_cond_light.svg#DirectCondensedLight') format('svg');
  font-weight:normal;
}

@font-face{
  font-family: 'DaysRegular';
   src: url('/static/custom/e5/fonts/days_regular/days.eot');
   src: url('/static/custom/e5/fonts/days_regular/days.eot?#iefix') format('embedded-opentype'),
        url('/static/custom/e5/fonts/days_regular/days.woff') format('woff'),
        url('/static/custom/e5/fonts/days_regular/days.otf') format('opentype'),
        url('/static/custom/e5/fonts/days_regular/days.svg#DaysRegular') format('svg');
  font-weight:normal;
}

body{
  font: 15px / 21px Arial, sans-serif;
  color: #666;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
button,
.btn{
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}


.sb-header{
  box-shadow: none;
  height: 49px;
}

.SBwrapper > .row{
  padding-left: 0;
  padding-right: 0;
  position: relative;
  height: 100%;
}

.navbar-inner{
  background-color: #E9E9E9;
  background-image: -moz-linear-gradient(top,#eee,#e1e1e1);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#EEE),to(#E1E1E1));
  background-image: -webkit-linear-gradient(top,#EEE,#E1E1E1);
  background-image: -o-linear-gradient(top,#eee,#e1e1e1);
  background-image: linear-gradient(to bottom,#EEE,#E1E1E1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',endColorstr='#ffe1e1e1',GradientType=0);
  background-repeat: repeat-x;
  border: 1px solid #CCC;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

a, .SBproductHead{
  font-family: 'DirectCondensedLight', Arial, sans-serif;
  font-weight: normal;
  line-height: 28px;
  color: #0E97B0;
}

a:hover{
  color: #E93301;
}

h1, h2, h3, h4, h5{
  font-family: "DaysRegular", sans-serif;
}

/* Logo */
/*.logo{*/
  /*top: -3px;*/
  /*left: 3px;*/
/*}*/

/*.logo + .navbar-content{*/
  /*margin-left: 120px;*/
/*}*/

/* Top menu section */
#sb-header{
  padding-top: 0;
}

#nav-menu{
  font: normal 15px Arial, Helvetica, sans-serif;
}

#nav-menu li{
  margin-right: 0;
}

#nav-menu .badge{
  font-weight: bold;
  background-color: #ccc;
}

#nav-menu a{
  color: #666;
  text-shadow: none;
}

#nav-menu a:hover{
  color: #09D;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #09D;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > li > a{
  padding: 11px 10px 8px;
}

.SBproductFull{
  margin-top: 15px;
}

.SBproductFull th{
  color: #939598;
  font-weight: normal;
  font-style: italic;
}

.SBproductFull .tab-content{
  overflow: hidden;
}

.SBproductGrid h3 {
  font-size: 21.25px;
  line-height: 1;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SBproductGrid h3, .SBproductDetail h3{
  color: #0E97B0;
}

.SBproductDetail h3{
  font-size: 26.25px;
}

.sb-header .container{
  position: relative;
}

.btn,
input[type="submit"],
input[type="button"],
button{
  border-color: transparent;
  color: #fff;
  text-shadow: none;
}

.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover{
  background: #F26522;
  border-color: transparent;
  color: #fff;
  font-family: "DaysRegular";
}

.btn:hover,
.btn:focus,
.btn:active{
  border-color: transparent;
  color: #fff;
  background: #fe792a;
}

.sb-cart__item-trash.btn{
  font-size: 18px;
  padding: 1px 7px;
}

.sb-categories__item.active > a,
.sb-categories__item.active > a:hover,
.sb-categories__item.active > a:focus{
  background-color: transparent;
  cursor: default;
  color: #E93301;
  text-shadow: none;
}

.sb-categories__item.active > a:focus{
  border: 0;
  outline: 0;
}

.sb-categories__item.active > a > .products-count,
.sb-categories__item.active > a:hover > .products-count{
  color: #999;
}

.nav > li > a:hover,
.nav > li > a:focus{
  background: transparent;
  outline: 0;
}

.sb-categories__item > a:hover{
  color: #E93301;
}

.product-item{
  border: 1px solid #eee;
}

.product-item__toolbar {
  margin-bottom: 15px;
}

/* Цена товара в списке */
.SBproductGrid .product-item__price,
.SBproductDetail .product-item__price{
  background: url("/static/custom/e5/images/png_8_red_24.png") no-repeat scroll 100% -322px;
  border-radius: 8px 0 0 8px;
  color: #fff;
  display: inline-block;
  font-family: Verdana;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  padding: 0 19px 0 4px;
  position: relative;
  word-spacing: -2px;
  width: auto;
}

.SBproductDetail .product-item__desc{
  height: 105px;
}

.SBproductFull .well{
  background-color: #fff;
  border: 1px solid #F26522;
}

.SBproductFull .well-large{
  padding: 0 24px;
}

.SBproductFull .well > h1{
  color: #F26522;
}

.SBproductGrid .SBcartAdd{
  margin-top: 0;
}

/* Выбора размера у товара */
.variant-list ul > li:hover a,
.variant-list ul > li.active a{
  background-color: #F26522;
  border-color: #F26522;
  color: #fff;
  text-decoration: none;
}

/* Slider */
/*.bx-wrapper .bx-viewport{*/
  /*height: 345px !important;*/
/*}*/

.bx-wrapper{
  border-bottom: 1px solid #eee;
}

.sb-banner__control{
  background-color: #F26522;
  color: #fff;
}

.sb-banner__item-price{
  font: bold 18px / 31px Arial, sans-serif;
}

.sb-banner__item-desc{
  height: 147px;
  overflow: hidden;
}

.toolbar{
  font-family: 'DirectCondensedLight', Arial, sans-serif;
}

.toolbar__link{
  color: #F46B1B;
}

.toolbar__link:hover{
  border: 1px solid #F46B1B;
}

.toolbar__link_active{
  background: #F46B1B;
  color: #fff;
}

.search{
  background: transparent;
  border: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 5px;
  position: relative;
  top: 7.5px;
}

#search .search__input{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #000;
  line-height: 21px;
  height: auto;
  margin: 0;
  padding: 4px 6px;
  vertical-align: middle;
}

.search-results__item{
  border-bottom: 1px solid #eee;
}

/* Categories block */
#categories{
  font: normal 15px Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}

#categories ul {
    padding-right: 0;
}

#categories a{
  color: #0E97B0;
  text-shadow: none;
}

#categories .categories__link{
  border-bottom: 0;
  padding: 3px 15px;
  font-size: 14px;
  line-height: 15px;
}

#categories .categories__link:hover{
  background: none;
  color: #E93301;
}

#categories .active > a,
#categories .active > a:hover{
  background: none;
  color: #E93301;
}

.sb-categories__item.active > .categories__link > .products-count{
  color: #999;
}

.form-horizontal .control-group{
  margin-bottom: 12px;
}

.menu__item-news{
  display: none;
}

#cart-items .SBproductHead{
  line-height: 1;
}

.promocode td{
  vertical-align: top;
}

.promocode label{
  line-height: 28px;
}

#promocode-field{
  margin-bottom: 0;
}

.bx-wrapper{
  z-index: 90;
}

.discount{
  background-color: #fff;
  border: 1px solid #f26522;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  color: #F26522;
  font: 17px "DaysRegular", sans-serif;
  text-align: center;
  padding: 17px;
  margin: 0 0 16px 21px;
  z-index: 100;
  position: relative;
}

.SBcontent{
  z-index: 90;
}

.tt-dropdown-menu{
  font-family: 'DirectCondensedLight', Arial, sans-serif;
  color: #0E97B0;
}

.search .tt-is-under-cursor{
  background-color: #E27403;
  color: #fff;
}

.tt-hint{
  color: #ccc !important;
}

input[type="text"].search__input:focus{
  border-color: #ccc;
}

/* Оформление под 8-е марта */
/*.menu:after{*/
  /*background: url("/static/custom/e5/images/8_march.png");*/
  /*background-size: contain;*/
  /*content: '';*/
  /*position: absolute;*/
  /*width: 220px;*/
  /*height: 41px;*/
  /*top: 4px;*/
/*}*/

/*
#sb-header .logo {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 18px 1px 18px;
    margin: 5px 0 0 -39px;
    left: 3px;
    top: -3px;
}
#sb-header .logo > img {
    background: #fff;
    padding: 0 23px 2px;
    border-radius: 3px;
    margin-top: -1px;
}*/

.breadcrumb{
  font-family: 'DirectCondensedLight', Arial, sans-serif;
  background: #fff;
  padding: 0;
}

.breadcrumb .active{
  color: #E93301;
}

.one-column #categories .nav a {
  font-size: 13px;
  padding: 2px 0;
}

.one-column .categories_level_1.active{
  background: #F46B1B !important;
  cursor: default;
}

.one-column .categories_level_1.active > .categories__link{
  color: #fff !important;
  cursor: default;
}

.one-column #categories .categories_level_1 > .categories__link{
  padding: 2px 8px;
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover{
  background: #F46B1B !important;
  color: #fff !important;
}

/* Обратный звонок */
.product-item .fast-order__link,
.product-preview__price{
  background: #F46B1B;
  color: #fff;
}

.btn.btn-default{
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
}