@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'solomon_sans_bookregular';
    src: url('../fonts/solomon_sans_book-webfont.eot');
    src: url('../fonts/solomon_sans_book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_book-webfont.woff') format('woff'), url('../fonts/solomon_sans_book-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_book-webfont.svg#solomon_sans_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'solomon_sans';
    src: url('../fonts/solomon_sans_normal-webfont.eot');
    src: url('../fonts/solomon_sans_normal-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_normal-webfont.woff') format('woff'), url('../fonts/solomon_sans_normal-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_normal-webfont.svg#solomon_sans_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'solomon_sans_bold';
    src: url('../fonts/solomon_sans_bold-webfont.eot');
    src: url('../fonts/solomon_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_bold-webfont.woff') format('woff'), url('../fonts/solomon_sans_bold-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_bold-webfont.svg#solomon_sans_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'solomon_sans_semiboldregular';
    src: url('../fonts/solomon_sans_semibold-webfont.eot');
    src: url('../fonts/solomon_sans_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_semibold-webfont.woff') format('woff'), url('../fonts/solomon_sans_semibold-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_semibold-webfont.svg#solomon_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}