@charset "utf-8";
/* CSS Document */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600&subset=latin,cyrillic,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Maven+Pro:900);
/*font-family: 'Open Sans', sans-serif;*/

html, body{
	margin:0;
    padding:0;
	width:100%;
	height:100%;
}

div#main_container
{
	position:relative;
	width:1200px;
	height:100%;
	margin:0 auto;

    background:
        url(../images/design/main_logo.gif) no-repeat left top,
        url(../images/design/main_bg.gif) no-repeat center center;
    background-size: auto, contain;

}


		div#main_container div#main_text
		{
			position:absolute;
			bottom:10px;
			width:100%;
			height:auto;
		}

			div#main_container div#main_text p
			{
				font-family: 'Open Sans', sans-serif;
				font-size:2.85em;
				font-style:normal;
				font-weight:300;
				margin:0;
				line-height:56px;
				text-align:center;
				/*text-shadow:2px 2px 0 #fff;*/
			}

				div#main_container div#main_text p .bold
				{
					font-family: 'Maven Pro', sans-serif;
					font-weight:900;
					letter-spacing:-4px;
				}

				div#main_container div#main_text p.small
				{
					font-size:1.5em;
					font-weight:600;
					font-style:normal;
					line-height:normal;
					margin:45px 0 0 0;
				}

			div#main_text div#form
			{
				position:relative;
				width:365px;
				height:30px;
				margin:30px auto 0 auto;
			}

				div#main_text div#form p
				{
					font-family: 'Open Sans', sans-serif;
					font-size:1em;
					font-style:italic;
					margin:0;
					line-height:1em;
				}

				div#main_text div#form p .bold_m
				{
					font-weight:600;
				}

				div#main_text div#form input#text_field
				{
					width:210px;
					height:27px;
					border:0;
					background-color:#f9f9f9;
					border-radius:14px;
					padding:0 0 0 14px;
					box-shadow:
						0px 1px 1px rgba(0, 0, 0, 0.08),
						0px 1px 1px rgba(0, 0, 0, 0.35) inset;

					font-family: 'Open Sans', sans-serif;
					font-size:12px;
					font-style:italic;
					font-weight:300;

					display:inline;
				}
				div#main_text div#form input#text_field.wrong
				{
                    background-color: #ffcccc;
                }

				div#main_text div#form input#button
				{
					display:inline;
					margin:0 0 0 20px;
					cursor:pointer;
				}

		div#main_text div#social
		{
			position:relative;
			width:380px;
			height:60px;
			margin:50px auto 0 auto;

		}

			div#vkontakte
			{
				position:absolute;
				left:0px;
				top:0px;
				width:175px;
			}

			div#bliat_fb
			{
				position:absolute;
				left:180px;
				top:0px;
			}