@font-face {
  font-family: 'SchoolBook-Regular';
  src: url('/static/custom/pudra/fonts/SchoolBook-Regular/SchoolBook-Regular.eot');
  src: url('/static/custom/pudra/fonts/SchoolBook-Regular/SchoolBook-Regular.eot?#iefix') format('embedded-opentype'),
       url('/static/custom/pudra/fonts/SchoolBook-Regular/SchoolBook-Regular.woff') format('woff'),
       url('/static/custom/pudra/fonts/SchoolBook-Regular/SchoolBook-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background: url('/static/custom/pudra/images/pudra_bg.png') repeat;
  font: 12px Arial, Helvetica, sans-serif;
}

input[type="text"],
textarea{
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus{
  border-color: #E497AB;
}

input[type="submit"],
input[type="button"],
button,
.btn{
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FAEDF1), color-stop(100%, #ECB9C7));
  background: -webkit-linear-gradient(#FAEDF1,#ECB9C7);
  background: -moz-linear-gradient(#faedf1,#ecb9c7);
  background: -o-linear-gradient(#faedf1,#ecb9c7);
  background: linear-gradient(#FAEDF1,#ECB9C7);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #E6C1C1;
  color: #35292C;
  font-family: Georgia, Times, Sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}


.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active,
.btn:hover,
.btn:focus,
.btn:active{
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FAEDF1), color-stop(100%, #ECB9C7));
  background: -webkit-linear-gradient(#FAEDF1,#ECB9C7);
  background: -moz-linear-gradient(#faedf1,#ecb9c7);
  background: -o-linear-gradient(#faedf1,#ecb9c7);
  background: linear-gradient(#FAEDF1,#ECB9C7);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #E6C1C1;
  color: #35292C;
}

.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active{
  opacity: .7;
}

h1, h2, h3, h4, h5{
  font-family: 'SchoolBook-Regular', Arial, Helvetica, sans-serif;
  color: #35292C;
  font-weight: normal;
}

.SBwrapper{
  padding-top: 10px;
}

.sb-header, .navbar-inner{
  background: url('/static/custom/pudra/images/bg_pink.png') repeat-x #F4D7DB;
}

#sb-header{
  padding-top: 0;
}

.sb-header{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#nav-menu{
  font-family: Georgia, Times, Sans-serif;
}

#nav-menu a{
  font-size: 12px;
  color: #35292C;
  text-shadow: #FAECEE 0 1px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav-menu .active a,
#nav-menu .active a:hover,
#nav-menu a:hover{
  color: #D6607E;
}


#nav-menu .badge{
  background-color: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
}

#categories{
  font: 15px 'SchoolBook-Regular', Arial, Helvetica, sans-serif;
}

#categories .categories__link{
  color: #35292C;
}

#categories .categories__link:hover,
#categories .active > a:hover,
#categories .active > a{
  color: #D6607E;
}

#categories .categories__link{
  border-bottom: 0;
}

.product-item{
  background: #fff;
  border: 0;
  padding-top: 1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.SBnavigate{
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
     -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
  margin-left: 2px;
  padding-left: 12px;
}

.two-column-layout .SBnavigate{
  margin-left: 6px;
}

.two-column-layout .SBcontent{
  margin-left: 15px;
}

.toolbar__item-select{
  text-transform: uppercase;
}

/* Каталог товаров: списком */
.SBproductGrid .SBproductCover{
  height: 190px;
  width: 200px;
  margin-top: 10px;
}

.SBproductGrid{
  margin-left: 10px;
  margin-bottom: 10px;
  width: 220px;
}

.SBproductGrid:nth-child(3n + 1){
  margin-left: 20px;
}

.SBproductGrid .SBproductHead{
  margin-top: 10px;
  line-height: 18px;
  height: 54px;
  text-align: center;
  text-overflow: ellipsis;
}

.SBproductGrid .product-item__toolbar{
  text-align: center;
  margin: 15px 0;
}

.SBproductGrid .SBcartAdd{
  float: none;
}

.SBproductGrid .product-item__price{
  text-align: center;
}

.SBproductGrid, .SBproductDetail{
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
     -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
}

.SBproductDetail{
  margin-top: 0;
  margin-bottom: 10px;
}

.SBproductGrid .SBproductHead,
.SBproductDetail .SBproductHead{
  margin-top: 10px;
}

.SBproductFull, .search-results__item{
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
        -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /*padding-bottom: 10px;*/
}

.SBproductFull{
  padding-bottom: 10px;
}

.search-results__item{
  margin-bottom: 20px;
  margin-top: 0;
}

.search-results__title{
  margin-top: 0;
  margin-bottom: 5px;
}

.search-results__item{
  border: 0;
}

.search-results__item-desc{
  height: 72px;
}

#add-comment__textarea{
  margin-left: 10px;
  width: 320px;
}

#product-comments{
  padding-bottom: 10px;
}

.sb-banner__item-price,
.SBproductDetail .product-item__price{
  font-weight: normal;
  font-size: 20px;
}

.sb-banner__item-desc{
  padding-right: 20px;
}

.sb-banner__item-desc,
.SBproductDetail .product-item__desc {
  font-size: 15px;
  line-height: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
  background: #D6607E;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover{
  background: #E497AB;
}

.bx-wrapper .bx-viewport{
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
     -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
  left: 0;
  height: 270px !important;
}

.sb-banner__item-title{
  margin-top: 15px;
}

.sb-banner__item-price{
  color: #35292C;
  font: 18px/31px Arial, Helvetica, sans-serif;
}

.sb-banner__control{
  padding: 6px 9px;
}

.sb-banner__prev{
  left: 10px;
}

.sb-banner__next{
  right: 10px;
}

.sb-banner__icon{
  font-size: 20px;
}

.product-profile__title{
  margin-top: 0;
  text-align: center;
}

.product-item__price{
  color: #35292C;
  font: 14px/31px Arial, Helvetica, sans-serif;
  font-weight: 800;

}

.product-profile__desc{
  font-size: 14px;
  line-height: 20px;
  padding-right: 25px;
}

#product__breadcrumb{
  font-family: 'SchoolBook-Regular', Arial, Helvetica, sans-serif;
  padding: 10px 0 0 10px;
}

#product__breadcrumb a,
#product__breadcrumb .active{
  text-transform: uppercase;
}

.toolbar__item-title{
  color: #605658;
  text-transform: uppercase;
}

.toolbar__link{
  color: #D6607E;
  cursor: pointer;
  display: inline-block;
  line-height: 12px;
  padding: 3px 10px;
  text-transform: uppercase;
}

.toolbar__link:hover{
  border: 1px solid #D6607E;
  padding: 2px 9px;
}

.toolbar__link_active{
  background: #D6607E;
  cursor: default;
}

.toolbar__link_active,
.toolbar__link_active:hover{
  color: #fff;
}

.variant-list ul > li:hover a,
.variant-list ul > li.active a{
  background-color: #E497AB;
  border-color: #E497AB;
}

.variant-list ul > li.disabled a,
.variant-list ul > li.disabled:hover a{
  border-color: #E497AB;
}

.cloud-zoom__item:hover{
  border: 1px solid #E497AB;
}

.cloud-zoom__item.active{
  border-color: #E497AB;
}

#cart-items{
  font-size: 14px;
}

.search .tt-is-under-cursor{
  background-color: #E497AB;
  color: #fff;
}

.bx-wrapper{
  margin-top: 0;
}

.page,
.sb-cart{
  padding: 12px;
  background: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
     -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
  height: 100%;
}

.sb-header,
.navbar-inner{
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FAEDF1), color-stop(100%, #ECB9C7));
  background: -webkit-linear-gradient(#FAEDF1,#ECB9C7);
  background: -moz-linear-gradient(#faedf1,#ecb9c7);
  background: -o-linear-gradient(#faedf1,#ecb9c7);
  background: linear-gradient(#FAEDF1,#ECB9C7);
}

.one-column #categories .nav{
  float: none !important;
}

.one-column #categories .categories_level_1 > .nav{
  padding: 2px 2px 5px 10px;
  min-width: 190px;
}

.one-column .categories_level_2 > .nav{
  font-size: 12px;
  margin-left: 10px;
  margin-top: -5px;
}

.one-column .categories_level_1 .nav{
  margin-right: 0;
}

.one-column .categories_level_2 > a,
.one-column .categories_level_3 > a,
.one-column .categories_level_4 > a,
.one-column .categories_level_5 > a,
.one-column .categories_level_6 > a{
  font-size: 12px;
}


.one-column .categories_level_2 > .nav > li,
.one-column .categories_level_3 > .nav > li,
.one-column .categories_level_4 > .nav > li,
.one-column .categories_level_5 > .nav > li,
.one-column .categories_level_6 > .nav > li{
  line-height: 12px;
}

.one-column #categories .categories_level_1 > .nav .categories__link{
  padding: 1px;
}
.one-column .SBnavigate{
  background: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.one-column .categories_level_1:hover > .categories__link:hover,
.one-column #categories .categories_level_1.active,
.one-column #categories .categories_level_1.active:hover,
.one-column #categories .categories_level_1.active:active,
.one-column #categories .categories_level_1.is_mouseenter,
.one-column #categories .categories_level_1.is_mouseenter:hover,
.one-column #categories .categories_level_1.is_mouseenter > .categories__link:hover,
.one-column #categories .categories_level_1.is_mouseenter.active{
  background: #D6607E !important;
}

.product-profile__price .price{
  font-family: 'SchoolBook-Regular', Arial, Helvetica, sans-serif;
  background-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #000;
  padding: 0;
  font-size: 20px;
}

.product-profile__title,
.product-profile__price{
  margin-bottom: 35px;
}

.product-profile__price .SBcartAdd{
  margin-left: 15px;
}

.articulus__value{
  color: #D6607E;
}

.product-tabs{
  font-size: 14px;
}

#product-desc table th,
#product-desc table td{
  font-size: 14px;
}

.menu__item-cart .sb-icon-cart{
  font-size: 15px;
}

.menu__item-about_us,
.menu__item-contacts,
.menu__item-delivery{
  display: none;
}

.logo{
  margin-right: 32px;
}

.two-column-layout .search{
  margin-right: 12px;
  width: 320px;
}

.two-column-layout #search .search__input,
.two-column-layout #search .tt-hint{
  width: 320px;
}


.styled-select{
  background: url('/static/custom/pudra/images/arrow.png') no-repeat top right #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  height: 25px;
  vertical-align: middle;
  width: 210px;
  overflow: hidden;
  margin-top: -2px;
}

.styled-select .toolbar__item-select{
  background: transparent;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 13px;
  padding: 5px;
  line-height: 18px;
  height: 25px;
  width: 230px;
}

.styled-select .toolbar__item-select:focus,
.styled-select .toolbar__item-select:active{
  outline: 0;
}

.toolbar{
  height: 25px;
  line-height: 25px;
}

/* Спрятать хар-ки */
.tabs__title-1,
.tabs__desc-1{
  display: none !important;
}

.product-item .fast-order__link{
  background: #ECB9C7;
  color: #000;
  padding-top: 4px;
  padding-bottom: 4px;
}

.product-preview__price{
  background: #fff;
  color: #000;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}