/* Шрифты */
@font-face {
  font-family: 'AvantGardeGothicCTTRegular';
  src: url('/static/custom/conceptclub/fonts/avantgardengothicctt/avantgardegothicctt.eot');
  src: url('/static/custom/conceptclub/fonts/avantgardengothicctt/avantgardegothicctt.eot?#iefix') format('embedded-opentype'),
       url('/static/custom/conceptclub/fonts/avantgardengothicctt/avantgardegothicctt.svg') format('svg'),
       url('/static/custom/conceptclub/fonts/avantgardengothicctt/avantgardegothicctt.woff') format('woff'),
       url('/static/custom/conceptclub/fonts/avantgardengothicctt/avantgardegothicctt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-avantelt-demibold';
  src: url('/static/custom/conceptclub/fonts/demibold-webfont/a-avantelt-demibold-webfont.eot');
  src: url('/static/custom/conceptclub/fonts/demibold-webfont/a-avantelt-demibold-webfont.eot') format('embedded-opentype'),
       url('/static/custom/conceptclub/fonts/demibold-webfont/a-avantelt-demibold-webfont.woff') format('woff'),
       url('/static/custom/conceptclub/fonts/demibold-webfont/a-avantelt-demibold-webfont.ttf') format('truetype'),
       url('/static/custom/conceptclub/fonts/demibold-webfont/a-avantelt-demibold-webfont.svg#a-avantelt-demibold') format('svg');
}
/* Конец шрифтов */

body{
  font-family: 'AvantGardeGothicCTTRegular', Helvetica, sans-serif;
  color: #484848;
}

/* Заголовки */
h1, h2, h3, h4, h5, h6{
  font-family: 'a-avantelt-demibold';
}
.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active{
  background: none repeat scroll 0 0 #222;
  border: medium none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  box-shadow: 2px 2px 0 #9E9E9E;
  color: #fff;
  display: inline-block;
  text-align: center;
  font: 14px/34px 'avantgardegothiccttregular';
  height: 34px;
  padding: 0 10px 1px;
  text-shadow: 1px 1px 0 rgba(147, 147, 147, 0.4);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:active{
  background: #F5BED3;
  color: #545454;
  text-shadow: 1px 1px 0 rgba(50, 50, 50, 0.3);
}

.btn-infinite{
  font-size: 11px;
}

/* Верхнее меню */
.sb-header, .navbar-inner{
  background: #000;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
button,
.btn{
  font-family: 'AvantGardeGothicCTTRegular', Helvetica, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="text"]:active,
input[type="email"]:active,
input[type="text"]:focus,
input[type="email"]:focus{
  border: 1px none rgba(0, 0, 0, 0);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  box-shadow: 2px 3px 2px -2px rgba(0, 0, 0, 0.5) inset;
  padding: 7px 10px;
}

input{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  height: 25px;
  border: none;
  box-shadow: 2px 2px 1px rgba(35, 31, 32, 0.4) inset;
}

#nav-menu a{
  font: 400 12px 'AvantGardeGothicCTTRegular';
  color: #c2c1c1;
}

#nav-menu a:hover{
  color: #fff;
  text-decoration: underline;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #fff;
  text-decoration: none;
}

#nav-menu .sb-menu__badge{
  background: #000;
  font-weight: bold;
  padding: 0 0 0 6px;
}

#categories{
  font-family: inherit;
}

/* Скрыть переклю. видов */
.toolbar__item-disptype{
  display: none;
}

.SBproductGrid{
  margin-bottom: 30px;
}

.SBproductGrid .product-item{
  border: 0;
  padding: 0;
}

.SBproductGrid .product-item__cover{
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  height: 331px;
  margin-bottom: 0;
  width: auto;
}

.SBproductGrid .SBproductHead{
  font: 12px/20px 'avantgardegothiccttregular';
  height: 12px;
  line-height: 1;
  margin: 10px 0 2px;
}

.SBproductGrid .product-item__price{
  font: 18px/16px 'avantgardegothiccttregular';
  color: #1A1A1A;
  text-align: left;
}

.product-item .fast-order__link{
  background: #F5BED3;
}

.product-preview__price{
  background: #fff;
  color: #000
}

.product-profile__price .price{
  font-family: 'a-avantelt-demibold';
  background: #fff;
  color: #222;
  padding: 0;
}

.product-profile__title{
  margin-top: 0;
}

.variant-list > ul > li:hover{
  background: #000;
  color: #fff;
}

.variant-list-item:hover{
  background: #000;
  color: #fff;
}

.variant-list ul > li:hover a,
.variant-list ul > li.active a{
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-decoration: none;
}

.variant-list > .variant-list__title{
  color: #222;
  font-size: 14px;
  text-transform: uppercase;
}

.cloud-zoom__item:hover,
.cloud-zoom__item.active{
  border-color: #000;
}

.breadcrumb a{
  font: 12px/20px 'avantgardegothiccttregular';
  color: #8E8E8E;
}

.search{
  top: 2px;
}

.search .tt-is-under-cursor{
  color: #F5BED3;
}

.app-wrapper.one-column #search{
  right: 10px
}

.one-column .categories_level_1.active{
  background: #000 !important;
}

.sb-banner__control{
  background-color: #F5BED3;
}