body{
  font: 12px 'Calibri', Arial, Tahoma, Verdana, sans-serif;
  color: #666;
}

.app-wrapper{
  background: url("/static/custom/pumpu/images/bg.jpg") no-repeat scroll center top #FFF;
}

@media (min-width: 980px) {
  .app-wrapper.one-column{
    width: 980px;
  }
}

@media (min-width: 810px) and (max-width: 979px) {
  .sb-header{
    width: 808px; /* коме */
  }

  .one-column #nav-menu li{
    margin-right: 1px;
  }

  .one-column .tt-dropdown-menu{
    margin-left: -56px;
  }

  .one-column .SBproductGrid{
    margin-right: 22px;
  }
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover{
  color: #fe792a !important;
  background: transparent !important;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.one-column .categories_level_1.active > a:hover,
.one-column .categories_level_1.active:hover > a:hover{
  color: #fff !important;
}

.one-column .page-title{
  margin-top: 15px;
}

h1, h2, h3, h4, h5{
  font-family: 'Calibri', Arial, Tahoma, Verdana, sans-serif;
  font-weight: normal;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
button,
.btn{
  font-family: 'Calibri', Arial, Tahoma, Verdana, sans-serif;
}

.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover{
  background: #fe792a;
  border-color: transparent;
  color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active{
  background: #fe792a;
  border-color: transparent;
  color: #fff;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/* Стили бутстрапа сбрасываем */
table th{
  font-size: 15px;
}

.SBwrapper > .row{
  padding-left: 0;
  padding-right: 0;
}

.navbar .nav > li > a{
  padding: 0;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover{
  color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.sb-header,
.navbar-inner{
  background: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#sb-header{
  padding-top: 10px;
}

.navbar-inner{
  /* IE, отменить градиент */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 0;
  background: none;
}

#sb-header > .navbar-inner{
  position: relative;
}

.nav > li > a:hover,
.nav > li > a:focus{
  background: none;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus{
  text-shadow: none;
  background: none;
}

.logo{
  margin-right: 20px;
}

.one-column .logo{
  margin-right: 10px;
}

a{
  font-size: 16px;
  color: #000;
}

a:hover{
  color: #e27403;
}

/* Меню */
#nav-menu{
  font: 12px 'Calibri', Arial, Tahoma, Verdana, sans-serif;
}

#nav-menu a{
  background: url("/static/custom/pumpu/images/nav_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  height: 30px;
  line-height: 25px;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #fff;
  background: url("/static/custom/pumpu/images/nav_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#nav-menu a:hover{
  color: #fff;
}

#nav-menu .container{
  position: relative;
}

/* Каталог и Новости */
#nav-menu a[data-alias="catalog"],
#nav-menu a[data-alias="news"],
#nav-menu a[data-alias="delivery"]{
  background-position: 0 -210px;
  width: 116px;
}

#nav-menu li > a[data-alias="news"]:hover,
#nav-menu li > a[data-alias="delivery"]:hover,
#nav-menu .active > a[data-alias="catalog"],
#nav-menu .active > a[data-alias="news"],
#nav-menu .active > a[data-alias="delivery"]{
  background-position: 0 -245px;
}

/* О нас */
#nav-menu a[data-alias="about_us"]{
  background-position: 0 -140px;
  width: 96px;
}

#nav-menu li > a[data-alias="about_us"]:hover,
#nav-menu li.active > a[data-alias="about_us"]{
  background-position: 0 -175px;
}

/* Контакты */
#nav-menu a[data-alias="contacts"]{
  background-position: 0 -420px;
  width: 116px;
}

#nav-menu a[data-alias="contacts"]:hover,
#nav-menu li.active > a[data-alias="contacts"]{
  background-position: 0 -455px;
}

/* Корзина */
#nav-menu a[data-alias="cart"]{
  background-position: 0 -280px;
  width: 153px;
  /*height: 28px;*/
}

#nav-menu a[data-alias="cart"]:hover,
#nav-menu li.active > a[data-alias="cart"]{
  background-position: 0 -315px;
}

#nav-menu li{
  margin-right: 10px;
}

#nav-menu .badge{
  background-color: #f9f5ed;
  color: #000;
  font-weight: bold;
  margin-left: 6px;
  position: relative;
  top: -2px;
}

/* Категории */
#categories{
  font: 12px 'Calibri', Arial, Tahoma, Verdana, sans-serif;
}

#categories .sb-categories__item.active > a,
.sb-categories__item.active > .categories__link{
  color: #e27403;
  cursor: default;
}

#categories .categories__link{
  padding: 3px 15px;
  border: 0;
}

#categories .categories__link:hover{
  color: #e27403;
}

#categories .sb-categories__item.active .products-count{
  color: #aaa;
}

#categories ul li{
  border-bottom: 1.5px #c9d0c0 solid;
  padding-bottom: 4px;
  padding-top: 4px;
}

#categories li:last-child{
  border-bottom: 0;
}

.SBproductList > .btn-group{
  margin-bottom: 15px;
}

.SBproductGrid{
  border-bottom: 0;
}

.SBproductGrid .lead{
  font-size: 18px;
  font-weight: bold;
}

.SBproductGrid .SBproductCover{
  height: 180px;
}

.product-profile__title{
  line-height: 40px;
}

.product-item__toolbar{
  margin-top: 0;
  margin-bottom: 22px;
}

.product-item__price{
  font: bold 18px 'Calibri' Arial;
  color: #666;
}

.product-item__desc{
  font-size: 14px;
  line-height: 1.3;
}

.SBproductGrid > .product-item,
.SBproductDetail .product-item{
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.SBproductDetail .product-item__desc{
  height: 129px;
}

.SBproductDetail{
  margin-bottom: 20px;
  overflow: visible;
  height: 242px;
}

.SBproductGrid > .product-item:hover,
.SBproductDetail > .product-item:hover{
  -webkit-box-shadow: 0 0 5px #8c7975;
     -moz-box-shadow: 0 0 5px #8c7975;
          box-shadow: 0 0 5px #8c7975;
}

/* Слайдер */
.bx-wrapper .bx-viewport{
  background: none;
  border: 0;
}

.bx-wrapper .bx-loading{
  background-color: transparent;
}

.sb-banner__item{
  height: 229px;
}

.sb-banner__item h3{
  font-weight: bold;
  color: #000;
  margin-top: 0;
  line-height: 1;
}

.sb-banner__control{
  background-color: #e37601;
  color: #fff;
}
/* end of Slider styles */

/* Список продуктов */
.SBproductHead{
  overflow: hidden;
}

.SBproductGrid .SBproductHead,
.SBproductDetail .SBproductHead{
  font-weight: bold;
  color: #619913;
}

.SBproductGrid .SBproductHead{
  font-size: 16px;
}

.SBproductGrid{
  margin-bottom: 26px;
}

.SBproductDetail,
.SBproductGrid{
  position: relative;
}

.SBproductDetail .SBproductHead{
  font-size: 22px;
  height: 45px;
  line-height: 1;
  margin-bottom: 0;
}

.SBproductGrid .SBcartAdd{
  float: right;
  margin-top: -6px;
}

.SBproductGrid .SBcartAdd:active{
  bottom: 73px;
}

.SBproductGrid .SBcartAdd,
.SBproductList .SBcartAdd{
  font-size: 16px;
}

.SBproductDetail .product-item__price{
  font-size: 20px;
}

.SBproductGrid .SBcartAdd:hover,
.SBproductList .SBcartAdd:hover{
  color: #fff;
  text-decoration: none;
}

.SBproductDetail .SBcartAdd{
  margin-top: -6px;
}

.SBproductDetail .SBcartAdd:active{
  top: 60px;
}

.SBproductDetail .desc,
.SBproductGrid .desc{
  font-size: 16px;
  overflow: hidden;
}

.SBproductGrid .desc{
  height: 37px;
}

.SBproductDetail .desc {
  height: 114px;
}

/* Пагинатор */

.pagination ul{
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.pagination ul > li > a,
.pagination ul > li.three-dots > a:hover{
  color: #619913;
}

.pagination ul > li.active > a,
.pagination ul > li.active > a:hover{
  color: #ccc;
}

.pagination ul > li > a:hover{
  color: #e27403;
}

/* Новости */
.sb-news-list__item small{
  font-size: 14px;
}

.SBproductFull{
  margin-top: 20px;
}

.SBproductFull .span6 p{
  font-size: 16px;
}

/* Корзина */
.SBcartAdd{
  border: 0;
  background: url("/static/custom/pumpu/images/buy_btn.png") no-repeat scroll center 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px 0;
  width: 100px;
  line-height: 16px;
}

.SBproductFull .SBcartAdd{
  background: url("/static/custom/pumpu/images/buy_btn_big.png") no-repeat scroll center 0;
  border: 0;
  font-size: 17px;
  padding: 22px 0;
  line-height: 22px;
  width: 140px;
}

.SBproductFull .SBcartAdd:hover,
.SBproductFull .SBcartAdd[disabled=disabled],
.SBproductFull .SBcartAdd[disabled=disabled]:hover{
  background-position: center -70px;
}

#nav-menu a:active,
.SBproductFull .SBcartAdd:active{
  position: relative;
  top: 1px;
}

.SBproductFull .SBcartAdd[disabled=disabled]:active{
  top: 0;
}

.SBcartAdd:focus{
  outline: 0;
}

.SBcartAdd:hover,
.SBcartAdd[disabled=disabled],
.SBcartAdd[disabled=disabled]:hover{
  background-position: center -55px;
}

.SBcartAdd[disabled=disabled],
.SBcartAdd[disabled=disabled]:hover{
  cursor: default;
}

.sb-cart td,
td .SBproductHead{
  font-size: 16px;
}

tr.lead td{
  font-size: 20px;
}

.variant-list:last-child {
  margin-bottom: 0;
}

.variant-list ul > li:hover a,
.variant-list ul > li.active a {
  background-color: #619913;
  border-color: #619913;
}

.tabs-below + .SBcartAdd{
  margin-top: 30px;
}

.SBproductFull .SBcartAdd{
  margin-left: auto;
  margin-right: auto
}

/*#nav-menu{*/
  /*margin-left: -36px;*/
/*}*/

.toolbar__link{
  color: #e58d33;
}

.toolbar__link:hover{
  border-color: #e58d33;
}

.toolbar__link_active{
  background-color: #e58d33;
}

.toolbar__link_active,
.toolbar__link_active:hover{
  color: #fff;
}

.order-form > .control-group{
  line-height: 31px;
  margin-bottom: 13px;
}

.order-form .control-label{
  line-height: 27px;
  padding-top: 0;
}

.order-form .control-input{
  font-size: 13px;
  padding: 2px 4px;
}

.order-form .controls{
  line-height: 1;
}

.menu__item-news{
  display: none;
}

.navbar-content{
  position: relative;
}

.search{
  border: 0;
  background-color: transparent;
  color: #8C7975;
  position: absolute;
  right: 38px;
  top: 0;
  width: 145px;
}

#search input.search__input,
#search input.tt-hint{
  border: 3px solid #8c7975;
  font-size: 13px !important;
  padding: 0 6px;
  width: 100%;
}

#search .tt-hint{
  color: #ccc;
}

.search .tt-is-under-cursor{
  background-color: #6eaf17;
  color: #fff;
}

.tt-dropdown-menu{
  width: 153px;
}

#search .search__input:focus{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#search .search__btn,
#search .search__btn.disabled,
#search .search__btn.disabled:hover{
  color: #a59d9b;
}

#search .search__btn:hover{
  color: #8C7975;
}

.search-results__item-price{
  font-size: 18px;
}

.search-results__item{
  padding-top: 5px;
  padding-bottom: 0;
}

.search-results__item:last-child{
  border-bottom: 0;
}

.search-results__item-cover{
  height: 80px;
}

.search-results__item-desc{
  height: 42px;
  margin-bottom: 10px;
  overflow: hidden;
}

.tt-hint{
  height: 21px;
  line-height: 21px;
}

.tt-dropdown-menu{
  top: 30px !important;
}

/* One column layout */
@media (min-width: 980px) {
  .one-column .search{
    right: 15px;
    width: 150px;
  }

  .one-column .tt-dropdown-menu,
  .one-column .search{
    width: 150px;
  }
}

.one-column .sb-header{
  background: #fffdf5;
  border: 1px solid #E2BE92;
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 0 10px #C09981;
     -moz-box-shadow: 0 0 10px #C09981;
          box-shadow: 0 0 10px #C09981;
  padding-top: 10px;
  padding-bottom: 8px;
}

.one-column #categories a:hover{
  color: #e27403;
}

.one-column #categories ul li{
  border: 0;
  float: none;
  padding-bottom: 2px;
  padding-top: 2px;
}

/* Root link in dropdown settings */
.one-column #categories .categories_level_1.is_mouseenter,
.one-column #categories .categories_level_1.is_mouseenter > a,
.one-column #categories .categories_level_1.is_mouseenter > a:hover,
.one-column #categories .categories_level_1.is_mouseenter.active{
  background-color: #8c7975;
  color: #fff !important;
}

.one-column #categories .categories_level_1.is_mouseenter.active > .categories__link{
  line-height: inherit;
}

.one-column #categories .categories_level_1.active{
  background: #619913 !important;
}

.one-column #categories .categories_level_1.is_mouseenter > .categories__link,
.one-column #categories .categories_level_1.is_mouseenter > .categories__link:hover{
  color: #fff;
}

.one-column #categories .categories_level_1 [class*="subcat"]{
  float: none;
}

/* Dropdown settings */
.one-column #categories .categories_level_1 > .nav{
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ab8d86;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  min-width: 200px;
  z-index: 1200;
}

.one-column #categories .categories_level_2,
.one-column #categories .categories_level_3,
.one-column #categories .categories_level_4,
.one-column #categories .categories_level_5{
  padding: 4px 7px;
}

.one-column #categories .categories__link{
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.SBcartPrepare, .SBcartPrepare:hover,
.SBcartOrder, .SBcartOrder:hover{
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.SBcartPrepare,
.SBcartOrder{
  background: url('/static/custom/pumpu/images/green_button.png') no-repeat scroll center 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 0;
  font-size: 13px;
  width: 150px;
  height: 35px;
  color: #fff;
}

.SBcartPrepare:hover,
.SBcartPrepare:active,
.SBcartPrepare:focus,
.SBcartOrder:hover,
.SBcartOrder:active,
.SBcartOrder:focus{
  background: url('/static/custom/pumpu/images/green_button.png') no-repeat scroll 0 -40px;
}

.SBcartPrepare:active,
.SBcartOrder:active,
.SBcartPrepare.disabled,
.SBcartOrder.disabled,
.SBcartPrepare.disabled:hover,
.SBcartOrder.disabled:hover,
.SBcartPrepare[disabled],
.SBcartOrder[disabled],
.SBcartPrepare[disabled]:hover,
.SBcartOrder[disabled]:hover{
  background: url('/static/custom/pumpu/images/green_button.png') 0 -80px;
}

.breadcrumb{
  font-size: 16px;
  background: transparent;
  border: 0;
  color: #619913;
  padding: 0;
}

.breadcrumb > li > .divider{
  color: #619913;
}

.breadcrumb a{
  color: #619913;
}

.breadcrumb .active{
  color: #000;
  text-shadow: none;
}

/* Обратный звонок */
.product-item .fast-order__link{
  right: -29px;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
}

.product-preview__price{
  background: #fff;
  color: #666;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}