<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
    <title>{{ product.name }}</title>
    <meta property="fb:app_id"              content="{{ shop.shopprofile.fb_app_id }}" />
    <meta property="og:type"                content="product" />
    <meta property="og:title"               content="{{ product.name }}" />
    <meta name="title"                      content="{{ product.name }}" />
    <meta property="og:url"                 content="{{ original_url }}" />
    <meta property="og:image"               content="{{ product.cover }}" />
    <link rel="image_src"                   href="{{ product.cover }}" />
    <meta property="og:description"         content="Цена: {{ product.price|floatformat }}
    {{ product.desc|striptags }}" />
    <meta name="description"                content="Цена: {{ product.price|floatformat }}
    {{ product.desc|striptags }}" />
    <meta property="product:price:amount"   content="{{ product.price|floatformat }}" />
    <meta property="product:price:currency" content="RUB" />

</head>
<body onload="javascript: window.location = '{{ url }}';">
<noscript>
    <a href="{{ url }}">{{ product.name }}</a>
    <img src="{{ product.cover }}"/>
</noscript>
</body>
</html>
{# <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">#}
{#  <meta property="product:shipping_cost:amount"   content="Sample Shipping Cost: " />#}
{#  <meta property="product:shipping_cost:currency" content="Sample Shipping Cost: " />#}
{#  <meta property="product:weight:value"           content="Sample Weight: Value" />#}
{#  <meta property="product:weight:units"           content="Sample Weight: Units" />#}
{#  <meta property="product:shipping_weight:value"  content="Sample Shipping Weight: Value" />#}
{#  <meta property="product:shipping_weight:units"  content="Sample Shipping Weight: Units" />#}
{#  <meta property="product:sale_price:amount"      content="Sample Sale Price: " />#}
{#  <meta property="product:sale_price:currency"    content="Sample Sale Price: " />#}
{#  <meta property="product:sale_price_dates:start" content="Sample Sale Price Dates: Start" />#}
{#  <meta property="product:sale_price_dates:end"   content="Sample Sale Price Dates: End" />#}
{#TODO: https://developers.facebook.com/docs/reference/opengraph/object-type/product/#}
