@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic,cyrillic-ext);

html, body{
  font-family: 'Roboto', Arial, Verdana, sans-serif !important;
}

h1,h2,h3,* {
    font-family: 'Roboto', sans-serif;
}

.btn {
	color: #000;
	text-shadow: none;
	font-size: inherit; /* Убрать при запуске */
	font-weight: normal;
	background: #FF8400;
	background: -webkit-linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
	background:    -moz-linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
	background:      -o-linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
	background:         linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
	border: 1px solid #ccb92b;
	font-size: 12px;
	font-weight: bold;
font-family: Tahoma, Arial, Verdana, sans-serif;}

.btn:hover, .btn:focus, .btn:active, .btn.disabled, .btn[disabled], .btn.disabled:active, .btn[disabled]:active, .btn.disabled:hover, .btn[disabled]:hover {
	color: #000;
	background-position: 0 0;
	background: #ffa200;
	border: 1px solid #ccb92b;
}

a { color: #000; }
a:hover { color: #F90; }

.sb-header {
  box-shadow: 0 0 20px rgba(50,50,50,.5);
  margin-bottom: 0;
  /*min-width: 980px;*/
  position: relative;
  width: 100%;
  z-index: 101;
}

.sb-header > .navbar-inner{
  border-radius: 5px;
}

.one-column .sb-header .navbar-inner{
  padding-bottom: 10px;
}

.logo{
  height: 150px;
  width: 150px;
  position: absolute;
  top: -3px;
  left: 15px;
}

.logo>img {
    height: 150px;
}

.one-column .logo{
 height: 100px;
 width: 100px;
}
.one-column .logo > img{
  height: 90px;
}

.one-column .SBnavigate{
  margin-top: 42px;
}

#sb-header {
    padding-top: 0;
    position: relative;
}

.navbar-inner {
    min-height: 70px;
    padding-right: 40px;
    padding-left: 20px;
    background-color: #fff100;
    background-image: -moz-linear-gradient(top,#fff100,#e4c610);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff100),to(#e4c610));
    background-image: -webkit-linear-gradient(top,#fff100,#e4c610);
    background-image: -o-linear-gradient(top,#fff100,#e4c610);
    background-image: linear-gradient(to bottom,#fff100,#e4c610);
    background-repeat: repeat-x;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff100',endColorstr='#ffe4c610',GradientType=0);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(81, 81, 81, 1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(81, 81, 81, 1);
    box-shadow: 0px 3px 8px 0px rgba(81, 81, 81, 1);
}

.logo + .navbar-content{
  margin-left: 190px;
}
.navbar .nav>li {
	margin-right: 5px;
}
.navbar .nav > li > a {
	padding: 3px 12px 6px;
	text-shadow: none;
	-webkit-transition: color ease-in-out .2s;
	-moz-transition: color ease-in-out .2s;
	-o-transition: color ease-in-out .2s;
	transition: color ease-in-out .2s;
	float: none;
	color: #000;
	text-decoration: none;
	/*text-shadow: 1px 0px 1px rgba(68, 68, 68, 1);*/
	font-family: 'Roboto', sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	/*font-weight: bold;*/
	font-size: 16px;
}
#nav-menu {
margin-top: 20px;
}
#nav-menu a:hover {
    color: #000;
}
.navbar .nav>li>a:hover {
	background: url(../images/menu-hover-back.png) top left repeat;
	color: #000;
}

#nav-menu .active > a,
#nav-menu .active > a:hover {
	color: #fff !important;
	text-decoration: none;
	background-color: transparent;
	box-shadow: none ;
	background: #000;
}

.menu__item-cart {
	padding: 3px 15px 0 50px;
	background: url(../images/cart-back.png) top left no-repeat;
	height: 27px;
	margin-top: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    list-style: none;
}

#nav-menu .badge{
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background: none;
}

.one-column .menu__item-cart{
  margin-top: 0;
}

.menu__item-cart a, .menu__item-cart a:hover {
	text-decoration: none;
	color: #000;
}
.menu__item-cart .sb-menu__badge {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background: none;
}

.SBnavigate {
  margin-left: -10px;
}

.two-column-layout .categories{
  width: 195px;
  padding-left: 22px;
}

.categories h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

#categories .categories__link {
  border-bottom: 1px solid #000;
  padding: 6px 10px;
}

#categories .categories__link:hover{
  color: #000;
}

.categories > ul.nav-list > li > a {
  margin: 0;
  padding: 6px 10px;
  color: #000;
}
.categories > ul.nav-list > li.active > a {
  background: #000 !important;
  color: #fff !important;
}
.categories > ul > li.with-dropdown:hover > a{
  background-color: #09d;
  border-right: 0;
  color: #fff;
  padding: 3px 15px;
  text-shadow: none;
}

.categories > ul > li.with-dropdown:hover  small{
  color: #fff;
}

#categories .categories__link{
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 15px;
}

/*.one-column .categories_level_1.active{*/
  /*background: #000 !important;*/
/*}*/

.one-column .categories_level_1,
.one-column .categories_level_1:hover,
.one-column .categories_level_1.active,
.one-column .categories_level_1.active:hover{
  background: transparent !important;
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover,
.one-column .categories_level_1 > a:hover,
.one-column .categories_level_1:hover > a,
.one-column .categories_level_1:hover > a:hover,
.one-column .categories_level_1.active > a,
.one-column .categories_level_1.active:hover > a,
.one-column .categories_level_1.active > a:hover{
  background: #000 !important;
  color: #fff;
}


.product-item{
  cursor: pointer;
  position: relative;
  border: 1px solid #aeaeae;
  border-radius: 0;
  padding: 8px;
}
.SBproductGrid .SBproductHead, .SBproductDetail .SBproductHead	{
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: underline;
	font-weight: normal;
	font-size: 18px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
}

.product-item__desc {
	margin: 0 -8px 0 -8px;
	padding: 5px 8px;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	font-size: 12px;
	line-height: 15px;
}

.product-item__toolbar {
	margin-top: 10px;
	margin-bottom: 10px;
}
.product-item__price {
	font: bold 18px / 31px Tahome, Arial, Verdana, sans-serif;
	color: #000;
	margin-bottom: 2px;
}


.toolbar__link{
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  line-height: 12px;
  padding: 3px 10px;
}

.toolbar__link:hover{
  border: 1px solid #000;
  padding: 2px 9px;
}

.toolbar__link_active{
  background: #000;
  cursor: default;
}

.toolbar__link_active .toolbar__item-icon {
	color: #ffeb3c;
}

.toolbar__link_active,
.toolbar__link_active:hover{
  color: #fff;
}

.search{
  background: transparent;
  color: #ccc;
  display: block;
  margin: 26px 0 0 20px;
  outline: 0;
  position: relative;
  width: 182px;
  padding: 16px 18px 16px 10px;
  background: url(../images/search-back.png) top left no-repeat;
}

.app-wrapper.one-column #search{
  position: absolute;
  top: -22px;
  right: -40px;
  z-index: 1000;
  background: transparent;
  width: 185px;
}

.one-column .navbar .nav > li > a{
  padding: 3px 8px 6px;
}

.one-column #nav-menu{
  margin-left: -65px;
}

.one-column #nav-menu li{
  margin-right: 5px;
}

.one-column #nav-menu .menu__item-cart.active > a,
.one-column #nav-menu .menu__item-cart.active > a:hover,
.one-column #nav-menu .menu__item-cart > a:hover{
  color: #000 !important;
  background: transparent;
}

.one-column .SBproductFull{
  margin-top: 20px;
}


.search input {
  width: 100%;
  border-color: #b59c00;
  font-size: 12px;
}

.search .tt-is-under-cursor {
  background-color: #b59c00;
  color: #000;
}

.sb-banner__control{
  background-color: #F6E11A;
}

#products-pagination{
  font-size: 15px;
}

.one-column #categories .categories_level_1 > .categories__link {
  padding: 3px 8px;
}

/* Обратный звонок */
.product-item .fast-order__link{
  background: #FECD11;
  color: #000;
}

.product-preview__price{
  background: #fff;
  color: #000;
}

.btn.btn-default:hover,
.btn.btn-default:focus{
  background-color: #E6E6E6;
  background-position: 0 -15px;
  border: 1px solid #CCC;

  -webkit-transition: background-position .1s linear;
     -moz-transition: background-position .1s linear;
       -o-transition: background-position .1s linear;
          transition: background-position .1s linear;
}