body{
  background: #fff url('../images/bg.png');
  color: #333;
  font: 13px Tahoma, Arial, Verdana, sans-serif;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
button,
.btn{
  font-family: Tahoma, Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}

textarea:focus,
input[type="text"]:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a{
  color: #000;
}

a:hover{
  color: #F90;
}

.SBproductFull a[target="_blank"]{
  position: relative;
  padding-left: 15px;
}

.SBproductFull a[target="_blank"]:after{
  background: url('/static/custom/220-volt/images/external.png') no-repeat;
  content: '';
  height: 11px;
  position: absolute;
  top: 4px;
  right: -15px;
  width: 11px;
}

.volt-icon{
  background: url('/static/custom/220-volt/images/220v.png') no-repeat;
  width: 22px;
  height: 19px;
  content: '';
  position: absolute;
  top: -1px;
  left: -7px
}

.logo{
  margin: 4px 15px 0 40px;
}

h1, h2, h3, h4, h5{
  font-family: inherit;
  font-weight: normal;
}

input[type="text"],
label{
  font-size: 12px;
}

.btn{
  color: #000;
  text-shadow: none;
  font-size: inherit; /* Убрать при запуске */
  font-weight: normal;
  background: #FF8400;
  background: -webkit-linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
  background:    -moz-linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
  background:      -o-linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
  background:         linear-gradient(to bottom, #faef5e 0%,#efdb3a 100%);
  border: 1px solid #ccb92b;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
  font-size: 12px;
  font-weight: bold;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled:hover,
.btn[disabled]:hover{
  color: #000;
  background-position: 0 0;
  background: #ffa200;
  background: -webkit-linear-gradient(to bottom, #faef5e 0%, #efdb3a 100%);
  background:    -moz-linear-gradient(to bottom, #faef5e 0%, #efdb3a 100%);
  background:      -o-linear-gradient(to bottom, #faef5e 0%, #efdb3a 100%);
  background:         linear-gradient(to bottom, #faef5e 0%, #efdb3a 100%);
  border: 1px solid #ccb92b;
}

/* HEAD Menu */
#sb-header{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  font-size: 1.2em;
  padding: 0;
}

#sb-header a{
  color: #fff;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
  text-shadow: none;
  text-decoration: none;
}

#sb-header .navbar-inner{
  background-color: #ffec3d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffec3d), to(#fecd11));
  background-image: -webkit-linear-gradient(top, #ffec3d, #fecd11);
  background-image:    -moz-linear-gradient(top, #ffec3d, #fecd11);
  background-image:      -o-linear-gradient(top, #ffec3d, #fecd11);
  background-image:         linear-gradient(to bottom, #ffec3d, #fecd11);
  border-bottom: 1px solid #999999;

  height: 70px;
}

/* Top menu section */
#nav-menu{
  font: normal 12px Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: 60px;
}

#nav-menu li{
  margin-right: 10px;
  background: #e5c624;
  border-radius: 5px;
}

#nav-menu .badge{
  font-weight: bolder;
  background: none;
  color: inherit;
}

#nav-menu a{
  color: #000;
  text-shadow: none;
  border-radius: 5px;
}

#nav-menu a#cart-badge{
    background-image: url('../images/cart_b.png');
    background-repeat: no-repeat;
    padding-left: 38px;
    background-position: 15px 7px;
}

#nav-menu a#cart-badge:hover, #nav-menu a#cart-badge.active{
    background-image: url('../images/cart.png');
    background-repeat: no-repeat;
    padding-left: 38px;
    background-position: 15px 7px;
}

#nav-menu a:hover{
  color: #fff;
  background: #000;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #fff;
  background: #000;
  text-decoration: none;
}

.navbar .nav > li > a {
    padding: 5px 20px;
}

.app-wrapper{
  background: #fff;
}

.SBwrapper > .row{
  padding-left: 0;
  padding-right: 0;
}

/* Categories block */
#categories{
  font: normal 12px Tahoma, Arial, Verdana;
  padding: 0 20px 0 20px;
}

#categories ul{
    padding: 0
}

#categories ul li{
    line-height: 15px;
    min-height: 30px;
}

#categories li>a{
    margin: 0;
    padding-left: 10px;
}

#categories>ul>li>a {
    font-size: 15px;
    font-weight: bold;
}

#categories .categories__link {
    padding-left: 10px;
}

#categories li ul li a:before {
    content: "— ";
}

#categories .active > a, #categories .active > a:hover, #categories .categories__link:hover{
    background: #000;
    color: #fff;
}

/* Cart Links */
#cart-items a{
  color: #000;
    font-size: 14px;
}

.SBproductGrid, .SBproductDetail{
  margin-bottom: 25px;
}

.SBproductGrid h3{
  height: 43px;
  overflow-y: hidden;
}

.SBproductHead{
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: normal;
  font-size: 18px;
}

/* Toolbar */
.toolbar{
  font-family: inherit;
}

.toolbar__link,
.toolbar__link:hover{
  color: #000;
}

.toolbar__link:hover{
  border: 1px solid #000;
}

.toolbar__link_active{
  background-color: #000;
  border: #000;
}

.toolbar__link_active,
.toolbar__link_active:hover{
  color: #fff;
}

.toolbar__link_active .toolbar__item-icon{
    color: #ffeb3c;
}

.bx-wrapper{
  border-bottom: 1px solid #eee;
}

.sb-banner__item-desc{
  height: 98px;
}

.sb-banner__item-price{
  font: bold 18px / 31px Tahome, Arial, Verdana, sans-serif;
}

.sb-banner__control{
  background-color: #000;
}

.sb-banner:hover .sb-banner__prev,
.sb-banner:hover .sb-banner__next,
.sb-banner .sb-banner__prev:hover,
.sb-banner .sb-banner__next:hover{
  background-color: #000;
  color: #fff;
}

.product-item{
  border: 1px solid #aeaeae;
  border-radius: 0;
}

.product-item__desc{
    margin: 0 -8px 0 -8px;
    padding: 5px 8px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    font-size: 12px;
    line-height: 15px;
}

.SBproductDetail .product-item__desc{
    border-bottom: none;
}


.product-item__price{
  font: bold 18px / 31px Tahome, Arial, Verdana, sans-serif;
  color: #000;
  margin-bottom: 2px;
}

/* Product Full */
.product-profile__price{
  color: #000;
  background: #fff59d;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.product-profile__images-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.product-item__toolbar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.search{
  font-size: 12px;
  margin-top: 15px
}

.search input{
  border-color: #b59c00;
}


.tt-hint,
.search__input{
  font-size: inherit;
}

.search .tt-is-under-cursor{
  background-color: #000;
  color: #fff;
}

.SBnavigate{
  font-size: 14px;
}

#promocode-apply.btn{
  color: #fff;
}

.menu__item-news{
  display: none;
}

.one-column #categories .sb-categories__item {
  margin: 3px 0;
}

.one-column #categories .categories__link{
  color: #fff;
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover{
  background: transparent !important;
  color: #000 !important;
}

.one-column #categories .categories_level_1.active{
  background: transparent !important;
}

.one-column #categories .categories_level_1 > .nav .categories__link{
  color: #000 !important;
}

.one-column #categories .categories_level_1 > .nav .categories__link:hover{
  text-decoration: underline;
}

.one-column #categories .categories_level_1.active > .categories__link,
.one-column #categories .categories_level_1:hover.active > .categories__link:hover{
  background: transparent !important;
  color: #000 !important;
}

.one-column .categories_level_1.active > .categories__link{
  cursor: default;
}

.one-column .categories_level_1.active > .nav .categories__link{
  cursor: pointer;
}

.one-column .SBproductFull{
  margin-top: 10px;
}

/* Обратный звонок */
.product-item .fast-order__link{
  background: #FECD11;
  color: #000;
  padding-top: 4px;
  padding-bottom: 4px;
}

.product-preview__price{
  background: #fff;
  color: #000;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

