@import url("layout/one-column-layout.css");

@font-face {
  font-family: 'ALSRublRegular';
  src: url('/static/fonts/ruble/ruble.eot');
  src: url('/static/fonts/ruble/ruble.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/ruble/ruble.woff') format('woff'),
       url('/static/fonts/ruble/ruble.ttf') format('truetype');
       url('/static/fonts/ruble/ruble.svg#ALSRublRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_pro_bold';
  src: url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.eot');
  src: url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.woff') format('woff'),
       url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.ttf') format('truetype'),
       url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_pro_medium';
  src: url('/static/fonts/gotham_pro_medium/gothapromed-webfont.eot');
  src: url('/static/fonts/gotham_pro_medium/gothapromed-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/gotham_pro_medium/gothapromed-webfont.woff') format('woff'),
       url('/static/fonts/gotham_pro_medium/gothapromed-webfont.ttf') format('truetype'),
       url('/static/fonts/gotham_pro_medium/gothapromed-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'solomon_sans';
  src: url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.eot');
  src: url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.woff') format('woff'),
       url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.ttf') format('truetype'),
       url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {*/
  /*font-family: 'solomon_sans_book';*/
  /*src: url('/static/fonts/solomon_sans_book/solomon_sans_book-webfont.eot');*/
  /*src: url('/static/fonts/solomon_sans_book/solomon_sans_book-webfont.eot?#iefix') format('embedded-opentype'),*/
       /*url('/static/fonts/solomon_sans_book/solomon_sans_book-webfont.woff') format('woff'),*/
       /*url('/static/fonts/solomon_sans_book/solomon_sans_book-webfont.ttf') format('truetype'),*/
       /*url('/static/fonts/solomon_sans_book/solomon_sans_book-webfont.svg#solomon_sans_normalregular') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/

@font-face {
  font-family: 'solomon_sans_bold';
  src: url('/static/fonts/solomon_sans_bold/solomon_sans_bold-webfont.eot');
  src: url('/static/fonts/solomon_sans_bold/solomon_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/solomon_sans_bold/solomon_sans_bold-webfont.woff') format('woff'),
       url('/static/fonts/solomon_sans_bold/solomon_sans_bold-webfont.ttf') format('truetype'),
       url('/static/fonts/solomon_sans_bold/solomon_sans_bold-webfont.svg#solomon_sans_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

body{
  background: #eee;
  color: #555;
  font-family: 'solomon_sans', Arial, sans-serif;
  font-size: 13px;
  height: 100%;
}

html, body{
  /*overflow: hidden;*/
  /*height: 100%;*/
}

/* h3 #333      */

/* border #ddd  */

h1, h2, h3, h4, h5{
  font-family: 'solomon_sans_bold', Arial, sans-serif;
  color: #333;
}

h5{
  font-size: 15px;
}

/* Global classes */
.g-clearfix{
  clear: both;
}

.g-clearfix:before,
.g-clearfix:after{
  content: '';
  display: table;
}

.g-clearfix{
  zoom: 1;
}

.g-inline-block{
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

a{
  color: #000;
}

a:hover{
  color: #ce5155;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
button,
.btn{
  font-family: 'solomon_sans';
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus{
  /*border-color: #D43F3A;*/
  border-color: #A0A0A0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn,
input[type="submit"],
input[type="button"],
button{
  color: #fff;
  text-shadow: none;
}

.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active{
  background: #D9534F;
  border-color: #D43F3A;
  color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active{
  background: #D2322D;
  border-color: #AC2925;
  color: #fff;
}

/* The end: Global classes */

/* Root container */
.app-wrapper {
  /*height: 100%;*/
  margin: 0 auto;
  position: relative;
  width: 980px;
  background: #fff;
  z-index: 800;
}

.page-title{
  margin-top: 0;
}

/* HEAD Menu */
#sb-header{
  padding-top: 8px;
}

.navbar-inner,
.sb-header{
  background: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.sb-header {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 101;
}

.sb-header .container{
  position: relative;
}

.navbar-inner{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

/* Logo */
.logo{
  float: left;
  height: 44px;
  margin-right: 10px;
}

/* Top menu sections */
#nav-menu{
  font: normal 14px 'gotham_pro_medium', Arial, sans-serif;
}

#nav-menu li{
  margin-right: 5px;
}

#nav-menu .badge{
  font-weight: normal;
  background-color: #5a9c32;
}

#nav-menu a{
  color: #000;
  text-shadow: none;
}

#nav-menu a:hover{
  color: #ce5155;
}

#nav-menu .active a{
  cursor: default;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #ce5155;
}

/* Categories block */
#categories{
  font: normal 14px 'solomon_sans', Arial, sans-serif;
}

#categories .categories__link{
  border-bottom: 1px solid #e6e3e3;
  color: #000;
  padding: 8px 0;
  text-shadow: none;
}

#categories .categories__link:hover{
  background: none;
  color: #ce5155;
}

#categories .active > a,
#categories .active > a:hover{
  background: none;
  color: #ce5155;
}

/* Content block container */
.SBwrapper{
  /*position: absolute;*/
  /*padding-bottom: 50px;*/
  /*margin-top: 60px;*/
  /*right: 0;*/
  /*left: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*overflow: hidden;*/
  margin-top: 12px;
  padding-bottom: 20px;
  width: 100%;
}

.SBwrapper > .row{
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  /*height: 100%;*/
}

/* Right content block */
.SBcontent{
  height: 100%;
}

/* Products Block */
.product-item__price{
  font: 18px / 31px 'solomon_sans_bold', Arial, sans-serif;
}

.product-profile__price .price{
  background-color: #5A9C32;
  -webkit-border-radius: 17px;
     -moz-border-radius: 17px;
          border-radius: 17px;
  font-size: 20px;
  color: #fff;
  padding: 3px 16px;
}

.SBproductList,
.SBproductList > .row{
  clear: both;
}

.SBproductGrid,
.SBproductDetail {
  overflow: hidden;
}

.product-item{
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 8px;
}

.product-item__toolbar{
  margin-bottom: 25px;
  margin-top: 15px;
}

.product-item__desc{
  overflow: hidden;
}

.SBproductDetail .product-item{
  padding-bottom: 12px;
}

.SBproductGrid{
  margin-bottom: 20px;
}

.SBproductGrid .product-item__desc{
  height: 43px;
}

.SBproductDetail{
  margin-bottom: 20px;
}

.SBproductDetail .product-item__desc{
  height: 100px;
}

.SBproductGrid .SBcartAdd,
.SBproductDetail .SBcartAdd{
  float: right;
}

.SBproductGrid .SBproductCover {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 140px;
  margin: auto auto 15px;
  width: 180px;
}

.SBproductGrid .SBproductHead{
  height: 40px;
  margin-top: 0;
  overflow: hidden;
}

.SBproductDetail .SBproductHead{
  margin-top: 0;
}

/* Full Product View */
.SBproductFull .nav-tabs li a {
  margin-right: 0;
  padding: 0 7px;
}

.product-profile__title{
  line-height: 32px;
}

.product-profile__images{
  margin-bottom: 35px;
  overflow: visible;
}

.product-profile__images-item{
  text-align: center;
}

/* Cart block */
.SBcartTable td {vertical-align: middle}
.SBcartTable img {height: 50px}

.SBcartItemDec:hover,
.SBcartItemInc:hover{
  text-decoration: none;
}

.popover{
  font-size: 12px;
  width: 180px;
 z-index: 2000;
}

.popover .popover-title{
  background-color: #fff;
  font-size: inherit;
  font-weight: bold;
}

.popover-content{
  line-height: 20px;
}

.variant-list:last-child{
  margin-bottom: 15px;
}

.variant-list > h5{
  color: #666;
  font-weight: bold;
}

.variant-list > ul{
  font-size: 0;
  list-style-type: none;
  margin: 0;
}

.variant-list > ul > li{
  vertical-align: top;
  display: inline-block;
  margin: 0 5px 6px 0;
}

.variant-list ul > li > a{
  border: 1px solid #aaa;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}

.variant-list ul > li:hover a,
.variant-list ul > li.active a{
  background-color: #ce5155;
  border-color: #ce5155;
  color: #fff;
  text-decoration: none;
}

.variant-list ul > li.active a,
.variant-list ul > li.disabled a{
  cursor: default;
}

.variant-list ul > li.disabled a,
.variant-list ul > li.disabled:hover a{
  border-color: #aaa;
  background: #fff;
  color: #aaa;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
   -khtml-opacity: .4;
     -moz-opacity: .4;
          opacity: .4;
}

.sb-header .nav > li > a {
  padding: 13px 10px 10px;
}

.product-item{
  cursor: pointer;
  position: relative;
}

.clear-both{
  clear: both;
}

.sb-categories__item .products-count{
  color: #aaa;
}

.three-dots > a,
.three-dots > a:hover{
  color: #000;
}

.switcher{
  line-height: 1;
  margin-bottom: 16px;
}

.switcher-title{
  margin-right: 6px;
}

.switcher-btn{
  margin-right: 10px;
}

.switcher-title,
.switcher-btn{
  display: inline-block;
  font-size: 14px;
}

.switcher-btn{
  cursor: pointer;
  color: #0E97B0;
  border-bottom: 1px dotted;
}

.switcher-btn.active{
  cursor: default;
  border-bottom: 0;
  color: #E93301;
}

.sb-cart__item-trash.btn-mini{
  font-size: 16px;
}

.sb-cart__item img {
  max-width: 50px;
}

.search{
  background: transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #ccc;
  display: inline-block;
  line-height: 1;
  margin: 0;
  outline: 0;
  position: relative;
  right: 6px;
  top: 6.5px;
  width: 160px;
}

.search .tt-is-under-cursor{
  background-color: #D43F3A;
  color: #fff;
}

#search .search__btn{
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
}

#search .search__btn:hover{
  color: #aaa;
  text-decoration: none;
}

#search .search__input,
#search .tt-hint{
  width: 100%;
}

.tt-hint{
  color: #ccc !important;
}

.search-results__title{
  margin-bottom: 20px;
}

.search-results__item{
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-results__item-title{
  color: #666;
  margin-top: 0;
}

.search-results__item-info{
  padding: 0 10px;
}

.search-results__item-desc{
  height: 80px;
  overflow: hidden;
}

.search-results__item-cover{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}

.search-results__item-price{
  font-weight: bold;
}

#search .search__btn.disabled{
  cursor: default;
  color: #ccc;
}

/* Toolbar в списке товаров */
.toolbar{
  font-size: 12px;
  margin-bottom: 15px;
}

.toolbar__item-title{
  color: #aaa;
  margin-right: 5px;
}

.toolbar__link{
  border-radius: 15px;
  color: #D43F3A;
  cursor: pointer;
  display: inline-block;
  line-height: 12px;
  padding: 3px 10px;
}

.toolbar__link:hover{
  border: 1px solid #D43F3A;
  padding: 2px 9px;
}

.toolbar__link_active{
  background: #D9534F;
  cursor: default;
}

.toolbar__link_active,
.toolbar__link_active:hover{
  color: #fff;
}

.toolbar__item-select{
  font: inherit;
  height: auto;
  margin: 0 7px 0 0;
  padding: 0;
  width: auto;
}

.toolbar__item-icon{
  font-size: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

.pagination__title{
  color: inherit;
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}

.pagination ul > li > a{
  float: none;
}

.pagination ul > li.three-dots > a{
  cursor: default;
}

.pagination ul > li.three-dots > a:hover{
  background-color: transparent;
}

.order-form .help-inline{
  font-size: 12px;
  display: none;
}

.control-required:after{
  content: '*';
  color: red;
}

.required-control{
  font-size: 15px;
  color: red;
}

.subcategories{
  margin: 40px 0 25px;
}

.subcategories-title{
  margin-bottom: 5px;
}

.subcategories__item{
  cursor: pointer;
}

.subcategories__item-title{
  overflow: hidden;
  text-decoration: underline;
}

.subcategories__item-title:hover{
  text-decoration: none;
}

.subcategories__item_active,
.subcategories__item_active:hover{
  color: #000;
  cursor: default;
  text-decoration: none;
}

.subcategories__item-count{
  font-size: 90%;
  white-space: nowrap;
}

.sb-categories__item{
  position: relative;
}

.categories > ul > li.with-dropdown:hover > a{
  background-color: #09d;
  border-right: 0;
  color: #fff;
  padding: 3px 15px;
  text-shadow: none;
}

.categories > ul > li.with-dropdown:hover  small{
  color: #fff;
}

.nav-dropdown{
  background: #fff;
  border: 1px solid #09d;
  -webkit-box-shadow: 0 1px 3px #ccc;
     -moz-box-shadow: 0 1px 3px #ccc;
          box-shadow: 0 1px 3px #ccc;
  display: block;
  left: 100%;
  margin-left: -50px;
  padding: 5px 0 10px 8px;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 2000;
}

.nav-dropdown .sb-categories__item{
  line-height: 1.2;
}

.nav-dropdown > li {
  display: inline-block;
  vertical-align: top;
}

.nav-dropdown li a {
  font-size: 85%;
}

.nav-dropdown > li > a{
  font-size: 100%;
  color: #000;
  text-decoration: none;
  cursor: default;
}

.nav-dropdown > li > a:only-child{
  color: #09D;
  cursor: pointer;
  font-size: 85%;
}

.nav-dropdown > li > a:hover{
  background: transparent;
}

.nav-dropdown > li a small{
  display: none;
}

.nav-dropdown ul{
  display: block !important;
}

.tab-pane > .table tr:first-child th,
.tab-pane > .table tr:first-child td{
  border-top: 0;
}

.comments{
  margin-top: 10px;
  margin-left: 0;
}

.comments_reply{
  margin-left: 15px;
}

.comments__item{
  border-bottom: 1px solid #d0d0d0;
  list-style-type: none;
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.comments_reply .comments__item{
  border-top: 1px solid #d0d0d0;
  padding-top: 12px;
}

.comments_reply .comments__item-photo{
  background: #ccc;
}

.comments__item-user{
  font-size: 13px;
  margin-right: 3px;
}

.comments__item:last-child{
  border-bottom: 0;
}

.comments__item-create-at{
  color: #aaa;
  font-size: 10px;
}

.comments__item-info{
  margin-bottom: 0;
}

.comments__item-photo{
  min-width: 50px;
  min-height: 50px;
}

.comments__item-text{
  font-size: 12px;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 0;
}

.comments_reply .comments__item{
  margin-bottom: 0;
}

.add-comment{
  margin-bottom: 25px;
}

.add-comment__form-item{
  margin-bottom: 5px;
}

.social-btns{
  margin-bottom: 10px;
  margin-top: 25px;
}

.social-btn{
  display: inline-block;
  vertical-align: top;
}

.facebook__comments{
  padding: 0 5px;
}

.SBdelivery {display: none;}
.SBdeliveryMap {margin: 10px 0 10px 0;}
.SBdeliveryChange {display: none; margin-right: 20px;}
.SBdeliveryAddress {font-weight: bolder;}
.SBorderAddress {display: none !important;}
.SBdeliveryMap {height: 400px; width: 100%;}


/* Twitter typeahead */
input.tt-hint[disabled] {
  background-color: #fff;
}

.tt-dropdown-menu{
  border: 1px solid #ddd;
  background-color: #fff;
  color: #555;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion{
  padding: 6px 3px;
}

.tt-dropdown-menu{
  overflow: hidden;
}

.tt-suggestion__inner{
  padding: 0 3px;
}

/* TODO: В ВК при заходе по прямому урлу показывается 2 ВК Лайка, происходит это потому, что initVKWidgets() выполняется дважды, как избавиться? */
#social-btns__vk-like{
  overflow: hidden;
}

.point__desc{
  background: #09d;
  border-radius: 3px;
  color: white;
  padding:3px 5px;
}

.point__work-time{
  font-size: 16px;
}

#promocode-field{
  margin-bottom: 0;
}

label[for="promocode-field"]{
  margin-bottom: 0;
}

.add-comment__textarea{
  font-size: 13px;
}

.add-comment__message{
  margin-bottom: 5px;
}

.add-comment__message .add-comment__userpic{
  width: 13%;
}

.add-comment__message .add-comment__text{
  width: 87%;
  margin-left: 0;
}

.product-tabs{
  margin-top: 20px;
}

.product-profile__images-item > img{
 width: 45px;
}
.cloud-zoom__item{
  border: 1px solid #eee;
  margin-right: 10px;
  margin-bottom: 10px;
  /*margin: 0 5px 5px 0;*/
}

.cloud-zoom__item:nth-child(4n){
  margin-right: 0;
}

.cloud-zoom__item:hover{
  border: 1px solid #CE5155;
}

.cloud-zoom__item.active{
  border-color: #ce5155;
}

.cloud-zoom-wrap {
    z-index: 99;
}

.cloud-zoom__preview{
  margin-bottom: 10px;
}

.cloud-zoom__nav{
  font-size: 0;
}

th.price{
  width: 85px;
}

.breadcrumb{
  background: transparent;
  padding: 0;
  text-shadow: none;
}

.breadcrumb > li{
  text-shadow: none;
}

#categories{
  padding-right: 15px;
}

#categories .nav-list{
  padding-right: 0;
}

/*.app-wrapper{*/
  /*margin-bottom: -50px;*/
/*}*/

.sb-footer, .sb-footer a{
  font-family: 'solomon_sans', Arial, sans-serif !important;
  font-size: 13px;
  line-height: 50px;
}

.sb-footer{
  height: 50px;
  z-index: 850;
  position: relative;
}

.sb-footer__inner{
  box-shadow: inset 0 10px 10px -10px #aaa;
  background: #eee;
  margin: 0 auto;
  position: relative;
  text-align: right;
  max-width: 980px;
  width: 100%;
}

.sb-footer__inner .dates{
  position: absolute;
  left: 2px;
  top: -7px;
}

.whitelabel .SBwrapper {
  padding-bottom: 10px;
}

.whitelabel .sb-footer{
  display: none;
}

.order-list__item{
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
}

.order-item__title{
  background: #F5F5F5;
  cursor: pointer;
  font-size: 13px;
  margin: 0;
  padding: 8px 15px;
  position: relative;
}

.order-item__collapse{
  background: #B3B3B3;
  border-radius: 16px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.order-item__content{
  display: none;
}

.order-item__content th{
  font-family: 'solomon_sans_bold', Arial, sans-serif;
}

.order-item__status{
  color: #CE5155;
  display: none;
}

.categories__arrow{
  color: #aaa;
  font-size: 90%;
  position: relative;
  top: 2px;
}

.sb-categories__item.active > .categories__link .categories__arrow{
  top: 1px;
}

.sb-categories__item > .categories__link .sb-icon-arrow-up,
.sb-categories__item.active > .categories__link .sb-icon-arrow-down{
  display: none;
}

.sb-categories__item > .categories__link .sb-icon-arrow-down,
.sb-categories__item.active > .categories__link .sb-icon-arrow-up{
  display: inline;
}

.SBnavigate{
  position: relative;
}

.sb-pagination__infinite{
  margin-bottom: 15px;
}
/* Модуль подписки на новости магазина */
.sb-subscribe {
  margin-bottom: 0;
}

.sb-subscribe__form {
  margin-bottom: 0;
}

.sb-subscribe__heading,
.sb-invitation__text{
  font-size: 15px;
  margin-right: 15px;
}

.sb-subscribe__email {
  margin-right: 7px;
}

.sb-subscribe.alert-success .sb-subscribe__heading{
  line-height: 30px;
}

.modal{
  overflow: hidden;
}

.modal-header{
  background: #F5F5F5;
}

.modal-header__title{
  font-size: 18px;
  margin: 4px 0;
}

.product-preview__title{
  height: 40px;
  margin-top: 15px;
  overflow: hidden;
}

.product-preview__cover{
  text-align: center;
  margin-bottom: 16px;
}

.product-preview__cover img{
  max-width: 130px;
}

.product-preview__price{
  background: #5A9C32;
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding: 2px 12px;
}

.product-preview__desc{
  height: 43px;
  overflow: hidden;
}

.recall-form .control-group{
  margin-bottom: 5px;
}

.recall-form input[type="text"],
.recall-form input[type="tel"]{
  margin-bottom: 0;
}

.btn-send-recall{
  margin-top: 10px;
}

/* Ссылка "Обратный звонок" */
.fast-order__link,
.fast-order__link:hover{
  text-decoration: none;
}

.fast-order__link:hover{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  -khtml-opacity: .8;
    -moz-opacity: .8;
         opacity: .8;
}

.product-item:hover .fast-order__link{
  right: 0;
}

.product-item .fast-order__link{
  position: absolute;
  right: -27px;
  top: 100px;
  background: #5A9C32;
  color: #FFF;
  padding: 2px 6px;

  -webkit-transition: right .2s ease-in;
     -moz-transition: right .2s ease-in;
      -ms-transition: right .2s ease-in;
       -o-transition: right .2s ease-in;
          transition: right .2s ease-in;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.btn-default:hover,
.btn.btn-default:focus{
  background-color: #E6E6E6;
  background-position: 0 -15px;

  -webkit-transition: background-position .1s linear;
     -moz-transition: background-position .1s linear;
       -o-transition: background-position .1s linear;
          transition: background-position .1s linear;
}

.btn.btn-default:active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sb-categories_absolute{
  position: absolute;
  top: 0;
  bottom: 0;
}

.sb-overflow-auto{
  overflow: hidden;
}

.sb-menu__fixed{
  position: absolute;
}
/* Рекоммендации в Корзине */
.sb-cart-recommend {
  width: 100%;
  margin-top: 16px;
}

.sb-cart-recommend__title{
  margin-bottom: 25px;
}

.sb-cart-recommend__item{
  cursor: pointer;
  margin-right: 5%;
  width: 15%;
}

.sb-cart-recommend_item-title{
  color: #000;
  font: bold 12px Arial;
  height: 28px;
  margin: 7px 0;
  overflow: hidden;
  text-align: center;
}

.sb-cart-recommend__item-price{
  margin-bottom: 8px;
}

.sb-recommend__prev,
.sb-recommend__next{
  cursor: pointer;
}

.sb-recommend__item-cover{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
}

.sb-pagination__infinite .btn{
  width: 300px;
}

.btn.btn-success{
  background: #5A9C32;
  border-color: #418119;
  color: #fff;
}

.btn.btn-success:hover{
  background: #418119;
  border-color: #418119;
  color: #fff;
}

.btn.btn-success.disabled,
.btn.btn-success[disabled],
.btn.btn-success.disabled:hover,
.btn.btn-success[disabled]:hover,
.btn.btn-success.disabled:active,
.btn.btn-success[disabled]:active{
  border-color: #418119;
  background: #418119;
}

.sb-fav-app__text{
  margin-bottom: 10px;
}

.sb-fav-app__controls .btn{
  margin-right: 5px;
}

.sb-cart-preview__item{
  font: 12px Helvetica, Arial, sans-serif;
  width: 20%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.sb-cart-preview__item-img{
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
}

.sb-cart-preview__container{
  margin-bottom: 5px;
}

.sb-cart-preview__item-title{
  height: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 1px;
  overflow: hidden;
}

.sb-cart-preview__item-content{
  line-height: 1.2;
  margin-bottom: 5px;
}

.sb-news-list__item-text{
  clear: both;
}

.two-column-layout .sb-social{
  margin-top: 20px;
}

.sb-banner-slot-3:not(:empty) {
  margin-bottom: 22px;
}
/*
.SBproductGrid .SBproductCover{
  background-size: cover;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  height: 180px;
  width: 100%;
}

.product-item{
  border: 0;
  padding: 0;
}

.product-item__toolbar{
  margin-bottom: 12px;
}
*/