#copblock{
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 1097854;
}
#copblock .copshadow{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50 );
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
#copblock .copcontent{
  -moz-box-shadow: 0px 0px 40px #333;
  -webkit-box-shadow: 0px 0px 40px #333;
  box-shadow: 0px 0px 40px #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color='#333333')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color='#333333' );
  position: fixed;
  top: 50%;
  width: 900px;
  height: 550px;
  border: 1px solid #ccc;
  left: 50%;
  margin: -265px 0 0 -450px;
}

#copblock #closecop {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: -11px;
  top: -11px;
  background-image: url("/static/images/closecop.png");
  cursor: pointer;
}

#copblock iframe {
  background-color:#FFF;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 810px){
  #copblock .copcontent{
    width: 800px;
    height: 550px;
    left: 50%;
    margin: -265px 0 0 -400px;
  }

  .main-left{
    width: 560px !important;
  }

  .main-right{
    width: 220px !important;
  }
}