/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
  border: 4px solid #888;
  margin: -4px;
  background-color: #fff;
  cursor:move;
  height: 120px;
  width: 60px;
  display: none !important
}

/* This is for the title text. */
.cloud-zoom-title {
  font-family:Arial, Helvetica, sans-serif;
  position:absolute !important;
  background-color:#000;
  color:#fff;
  padding:3px;
  width:100%;
  text-align:center;
  font-weight:bold;
  font-size:10px;
  top:0;
}

/* cloud zoom wrapper styles */
.cloud-zoom-wrap {
  top:0;
  z-index:9999;
  position:relative;
}

/* This is the zoom window. */
.cloud-zoom-big {
  border:4px solid #ccc;
  overflow:hidden;
  border: 1px solid #ddd;
  background-color: #fff;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px -5px #ddd;
}

/* This is the loading message. */
.cloud-zoom-loading {
  color:white;
  background:#222;
  padding:3px;
  border:1px solid #000;
}