/* Стили кастомного скролла выпилинные из основного css */
/* Переопределили в jquery.scroll.css, скролл уменьшал ширину блока */
.mCSB_container{
  margin-right: 0;
  overflow: visible;
  padding: .1px 0 10px;
}

.mCustomScrollBox{
  overflow: visible !important;
}

.mCustomScrollBox > .mCSB_scrollTools{
  z-index: 90;
}

.SBcontent .mCustomScrollBox > .mCSB_scrollTools{
  right: -16px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{
  background-color: #aaa !important;
}

.mCSB_scrollTools .mCSB_draggerRail{
  background-color: #ddd;
}

.SBnavigate .mCustomScrollBox > .mCSB_scrollTools{
  right: 0;
}

.overflow_visible,
.overflow_visible > .mCustomScrollBox {
  overflow: visible !important;
}