@font-face {
  font-family: 'IconsFamily';
  src:url('/static/fonts/icons/IconsFamily.eot');
  src:url('/static/fonts/icons/IconsFamily.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/icons/IconsFamily.woff') format('woff'),
    url('/static/fonts/icons/IconsFamily.ttf') format('truetype'),
    url('/static/fonts/icons/IconsFamily.svg#IconsFamily') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'IconsFamily';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="sb-icon-"] {
*/
.sb-icon-undo, .sb-icon-cart, .sb-icon-underline, .sb-icon-strikethrough, .sb-icon-list-ol, .sb-icon-list-ul, .sb-icon-reorder, .sb-icon-cut, .sb-icon-link, .sb-icon-picture, .sb-icon-indent-right, .sb-icon-indent-left, .sb-icon-list, .sb-icon-align-justify, .sb-icon-align-right, .sb-icon-align-center, .sb-icon-align-left, .sb-icon-text-width, .sb-icon-text-height, .sb-icon-italic, .sb-icon-bold, .sb-icon-font, .sb-icon-repeat, .sb-icon-chevron-left, .sb-icon-chevron-right, .sb-icon-ok, .sb-icon-trash, .sb-icon-th, .sb-icon-th-list, .sb-icon-thumbs-up, .sb-icon-search, .sb-icon-reset, .sb-icon-arrow-left, .sb-icon-arrow-down, .sb-icon-arrow-up, .sb-icon-arrow-right, .sb-icon-phone-hang-up, .sb-icon-phone, .sb-icon-phone-1, .sb-icon-phone-2, .sb-icon-phone-3, .sb-icon-phone-4, .sb-icon-phone-5, .sb-icon-reply{
  font-family: 'IconsFamily';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.sb-icon-cart:before {
  content: "\e017";
}
.sb-icon-undo:before {
  content: "\e000";
}
.sb-icon-underline:before {
  content: "\e001";
}
.sb-icon-strikethrough:before {
  content: "\e002";
}
.sb-icon-list-ol:before {
  content: "\e003";
}
.sb-icon-list-ul:before {
  content: "\e004";
}
.sb-icon-reorder:before {
  content: "\e005";
}
.sb-icon-cut:before {
  content: "\e006";
}
.sb-icon-link:before {
  content: "\e007";
}
.sb-icon-picture:before {
  content: "\e008";
}
.sb-icon-indent-right:before {
  content: "\e009";
}
.sb-icon-indent-left:before {
  content: "\e00a";
}
.sb-icon-list:before {
  content: "\e00b";
}
.sb-icon-align-justify:before {
  content: "\e00c";
}
.sb-icon-align-right:before {
  content: "\e00d";
}
.sb-icon-align-center:before {
  content: "\e00e";
}
.sb-icon-align-left:before {
  content: "\e00f";
}
.sb-icon-text-width:before {
  content: "\e010";
}
.sb-icon-text-height:before {
  content: "\e011";
}
.sb-icon-italic:before {
  content: "\e012";
}
.sb-icon-bold:before {
  content: "\e013";
}
.sb-icon-font:before {
  content: "\e014";
}
.sb-icon-repeat:before {
  content: "\e015";
}
.sb-icon-chevron-left:before {
  content: "\f053";
}
.sb-icon-chevron-right:before {
  content: "\f054";
}
.sb-icon-ok:before {
  content: "\f00c";
}
.sb-icon-trash:before {
  content: "\f014";
}
.sb-icon-th:before {
  content: "\f00a";
}
.sb-icon-th-list:before {
  content: "\f00b";
}
.sb-icon-thumbs-up:before {
  content: "\f164";
}
.sb-icon-search:before {
  content: "\e018";
}
.sb-icon-reset:before {
  content: "\e016";
}
.sb-icon-arrow-left:before {
  content: "\e01c";
}
.sb-icon-arrow-down:before {
  content: "\e019";
}
.sb-icon-arrow-up:before {
  content: "\e01a";
}
.sb-icon-arrow-right:before {
  content: "\e01b";
}

.sb-icon-phone-hang-up:before {
  content: "\e601";
}

.sb-icon-phone:before {
  content: "\e600";
}

.sb-icon-phone-1:before {
  content: "\e605";
}

.sb-icon-phone-2:before {
  content: "\e604";
}
.sb-icon-phone-3:before {
  content: "\e603";
}
.sb-icon-phone-4:before {
  content: "\e600";
}

.sb-icon-phone-5:before {
  content: "\e602";
}

.sb-icon-reply:before{
  content: "\e606";
}
