.lp{
  font-family: 'solomon_sans', Arial, sans-serif;
  font-size: 16px;
}

.lp h1,
.lp h2,
.lp h3,
.lp h4,
.lp h5{
  font-family: 'solomon_sans_bold', Arial, sans-serif;
  color: #333;
}

.lp textarea,
.lp input[type="text"],
.lp input[type="submit"],
.lp input[type="button"],
.lp button,
.lp .btn{
  font-family: 'solomon_sans';
}

.lp textarea:focus,
.lp input[type="text"]:focus,
.lp input[type="email"]:focus{
  border-color: #A0A0A0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn,
input[type="submit"],
input[type="button"],
button{
  color: #fff;
  text-shadow: none;
}

.lp .btn,
.lp .btn.disabled,
.lp .btn[disabled],
.lp .btn.disabled:hover,
.lp .btn[disabled]:hover,
.lp .btn.disabled:active,
.lp .btn[disabled]:active{
  background: #D9534F;
  border-color: #D43F3A;
  color: #fff;
}

.lp .btn :hover,
.lp .btn:focus,
.lp .btn:active{
  background: #D2322D;
  border-color: #AC2925;
  color: #fff;
}

/* Landing Page */
.lp-block{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
}

.lp-block img{
  display: block;
  margin: 5px auto;
}

.lp-block-title{
  margin-bottom: 20px;
  text-align: center;
}

/* Преимущества и недостаки */
.lp-compare-items{
  font-size: 18px;
}

.lp-compare-item{
  margin-bottom: 8px;
  margin-top: 8px;
}

/* Отзывы */
.lp-reviews-item{
  margin-top: 15px;
  margin-bottom: 15px;
}

.lp-reviews-item:first-child{
  margin-top: 0;
}

.lp-reviews-item:last-child{
  margin-bottom: 0;
}

.lp-reviews-item__img{
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
          border-radius: 200px;
}

/*.lp-reviews-item:first-child{*/
/*margin-top: 10px;*/
/*}*/

.lp-reviews-item-title{
  font-weight: bold;
  text-transform: uppercase;
}

.lp-reviews-item-msg{
  font-size: 18px;
  line-height: 1.2;
}

.lp-countdown-title{
  font-size: 12px;
  margin-top: -5px;
  padding-bottom: 5px;
}

.lp-countdown-sector{
  background: #FFF;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  font: normal 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  padding: 0 5px;
  line-height: 1;
  text-align: center;
  width: 60px;
}

.lp-form{
  font-size: 18px;
  margin-top: 20px;
}

.lp-form-item{
  margin-bottom: 7px;
}

.lp-promo__container{
  margin: 0 auto;
  width: 300px;
}

.lp-promo-title{
  margin-bottom: 25px;
  text-align: center;
}

input.lp-input-control{
  font-size: 20px;
  padding: 2px 4px 2px 7px;
  height: 40px;
}

/* Блок с продуктами */
.lp-products .lp-products-item{
  min-height: 350px;
}

.lp-products-item{
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  margin-bottom: 25px;
  min-width: 220px;
  overflow: hidden;
}

.lp-products-item:nth-child(5){
  margin-left: 0;
}

.lp-products-item-title{
  height: 25px;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 12px 10px;
}

.lp-products-item-img{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: contain;
  background-size: contain;
  content: ' ';
  height: 255px;
}

.lp-products-item-toolbar{
  color: #fff;
  background: rgba(0, 0, 0, .7);
  padding: 13px 10px;
  position: relative;
  text-align: left;
}

.lp-product-item__btn{
  position: absolute;
  right: 6px;
  top: 7px;
}

