.sb-banner {
  clear: both;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  padding: 10px;
  text-align: center;
  font-size: 100%;
  z-index: 100;
  position: relative;
}

.sb-banner__prev{
  left: 0;
}

.sb-banner-slot-1{
  margin-bottom: 25px;
}

.sb-banner-slot-2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.sb-banner-slot-3:not(:empty) + .SBproductList{
  margin-top: 25px;
}

.sb-banner__item{
  overflow-y: hidden;
}

.sb-banner.sb-banner-text {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.sb-banner.sb-banner-text .sb-banner__item {
  height: auto !important;
  overflow: visible;
}

.sb-banner.sb-banner-text p{
  margin: 0;
}

.sb-banner.sb-banner-graph .sb-banner__item{
  width: 100% !important;
}

.sb-banner__item-title{
  height: 40px;
  margin: 0;
  overflow: hidden;
}

.sb-banner__img{
  max-height: 242px;
  display: block;
  margin: 0 auto;
}

.sb-banner__item-price {
  font: bold 18px / 31px 'solomon_sans', Arial, sans-serif;
  margin: 0 0 15px;
}

.sb-banner__item-desc{
  overflow: hidden;
  height: 140px;
}

.sb-banner-graph__img{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 242px; /* максимальная высота блока баннера */
}

.bx-wrapper{
  border-bottom: 1px solid #F6E4E5;
  cursor: pointer;
  /*margin-top: 37px;*/
  margin-bottom: 0;
  z-index: 100;
}

.bx-wrapper .bx-viewport{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
          box-shadow: none;
  height: 240px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
  background: #eee;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover{
  background: #aaa;
}

.sb-banner__control{
  background-color: #CE5155;
  border: 3px solid #fff;
  /*color: #09d;*/
  color: #fff;
  display: block;
  font-size: 0;
  height: auto;
  line-height: 1;
  margin-top: -35px;
  padding: 12px 17px;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 1000;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -khtml-opacity: .5;
    -moz-opacity: .5;
         opacity: .5;
}


.sb-banner__prev{
  border-radius: 0 36px 36px 0;
  border-left: 0;
}

.sb-banner__next{
  border-radius: 36px 0 0 36px;
  border-right: 0;
  right: 0;
}

.sb-banner__icon{
  font-size: 28px;
  line-height: 28px;
}

.sb-banner:hover .sb-banner__control{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -khtml-opacity: .5;
     -moz-opacity: .5;
          opacity: .5;
}

.sb-banner:hover .sb-banner__control:hover{
  cursor: pointer;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
   -khtml-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
}