#res span{
  margin-right: 5px;
  margin-bottom: 3px;
}
#res{}
#res .media{
  border-bottom: 1px solid gray;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
#res .media-heading{
  font-family: 'gotham_probold', Arial, sans-serif;
}
#res .media-object{
  max-width: 50px;
}
#res.li{}
.autocomplete{}
.autocomplete li{
  font-size: 11px;
  cursor: pointer;
}
.autocomplete li:hover, .autocomplete li.active{
  background-color: #d9edf7;
}


.form-align-label {
  padding-top: 5px;
  padding-left: 9px;
}

.block-level-inputs input[type=text], .block-level-inputs select {
  width: 100%;
}

[data-show] {
  display: none;
}
