@font-face {
  font-family: 'gotham_pro_bold';
  src: url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.eot');
  src: url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.woff') format('woff'),
       url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.ttf') format('truetype'),
       url('/static/fonts/gotham_pro_bold/gothaprobol-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_pro_medium';
  src: url('/static/fonts/gotham_pro_medium/gothapromed-webfont.eot');
  src: url('/static/fonts/gotham_pro_medium/gothapromed-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/gotham_pro_medium/gothapromed-webfont.woff') format('woff'),
       url('/static/fonts/gotham_pro_medium/gothapromed-webfont.ttf') format('truetype'),
       url('/static/fonts/gotham_pro_medium/gothapromed-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'solomon_sans';
  src: url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.eot');
  src: url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.woff') format('woff'),
       url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.ttf') format('truetype'),
       url('/static/fonts/solomon_sans_normal/solomon_sans_normal-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}