html{
  overflow: auto;
}

.navbar-inner{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#simple-view{
  display: none;
}

/*.text-editor{*/
  /*border: 1px solid #ccc;*/
  /*margin: 5px 0 15px 0;*/
  /*padding: 20px;*/
  /*max-height: 300px;*/
  /*overflow-y: auto;*/
  /*box-shadow: inset 0 0 5px #aaa;*/
  /*border-radius: 4px;*/
/*}*/

.text-editor:focus{
  outline: 0;
}

form input.title {
    font-size: 150%;
    padding: 10px 20px;
    height: auto;
}

tr.off {
  text-decoration: line-through;
}

/* text-editor styles */
.text-editor,
.text-editor:focus{
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px #aaa;
  height: 400px;
  overflow-y: scroll;
  resize: none;
  transition: none;
  width: 100%;
}

.create-link{
  width: auto;
}

.SBinfoBlock {
    border: 1px solid #eee;
    border-radius: 5px;
    background: #ffc;
    color: #aaa;
    padding: 10px 20px;
    font-size: 80%;
    margin: 0 0 20px 0;
}

.SBcategorySortable {
    list-style: none;
    margin: 0 0 0 10px;
    padding:0 0 5px 0;
}

    .SBcategorySortable li {
        padding: 0;
        margin: 3px 0 0 10px;
    }

        .SBcategorySortable li.ui-sortable-helper span {
            box-shadow: 0 0 10px #aaa
        ;
        }

        .SBcategorySortable li>span.SBcategoryItem {
            padding: 3px 8px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            border-left-width: 6px;
        }

        .SBcategorySortable li>span.SBcategoryItem:hover{

        }

            .SBcategorySortable li span input {
                margin-top: -4px;
            }

            .SBcategorySortable li>span span.extra {display:none; line-height: 1;}
            .SBcategorySortable li>span:hover span.extra {display:inline;}

            .SBcategorySortable li span a {
                padding: 2px 4px;
                margin-left: 2px;
                background: #09d;
                border-radius: 3px;
                color: #fff;
                font-size: 90%;
            }

            .SBcategorySortable li span span.extra a {
                background: #d90;
            }

.errorlist{
    color: #b94a48;
}


/* Сообщения для пользователей кабинета */
/* Список сообщений */
#user-messages{
    text-align: center;
    list-style-type: none;
}
/* Каждое сообщение */
#user-messages .msg{

}
/* Сообщения со статусами */
#user-messages .msg.msg-success{
    color: green;
}
#user-messages .msg.msg-DEBUG{

}
#user-messages .msg.msg-info{

}
#user-messages .msg.msg-warning{

}
#user-messages .msg.msg-error{

}

#menu-left .shop-section-link{
    display: none;
}
#menu-left .active .shop-section-link{
    display: block;
}

/* UL Список с фильтрами данных */
ul.sb-filter-list{

}
ul.sb-filter-list li{
display: inline-block;

}
ul.sb-filter-list li label{
display: inline-block;

}


/* Хленые крошки для категорий в спсике товаров */
.sb-same-level-cat-list{
  display: none;
  z-index: 1;
}
li:hover .sb-same-level-cat-list{
    display: block;
}

.sb-same-level-cat-list {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 10px 10px 10px;
    margin: 0 0 0 -11px;
    list-style: none;
    border-radius: 0 0 10px 10px;
    border-top: none;
    box-shadow: 0px 5px 10px #ccc;
}

.icon-www {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url('/static/images/cabinet/icon_www.png');
}

.icon-fb, .icon-fb_tab {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url('/static/images/cabinet/icon_fb.png');
}

.icon-odnoklassniki, .icon-ok {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url('/static/images/cabinet/icon_ok.png');
}

.icon-vk {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url('/static/images/cabinet/icon_vk.png');
}
.icon-vk.small,
.icon-odnoklassniki.small,
.icon-fb.small {
    background-size: 17px;
    width: 17px;
    height: 17px;
}
.sb-comment-date{
    color: #aaa;
    font-size: 70%;
    border-radius: 5px;
    margin-left: 10px;
}
.sb-comment-body{
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    width: auto !important;
    margin-left: 10px !important;
    background: #eee;
}
.dropdown-menu li a{
    cursor: pointer;
}

.nav-tabs {
    border-bottom: 1px solid #aaa;
    padding-left: 10px;
}
.nav-tabs>.active>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    border-color: #aaa #aaa #fff #aaa !important;
}

.control-group.error .input-append .add-on{
    color: white;
}


.wizard a {padding: 12px 13px 10px 25px; margin-right:5px; background:#efefef; position:relative; display:inline-block; text-decoration: none; cursor: default;}
.wizard a:before {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #fff; position: absolute; content: ""; top: 0; left: 0;}
.wizard a:after {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #efefef; position: absolute; content: ""; top: 0; right: -20px; z-index:2;}
.wizard a:first-child:before {border:none;}
.wizard a:last-child:after {border:none;}

.wizard a:first-child {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius:   4px 0 0 4px;}
.wizard a:last-child {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius:   0 4px 4px 0;}

.wizard .badge {margin:0 5px 0 18px; position:relative; top:-1px;}
.wizard a:first-child .badge {margin-left:0;}

.wizard .current {margin-bottom: 27px; background:#007ACC; color:#fff;}
.wizard .current:after {border-left-color:#007ACC;}

.sorter-icon i {
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
    background-image: url("/static/bootstrap/img/glyphicons-halflings.png");
    display: none;
}
.sorter-icon.sorter-icon-arrow-up i {
    display: inline-block;
  background-position: -289px -96px;
}
.sorter-icon.sorter-icon-arrow-down i {
display: inline-block;
  background-position: -312px -96px;
}
.main-menu a.active{
    color: #2bb672;
}
.alert-mini{
    padding: 3px 35px 3px 14px;
    margin-bottom: 7px;
}
.form-help-data{
    display: none;
    margin-top: -10px;
    float: right;
}

/* автокомплит в Баннерах */
.tt-suggestions{
  background: #fff;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #ccc;
}

.tt-sg-item{
  border-bottom: 1px solid #eee;
  padding: 2px 3px;
  height: 50px;
}

.tt-is-under-cursor{
  background-color: #FCF8E3;
}

.tt-sg-item__cover{
  max-height: 100%;
}

.tt-sg-item__name{
  font-size: 12px;
}

.banner-item_input{
  background: #fff !important;
}

.banner-item__img{
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
}

.twitter-typeahead{
  width: 100%;
}

a[href*=vk],
a[href*=fb],
a[href*=ok]{
  border-bottom: 0;
}