body {
    font-family: 'gotham_proregular', Arial, sans-serif;
    font-size: 14px;
    color: #111111;
    background: #fff;
    line-height: 18px;
}

small {
    font-size: 80%;
}

a, a strong {
    color: #1a74bb;
    text-decoration: none;
    border-bottom: 1px solid #c6dcee;
}

strong, dt {
        font-family: 'gotham_probold', Arial, sans-serif;
}

dd {
    font-style: italic;
    margin-left: 10px;
}

th {
    font-family: 'gotham_probold', Arial, sans-serif;
    background-color: #eee;
}

.nav-pills a{
    border-bottom: none;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    font-family: 'gotham_probold', Arial, sans-serif;
    margin: 0 0 30px 0;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'gotham_probold', Arial, sans-serif;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 25px;
    line-height: 25px;
    font-family: 'gotham_proregular', Arial, sans-serif;
    margin: 0 0 15px 0;
}

a:hover, a:hover strong {
    border-color: transparent
}

.container {
    width: 960px;
    margin: 0 auto;
}

#header {
    background: #eeeeee url("/static/images/cabinet/head-bg.png") no-repeat 0 100%;
    height: 128px;
    margin: 0 0 40px 0;
}

#header.admin {
    background-color: #fc7;
    box-shadow: inset 0px -10px 10px -10px #000;
}

#logo {
    border-color: transparent;
    display: block;
    float: left;
    margin: 40px 60px 0 0;
}

.top-menu {
    font-family: Arial, sans-serif;
    font-size: 11px;

}

.top-menu a {
    border: 0;
    color: #111;
}

.top-menu li {
    width: 62px;
    text-align: center;
    float: left;
    margin: 30px 10px 0 0;
}

.top-menu span {
    width: 50px;
    height: 36px;
    display: block;
    margin: 0 auto 12px;
    padding-top: 14px;
    background: #e4e4e4;
    border-radius: 3px;
}

.top-menu a:hover span, .top-menu .active a span {
    background: #e4e4e4 url("/static/images/cabinet/top-menu-bg.png");
}

.top-menu .active {
    background: url("/static/images/cabinet/top-li-active.png") no-repeat bottom center;
    height: 98px;
}

.top-menu i {
    background: url("/static/images/cabinet/top-icons.png") no-repeat;
    width: 23px;
    height: 23px;
    margin: 0 auto 0;
    display: block;
}

.top-menu i.i-settings {
    background-position: 0 0;
}

.top-menu i.i-category {
    background-position: 0 -23px;
}

.top-menu i.i-products {
    background-position: 0 -46px;
}

.top-menu i.i-respondes {
    background-position: 0 -69px;
}

.top-menu i.i-orders {
    background-position: 0 -92px;
}

.top-menu i.i-sections {
    background-position: 0 -115px;
}

.top-menu i.i-sale {
    background-position: 0 -138px;
}

#main {
    margin-bottom: 40px;
}

.main-menu {
    font-family: 'gotham_probold', Arial, sans-serif;
    font-size: 15px;
    overflow: auto;
    color: #2bb672;
    margin: 0 0 40px 0;
}

.main-menu li {
    float: left;
    margin: 0 23px 0 0;
}

.main-menu li a {
    color: #111;
    border-color: #c3c3c3;
}

.main-menu li a:hover {
    border-color: transparent;
}

#main .area {
    border:1px solid #d3d3d3;
    border-radius: 3px;
    padding:40px 50px;
    overflow: auto;
    margin: 0 0 40px 0;
}

#main .area .left {
    float: left;
    /*width: 240px;*/
    padding-right: 30px;
}

#main .area .right {
    float: left;
    /*width: 580px;*/
}

#main .area p {
    margin-bottom: 25px;
}

#main .area p:last-child {
    margin-bottom: 0px;
}

.recount {
    padding: 0 0 0 24px;
    background: url("/static/images/cabinet/ico-refresh.png") no-repeat left 2px;
    border: 0;
}

#clear {
    background: #ff2626;
    height: 40px;
    padding: 0 30px 0 25px;
    color: #fff;
    font-size: 16px;
    font-family: 'gotham_probold', Arial, sans-serif;
    border:0;
    margin: 0 30px 0 0;
    cursor: pointer;
    display: block;
    float: left;
}

#clear:hover {
    background: #dd0f0f;
}

#clear span {
    display: inline-block;
    margin-top: 10px;
    padding-left: 24px;
    background: url("/static/images/cabinet/ico-clear.png") no-repeat left;
}

.clear-text {
    float: left;
    font-size: 13px;
    color: #868686;
    margin-top: 11px;
}

#header .admin {
    float: right;
    font-size: 13px;
}

#header .profile {
    margin: 35px 0 10px 0;
    z-index: 150;
    position: relative;
}

#header .profile span {
    padding-left: 22px;
    background: url("/static/images/cabinet/ico-profile.png") no-repeat left 3px;
}

#header .profile>li {
    background: url("/static/images/cabinet/black-toggle.png") no-repeat right 7px;
    position: relative;
    padding-right: 34px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

#header .profile li ul {
    position: absolute;
    background: #ffffff;
    border-radius: 2px;
    border:1px solid #d3d3d3;
    padding: 15px 20px;
    top:25px;
    right: -10px;
    width: 150px;
    text-align: right;
    display: none;
}

#header .profile>li:hover ul {
    display: block;
}


#header .profile li ul li+li {
    margin-top: 10px;
}

#header .jq-selectbox {
    width: 205px;
    z-index: 5;
}

#header .jq-selectbox__select {

}

#header .jq-selectbox__select {
    padding: 0 30px 0 10px;
    border: none;
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
    color: #111;
    text-shadow: none;
    font: 13px/30px 'gotham_proregular', Arial, sans-serif;
}

.jq-selectbox__trigger {
    width: 30px;
    background: #cccccc;
    height: 100%;
    border-left: none;
    border-radius: 3px;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 11px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    opacity:1;
}

.jq-selectbox__dropdown {
    /*border: 1px solid #CCC;*/
    /*border-radius: 3px;*/
    background: #FFF;
    box-shadow: none;
    font-family: 'gotham_proregular', Arial, sans-serif;
    font-size: 13px;

}

.jq-selectbox__dropdown li {
    padding-right: 55px;
}

.jq-selectbox li.optgroup, .jq-selectbox li.optgroup:hover {
    font-weight: bold;
    font-family: 'gotham_probold', Arial, sans-serif;
    padding: 0 10px 0 10px;
    color: #333;
    border-top: 1px solid #ddd;
}

.main-menu li.active a{
    color: #2bb672;
    text-decoration: none;
    border-bottom: none;
}

.breadcrumb {
    background: #eee;
}

.boom .char3 {
    margin-left: -2px;
}

.shoop .char4 {
    margin-left: -2px;
}

.sb-ds-list.nav-pills>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #ddd;
    font-size: 12px;
}

.tariff{
    border: 1px solid #eee;
    text-align: center;
    border-radius: 4px;
}
.tariff h1{
    border-bottom: 1px solid #eee;
    padding-bottom: 22px;
    padding-top: 19px;
    margin-bottom: 10px;
}
.tariff .price{
    border-bottom: 1px solid #eee;
    padding-top: 17px;
    padding-bottom: 17px;
}
.tariff .desc{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    min-height: 66px;
}
.tariff .apply{
    margin-bottom: 20px;
}
.tariff .months{
    width: 21px;
    text-align: center;
}

.pagination ul>li {
    display: inline-block;
}

.helptext {
    display: block;
    font-size: 85%;
    line-height: 13px;
    color: #888;
    margin: -5px 0 10px 0;
}

#notifications .alert a{
    font-family: 'gotham_probold', Arial, sans-serif;
    font-weight: normal;
    color: #3a87ad;
    text-decoration: underline;
}

.SB-order .user-info strong {
    width: 100px;
    display: inline-block;
}

.drag-here-down {
  -webkit-transform: translateY(20px);
     -moz-transform: translateY(20px);
          transform: translateY(20px);
}

.drag-here-up {
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
          transform: translateY(-20px);
}

.with-transition-transform {
  transition: transform .1s ease-in;
}

[draggable] {
  cursor: pointer;
}

.autocomplete-tips li {
    cursor: pointer;
    margin: 0;
    padding: 5px 0;
}

.autocomplete-tips li:hover {
    background-color: #4D95D9;
}

.margin-vert-small {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-left-small {
  margin-left: 10px;
}