<form method="post" action="https://merchant.w1.ru/checkout/default.aspx" accept-charset="UTF-8">
  {% for k, v in payment_data.items %}
    <input name="{{ k }}" value="{{ v }}" type="hidden" />
  {% endfor %}
  <input type="submit" class="btn btn-success btn-mini" value="Оплатить через WalletOne" />
</form>