<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
{% for order in orders %}
  <form method="post" action="https://merchant.w1.ru/checkout/default.aspx" accept-charset="UTF-8">
    {% for k, v in order.items %}
      <input name="{{ k }}" value="{{ v }}" />
    {% endfor %}
    <input type="submit"/>
  </form>
{% endfor %}
</body>
</html>