{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">ShoppyBoom Administration</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block userlinks %}
    <a href="{% url 'report_by_clients' %}">Отчет по клиентам</a> /
    <a href="{% url 'report_by_shops' %}">Отчет по магазинам</a> /
    {% if user.has_usable_password %}
      <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
