{% extends "Cabinet/base.html" %}

{% block top_menu %}{% endblock %}

{% block main_content %}
  <div class="row-fluid">
    <div class="span4 offset4">
      <div class="well">
        <form action="#" method="post">
          {% csrf_token %}
          <fieldset>
            {{ response }}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}