{% load static %}
{% load cabinet %}
<!doctype html>
<html>

<head>
    <title>{% block page_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.spacelab.css">#}
    <link rel="stylesheet" href="/static/css/cabinet/main.css">
    <link rel="stylesheet" href="/static/css/icons-family.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/cabinet/datetimepicker.jquery.css' %}">
    <link rel="stylesheet" href="{% static 'css/cabinet/bootstrap-switch.css' %}">

    <script src="/static/js/libs/jquery-1.10.1.min.js"></script>

    <!--<script src="/static/js/cabinet/ckeditor/ckeditor.js"></script>-->
    <!--<script src="/static/js/cabinet/ckeditor/adapters/jquery.js"></script>-->

    <script src="/static/js/cabinet/ckeditor_full/ckeditor.js"></script>
    <script src="/static/js/cabinet/ckeditor_full/adapters/jquery.js"></script>

    <script src="/static/js/libs/jquery.hotkeys.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/libs/wysiwyg.bootstrap.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static 'js/cabinet/underscore-min.js' %}"></script>
    <script src="{% static 'js/cabinet/bootstrap-switch.js' %}"></script>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/cabinet/reset.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/cabinet/fonts.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/cabinet/jquery.formstyler.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/cabinet/style.css"/>
    <script type="text/javascript" src="{% static 'js/cabinet/datetimepicker.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.lettering-0.6.1.min.js' %}"></script>
    <script type="text/javascript" src="/static/js/cabinet/jquery.formstyler.min.js"></script>
    <script type="text/javascript" src="/static/js/cabinet/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{% static  'js/libs/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/libs/backbone.marionette.min.js' %}"></script>
    <script src="/static/js/cabinet/main.js"></script>
    <script src="/static/js/cabinet/common/common.js"></script>

    <script type="text/javascript" src="/static/js/cabinet/new.js"></script>
    <script>
      var is_admin = false;
      {% if user.is_superuser %}
        is_admin = true;
      {% endif %}
    </script>
    {% block head %}{% endblock %}
</head>
<body>

<div id="header">
  <div class="container">
    <a href="/cabinet/" id="logo"><img src="/static/images/cabinet/logo.png" width="134" height="46" alt="ShoppyBoom"/></a>

    {% include 'Cabinet/include/cabinet_top_menu.html' with shop=shop %}
    {% if request.user.is_authenticated %}
      <div class="admin">
        <ul class="profile">
          <li><span>{{ request.user.username }}</span>
            <ul>
{#                    <li><a href="#">Личные данные</a></li>#}
{#                    <li><a href="#">Настройки</a></li>#}
              {% if user %}
                <li><a href="{% url 'client_user_edit' client_pk=user.clients.all.0.pk user_pk=user.pk %}"><i class="i"></i> Мой профиль</a></li>
              {% endif %}
              <li><a href="{% url 'client_profile_list' %}"><i class="i"></i> Настройки аккаунта</a></li>
              <li><a href="{% url 'change_password' %}"><i class="i"></i> Сменить пароль</a></li>
              <li><a href="{% url 'logout' %}"><i class="i"></i> Выйти</a></li>
            </ul>
          </li>
        </ul>
        <select name="shop" id="id_shop" onchange="window.location=this.value">
          {% if not shop.id %}
            <option value="">&mdash; <em>выберите магазин</em> &mdash;</option>
          {% endif %}
          {% if user.shoppyuser.can_create_shop or user.is_superuser %}
            <option class="btn-success" value="{% url 'new_shop' %}"><i class="icon-plus icon-white"></i>&nbsp;Новый магазин</option>
          {% endif %}
          {% for s in shops %}
            {% ifchanged s.client_id %}<optgroup label="{{ s.client.name }}">{% endifchanged %}
            <option value="{% url 'shop' s.id %}"{% ifequal s.id shop.id %} selected="selected"{% endifequal %}>{{ s.name }}</option>
          {% endfor %}
          </optgroup>
        </select>
      </div>
    {% endif %}
  </div>
</div>
<div id="main">
  <div class="container">
    {% if notifications %}
      <div id="notifications">
        {% regroup notifications|dictsort:'level' by level as notification_list %}
  {#      <div class="row">#}
  {#        <div class="span12">#}
            <div class="alert alert-info">
              <div class="row-fluid">
                <div class="span4">Ознакомьтесь с оповещениями:</div>
                <div class="span8">
                  {% for group in notification_list %}
                    <button
                        type="button"
                        class="btn btn-mini btn-{{ group.grouper|code2bootstrap_alert:'class' }}"
                        data-toggle="collapse"
                        data-target="#notification-{{ group.grouper|code2bootstrap_alert:'class' }}">
                          {{ group.grouper|code2bootstrap_alert:'desc' }}: {{ group.list|length }}
                    </button>
                  {% endfor %}
                </div>
              </div>
            </div>
  {#        </div>#}
  {#      </div>#}
        {% for group in notification_list %}
          <div id="notification-{{ group.grouper|code2bootstrap_alert:'class' }}" class="collapse">
            {% for n in group.list %}
              <div class="alert alert-mini alert-{{ group.grouper|code2bootstrap_alert:'class' }}">{{ n.text|safe }}</div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
{#  #}
{#    {% for n in notifications %}#}
{#      <div class="alert alert-{{ n.klass }}">{{ n.text|safe }}</div>#}
{#    {% endfor %}#}
{#    {% for msg in shop.get_alerts %}#}
{#      <div class="alert {{ msg.class }}">{{ msg.text|safe }}</div>#}
{#    {% endfor %}#}
    {% block main_content %}{% endblock %}
  </div>
</div>

{% block support %}
{#<!-- BEGIN JIVOSITE CODE {literal} -->#}
{#script type='text/javascript'>#}
{#(function(){ var widget_id = '156508';#}
{#var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>#}
{#<!-- {/literal} END JIVOSITE CODE -->#}
{% endblock %}

<!-- BEGIN ANALYTICS -->
<script type="text/javascript">
  window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
  window.analytics.load("yy6c8hl9ls");
  {% if request.user %}
  window.analytics.identify({{request.user.id}});
  {% endif %}
  window.analytics.page();
</script>
<!-- END ANALYTICS -->

</body>

</html>
