{% extends "Cabinet/index.html" %}
{% load static %}
{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Запросы звонка{% endblock %}

{% block head %}
  <script>
    $(function(){
      $('#id_cdate_from').datetimepicker({
        format:'d.m.Y',
        formatDate:'d.m.Y',
        onShow:function( ct ){
         this.setOptions({
          maxDate:$('#id_cdate_to').val()?$('#id_cdate_to').val():false
         })
        },
        timepicker:false
      });

      $('#id_cdate_to').datetimepicker({
        format:'d.m.Y',
        formatDate:'d.m.Y',
        onShow:function( ct ){
         this.setOptions({
          minDate:$('#id_cdate_from').val()?$('#id_cdate_from').val():false
         })
        },
        timepicker:false
      });
    });
  </script>
  <script src="{% static 'js/cabinet/orders.js' %}"></script>
  {{ form.media }}
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/orders_menu.html' with state='callback_orders' %}
  <h1>Запросы звонка</h1>

  <form action="#" method="get" style="margin-bottom: 20px;">
    <div class="controls controls-row">
      {% for field in filter.form %}
        {{ field }}
      {% endfor %}
      <input type="submit" class="span2 btn btn-success" value="Фильтровать">
    </div>
  </form>

  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Тип приложения</th>
            <th>Товар</th>
            <th>Пользователь</th>
            <th>Имя</th>
            <th>Телефон</th>
          </tr>
        </thead>
        {% for order in orders %}
          <tr>
            <td>{{ order.app_type.name }}</td>
            <td>
              <a href="{% url 'shop_good_edit' shop_id=shop.pk productid=order.product.pk %}">{{ order.product.name }}</a>
            </td>
            <td>
              {% with order.app_type.code as app_type %}
                {% with order.customer as customer %}
                  {% if app_type == 'vk' %}
                    <a href="{{ customer.get_vk_url }}" target="_blank">Профиль</a>
                  {% elif app_type == 'fb' %}
                    <a href="{{ customer.get_fb_url }}" target="_blank">Профиль</a>
                  {% elif app_type == 'fb_tab' %}
                    <a href="{{ customer.get_fb_url }}" target="_blank">Профиль</a>
                  {% elif app_type == 'ok' %}
                    <a href="{{ customer.get_ok_url }}" target="_blank">Профиль</a>
                  {% elif app_type == 'www' %}
                    &mdash;
                  {% endif %}
                {% endwith %}
              {% endwith %}
            </td>
            <td>{{ order.name }}</td>
            <td>{{ order.phone }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="pagination pagination-centered">
    {% with orders as page %}
      {% include 'Cabinet/include/pagination.html' %}
    {% endwith %}
  </div>
{% endblock %}