{% extends "Cabinet/index.html" %}

{% load mptt_tags %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Категории{% endblock %}

{% block content %}
  <h1>Категории</h1>

  <div class="SBinfoBlock">Категории без товаров и подкатегорий не будут показываться в приложении</div>
  {% if not is_automatic_mode %}
    <small>
      <a class="btn btn-success" href="{% url 'shop_category_create' shop_id=shop.id %}?datasource_pk={{ current_ds.pk }}">
        Добавить категорию
      </a>
    </small>
    <br>
  {% endif %}
  Источник:
  <ul class="nav nav-pills">
    {% for ds in datasources %}
      <li {% if ds == current_ds %}class="active"{% endif %}>
        <a href="?datasource_pk={{ ds.pk }}">
          {{ ds.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="btn-group">
    <button class="btn btn-mini SBfoldingAllSwitch" type="button">Свернуть все</button>
    <button class="btn btn-mini SBemptySwitch" type="button">Скрыть пустые</button>
  </div>

  <br><br>

<ul class="SBcategorySortable" data-pcid="0">
    {% recursetree nodes %}
        <li data-cid="{{ node.id }}" class="{% if not node.is_leaf_node %}SBfoldableCat{% endif %} {% if not node.active_products_count %}SBemptyCat{% endif %}">
            <span class="SBcategoryItem" style="border-left-color: rgb({{ node.ccolor }},{{ node.color }},0);{% if not node.active_products_count %}border-left-color: #f00;{% endif %}">
                <input class="c-toogle-active cat{{ node.id }}" type="checkbox" {% if node.status %}checked="checked"{% endif %}>
                &nbsp;{{ node.name }}
                {% if not node.is_leaf_node %}
                    &nbsp;<a href="javasctipt:void(0)" class="SBfoldingSwitch"><i class="icon-chevron-down icon-white"></i></a>
                {% endif %}
                <span class="extra">
                    <a title="Просмотреть товары" href="{% url 'shop_goods' shop_id=shop.id %}?category={{ node.id }}" target="_blank">{{ node.active_products_count }}</a>
                    <a title="Редактировать категорию" href="{% url 'shop_category_edit' shop_id=shop.id category_id=node.id %}"><i class="icon-pencil icon-white"></i></a>
                    <a title="Добавить подкатегорию" href="{% url 'shop_category_create' shop_id=shop.id %}?parent={{ node.id }}"><i class="icon-plus icon-white"></i></a>
                    <a title="Удалить категорию" href="{% url 'category_delete' shop_id=shop.id category_pk=node.id %}"><i class="icon-trash icon icon-white"></i></a>
                </span>
            </span>
            <ul class="SBcategorySortable SBsubCategory{{ node.id }}" data-pcid="{{ node.id }}">
                {{ children }}
            </ul>
        </li>
    {% endrecursetree %}
</ul>
  <br><br>
  <style>
    li>ul.SBcategorySortable {border-left: 3px solid #eee;}
    .ui-state-highlight {height: 30px; width: 300px; border-radius:5px; box-shadow: inset 0 0 10px #aaa}
  </style>
  <script>
    $(function() {
      $( ".SBcategorySortable" ).sortable({
      {% if not is_automatic_mode  %}connectWith: ".SBcategorySortable",{% endif %}
        placeholder: "ui-state-highlight",
        stop: function( event, ui ) {
          $( ".SBcategorySortable").sortable("disable");
          cid = ui.item.data('cid');
          pcid = ui.item.parent('ul').data('pcid');
          index = ui.item.index();
          dsid = {{ current_ds.id }};
          $.get("/cabinet/{{ shop.id }}/category_move/",{cid:cid,pcid:pcid,index:index,dsid:dsid})
            .success(function(data){
                $( ".SBcategorySortable").sortable("enable");
            });
        }
      }).disableSelection();
      $('.c-toogle-active').click(function(){
        var c_id = $(this).parent().parent().attr('data-cid');
        var url = '/cabinet/{{ shop.pk }}/categories/'+ c_id +'/toggle-state/';
        $.get(url,function(data){
            for (i in data['ids']){
                $('.cat'+data['ids'][i]).prop('checked',data['status']);
            }
        });
      });
      $('.SBfoldingSwitch').click(function(){
        var c_id = $(this).parent().parent().attr('data-cid');
        $('.SBsubCategory'+c_id).toggle();
      });
      $('.SBfoldingAllSwitch').click(function(){
        if( $(this).toggleClass('btn-primary').hasClass('btn-primary') ){
          $('.SBfoldableCat>ul').hide();
        }else{
          $('.SBfoldableCat>ul').show();
        }
      });
      $('.SBemptySwitch').click(function(){
        if( $(this).toggleClass('btn-primary').hasClass('btn-primary') ){
          $('.SBemptyCat').hide();
        }else{
          $('.SBemptyCat').show();
        }
      });
    });
  </script>
{% endblock %}