{% extends "Cabinet/index.html" %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Новая категория{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
<h1>Новая категория</h1>
<form action="#" method="post" id="text-editor-form">
  {% csrf_token %}
  {{ form.errors }}
  {{ form.as_p }}

  <select name="parent">
    <option value="None">----</option>
    {% for c in catlist %}
      <option value="{{ c.id }}" {% if c.id == parent %}selected="selected"{% endif %}>{{ c.level|multiply:"-" }} {{ c.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" class="btn btn-success" value="Сохранить" />
</form>
{% endblock %}