{% extends 'Cabinet/base.html' %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; {% if user %}Сотрудник{% else %}Создание сотрудника{% endif %}{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block main_content %}
  <a href="{% url 'client_user_list' client_pk=client.pk %}" class="btn btn-success btn-small">
    <i class="icon icon-arrow-left icon-white"></i> Назад, к списку
  </a>

  <br><br>

  <h1>
    {% if user %}
      Сотрудник
    {% else %}
      Создание сотрудника
    {% endif %}
  </h1>

  <form action="#" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if user %}
      <br/>
      <p>
        {% if not user.shoppyuser.vk_token_valid %}
          <a href="{{ vk_auth_url }}">
            <i class="icon-vk small"></i> Вход через Vkontakte</a>
        {% else %}
            <i class="icon-vk small"></i> Учетная запись Vkontakte подключена
        {% endif %}
      </p>
      <br/>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Сохранить">
  </form>
{% endblock %}