{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] &mdash; Магазины{% endblock %}

{% block head %}
  <script>
    $(function(){
      $("#sorted_table").tablesorter({
        cssAsc: 'sorter-icon-arrow-up',
        cssDesc: 'sorter-icon-arrow-down',
        cssHeader: 'sorter-icon'
      });
    })
  </script>
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/client_menu.html' with state='shops' %}

  <h1>Магазины</h1>

  <table class="table table-bordered" id="sorted_table">
    <thead>
      <tr>
        <th>Магазин <i></i></th>
        <th>Создан <i></i></th>
        <th>Оплачен до <i></i></th>
        <th>Продуктов <i></i></th>
        <th>Товаров <i></i></th>
        <th>VK <i></i></th>
        <th>FB <i></i></th>
      </tr>
    </thead>
  {% for shop in shops %}
    <tr>
      <td>
        <a href="{% url 'shop' shop_id=shop.pk %}">{{ shop.name }}</a>
      </td>
      <td>{{ shop.cdate|date:"d.m.Y" }}</td>
      <td>{{ shop.paid_till|date:"d.m.Y" }}</td>
      <td>{{ shop.get_product_count }}</td>
      <td>{{ shop.cats_count }}</td>
      <td>{% if shop.shopprofile.vk_url %}<a href="{{ shop.shopprofile.vk_url }}" target="_blank"><i class="icon-vk"></i></a>{% endif %}</td>
      <td>{% if shop.shopprofile.fb_url %}<a href="{{ shop.shopprofile.fb_url }}" target="_blank"><i class="icon-fb"></i></a>{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
