{% extends "Cabinet/index.html" %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Клиенты{% endblock %}

{% block content %}
  <h1>Список клиентов</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Название</th>
        <th>Кол-во магазинов</th>
        <th>Сотрудников</th>
        <th>От кого</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
  {% for client in clients %}
    <tr>
      <td>
        <a href="{% url 'client_profile' client_pk=client.pk %}">{{ client.name }}</a>
        {% if client.is_validated %}
          <span class="label label-success" style="float:right">Проверен</span>
        {% else %}
          <span class="label label-warning" style="float:right">Не проверен</span>
        {% endif %}
      </td>
      <td>
      <a href="{% url 'client_shop_list' client_pk=client.pk %}">
        {% ifequal client.shops.count 0 %}
        <span class="badge badge-important">0&nbsp;шт.</span>
        {% else %}
        <span class="badge">{{ client.shops.count }}&nbsp;шт.</span>
        {% endifequal %}
      </a>
      </td>
      <td>
        <a href="{% url 'client_profile' client_pk=client.pk %}">{{ client.users.count }}</a>
      </td>
      <td>
        {% if client.partner %}
          <a href="{% url 'admin:Core_partner_change' client.partner.pk %}">{{ client.partner.name }}</a>
        {% else %}
          <i>Нет партнера</i>
        {% endif %}
      </td>
      <td>
{#          reverse('admin:app_list', kwargs={'app_label': 'auth'})#}
        <a href="{% url 'admin:Core_client_delete' client.pk %}" class="label label-important"><span class="boom">BOOM</span>&nbsp;&ndash;&nbsp;<span class="boom">BOOM</span></a>
      </td>
    </tr>
  {% endfor %}
    </tbody>

  </table>
  <script> $().ready(function(){
      $('.boom,.shoop').lettering()
  })</script>
{% endblock %}