{% extends 'Cabinet/index.html' %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] &mdash; Сотрудники{% endblock %}

{% block content %}
  {% include 'Cabinet/include/client_menu.html' with state='users' %}
  <h1>Сотрудники</h1>

  <form action="{% url 'client_user_create' client_pk=client.pk %}" method="post">
  {% csrf_token %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Адрес электронной почты</th>
          <th>Телефон</th>
          <th>Роль</th>
          <th>Действия</th>
        </tr>
      </thead>
      {% for u in client.users.all %}
        <tr>
          <td>{{ u.first_name }}</td>
          <td>
            <a href="{% url 'client_user_edit' client_pk=client.pk user_pk=u.pk %}">
              {{ u.username }}
            </a>
          </td>
          <td>
            {% if u.shoppyuser.tel %}
              <a href="tel:{{ u.shoppyuser.tel }}">{{ u.shoppyuser.tel }}</a>
            {% else %}
              не указан
            {% endif %}
          </td>
          <td>
            {% for role in u.shoppyuser.roles.all %}
              {{ role.name }}{% if not forloop.last %},{% endif %}
            {% empty %}
              не задано ни одной роли
            {% endfor %}
          </td>
          <td>
            {% if u != user %}
              <a href="{% url 'client_user_delete' client_pk=client.pk user_pk=u.pk %}" class="btn btn-danger btn-small">Удалить</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td>
          <input type="text" name="first_name" placeholder="Имя">
        </td>
        <td>
          <input type="email" name="email" placeholder="Email">
        </td>
        <td>
          <input type="text" name="tel" placeholder="Номер телефона">
        </td>
        <td>
          {% for role in roles.all %}
            <label for="role_{{ forloop.counter }}">
              <input id="role_{{ forloop.counter }}" type="checkbox" name="roles" value="{{ role.pk }}">
              {{ role.name }}
            </label>
          {% endfor %}
        </td>
        <td>
          <input type="submit" value="Создать" class="btn btn-primary btn-small">
        </td>
      </tr>
    </table>
  </form>
{% endblock %}