{% extends "Cabinet/index.html" %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] &mdash; Настройки аккаунта{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/client_menu.html' with state='base' %}
  <h1>Настройки аккаунта</h1>

  {% if user.is_superuser %}
    {% if not client.is_validated %}
      <form action="#" method="post">
        {% csrf_token %}
        <input type="hidden" value="1" name="is_validated">
        <input type="submit" value="Пометить как 'Проверенный'" class="btn btn-success">
      </form>
      <br>
    {% endif %}
  {% endif %}

  <form action="#" method="post">
    {% csrf_token %}

  <div class="row">
    <div class="span12">
      {{ form.name.label }}
      {{ form.name.errors }}
      {{ form.name }}
    </div>

    <div class="span6">
    {% for field in form %}
      {% if field.name != 'name' %}
        {{ field.label }}
        {{ field.errors }}
        {{ field }}
        </div>
        <div class="span6">
      {% endif %}
    {% endfor %}
    </div>
  </div>
    <br />
    <input type="submit" value="Сохранить" class="btn btn-primary" />
  </form>
{% endblock %}