{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Купоны{% endblock %}

{% block head %}
<script type="text/javascript">
$(function(){
  $('.coupon-action-select-all, .coupon-action').click(function(){
    $('.coupon-action-delete').removeClass('disabled');
  });
  $('.coupon-action-select-all').click(function(){
    $('.coupon-action').attr('checked', this.checked);
  })

  $('.coupon-action-delete').click(function(){
    var values = [];
    $('.coupon-action:checked').each(function(index, element){
      values.push(element.value);
    });
    var values_str = values.join(',');
    var delete_url = '/cabinet/api/v1/coupon/?id__in=' + values_str;
    $.ajax({
      url: delete_url,
      type: 'DELETE',
      success: function(data){
        $('.coupon-action:checked').parent().parent().remove();
      }
    });
  })
})
</script>
{% endblock %}

{% block content %}
  <h1>Купоны</h1>

  {% include 'Cabinet/include/stock_menu.html' with state='stock' %}

  Всего купонов: {{ coupons_all }}<br />
  Активно купонов: {{ coupons_active }}<br />
  Активировано купонов: {{ coupons_activated }}<br />
  <div class="btn btn-danger coupon-action-delete disabled">Удалить</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><input type="checkbox" class="coupon-action-select-all" /></th>
        <th>Ключ</th>
        <th>Начало действия</th>
        <th>Окончание действия</th>
        <th>Максимальное кол-во активаций</th>
        <th>Активировано раз</th>
      </tr>
    </thead>
  {% for coupon in coupons %}
    <tr>
      <td><input type="checkbox" name="coupon" value="{{ coupon.pk }}" class="coupon-action" /></td>
      <td>{{ coupon.key }}</td>
      <td>{{ coupon.time_from }}</td>
      <td>{{ coupon.time_to }}</td>
      <td>{{ coupon.max_count }}</td>
      <td>{{ coupon.cur_count }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}