{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] &mdash; Пользователь{% endblock %}

{% block head %}{% endblock %}

{% block content %}
  <h1>Пользователь</h1>

  <table class="table table-bordered">
    <tr>
      <th>Имя</th>
      <td>{{ customer.full_name|default:"&mdash;" }}</td>
    </tr>
    <tr>
      <th>Дата рождения</th>
      <td>{{ customer.birthday_str|default:"&mdash;" }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ customer.email|default:"&mdash;" }}</td>
    </tr>
    <tr>
      <th>Пол</th>
      <td>{{ customer.get_sex_display|default:"&mdash;" }}</td>
    </tr>
    <tr>
      <th>Семейное положение</th>
      <td>{{ customer.get_relation_display|default:"&mdash;" }}</td>
    </tr>
    <tr>
      <th>Профили в соц. сетях</th>
      <td>
        {% with customer.get_fb_url as fb_url %}
          {% if fb_url %}
            <a href="{{ fb_url }}" target="_blank"><i class="icon-fb"></i></a>
          {% endif %}
        {% endwith %}
        {% with customer.get_vk_url as vk_url %}
          {% if vk_url %}
            <a href="{{ vk_url }}" target="_blank"><i class="icon-vk"></i></a>
          {% endif %}
        {% endwith %}
        {% with customer.get_ok_url as ok_url %}
          {% if ok_url %}
            <a href="{{ ok_url }}" target="_blank"><i class="icon-odnoklassniki"></i></a>
          {% endif %}
        {% endwith %}
      </td>
    </tr>
  </table>
{% endblock %}