{% extends "Cabinet/index.html" %}
{% load static %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Товары{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/cabinet/chosen.min.css' %}"/>
  <script type="text/javascript" src="{% static 'js/cabinet/chosen.jquery.min.js' %}"></script>
  <script>
    $(function(){
      $(".chosen-select").chosen({
        disable_search_threshold: 10,
        no_results_text: "Нет такой группы"
      }).change( function(event, obj) {
        var product_id = $(this).data('product'),
            url = '/cabinet/api/v1/group2product/',
            request_type, group_id, data;

        if (obj.deselected) {
          request_type = 'DELETE';
          group_id = obj.deselected;
        }
        else{
          request_type = 'POST';
          group_id = obj.selected;
        }

        data = { group_id: group_id, product_id: product_id };

        if (request_type == 'DELETE') {
          url += '?' + $.param(data);
        }

        $.ajax({
          url: url,
          type: request_type,
          data: JSON.stringify(data),
          contentType: "application/json",
          dataType: "json",
          success: function (resp) {}
        });
      });
    });
  </script>
{% endblock %}

{% block content %}

  <script>
  $(function() {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    var cache = {};
    $( "#category" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 1,
        source: function( request, response ) {
          var url = '/cabinet/api/v1/category/?datasource__exact={{ current_ds.pk }}&name__icontains=' + extractLast(request.term);
          $.get(
              url,
              function( data ) {
                var mapper = function(obj){
                  if(obj.parent_name){
                    var cat_name = obj.parent_name + ' / ' + obj.name;
                  }else{
                    var cat_name = obj.name;
                  }
                  return {
                    label: cat_name,
                    value: cat_name,
                    id: obj.id
                  }
                }
                var res = _.map(data.objects, mapper);
                response(res);
              }
          );
        },
        focus: function() {
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          location.href ='./?datasource_pk={{ current_ds.pk }}&category=' + ui.item.id;
          return false;
        }
      });
  });
  </script>

{% with 'goods' as state %}
  {% include 'Cabinet/include/goods_menu.html' %}
{% endwith %}
<h1>Товары {% if not is_automatic_mode %}<a href="{% url 'shop_good_create' shop_id=shop.pk %}?datasource_pk={{ current_ds.pk }}" class="btn btn-success">Добавить</a>{% endif %}</h1>

  Источник:
  <ul class="nav nav-pills">
    {% for ds in datasources %}
      <li {% if ds == current_ds %}class="active"{% endif %}>
        <a href="?datasource_pk={{ ds.pk }}">
          {{ ds.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

<ul class="breadcrumb">
  <li>
    <a href="{% url 'shop_goods' shop_id=shop.pk %}?datasource_pk={{ current_ds.pk }}"><i><b>Все товары</b></i></a>
    <span class="divider">/</span>
  </li>
  {% if cat %}
    {% spaceless %}
    {% for c in cat.get_category_path %}
      <li>
        <a href="./?datasource_pk={{ current_ds.pk }}&category={{ c.pk }}">{{ c.name }}</a>
        <ul class="sb-same-level-cat-list">
          {% for cc in c.same_level_cats %}
            <li>
              <a href="./?datasource_pk={{ current_ds.pk }}&category={{ cc.pk }}">{{ cc.name }}</a>({{ cc.active_products_count }})
            </li>
          {% endfor %}
        </ul>
        <span class="divider">/</span>
      </li>
    {% endfor %}
    {% endspaceless %}
    <li>
      {{ cat.name }}
      <ul class="sb-same-level-cat-list">{% spaceless %}
        {% for c in cat.same_level_cats %}
          <li>
            <a href="./?datasource_pk={{ current_ds.pk }}&category={{ c.pk }}">{{ c.name }}</a>({{ c.active_products_count }})
          </li>
        {% endfor %}
      {% endspaceless %}</ul>
    </li>
    {% if cat.subcats.count %}
      <li>
        <span class="divider">/</span>
        <i>Подкатегории</i>
        <ul class="sb-same-level-cat-list">{% spaceless %}
          {% for c in cat.subcats.all %}
            <li>
              <a href="./?datasource_pk={{ current_ds.pk }}&category={{ c.pk }}">{{ c.name }}</a>({{ c.active_products_count }})
            </li>
          {% endfor %}
        {% endspaceless %}</ul>
      </li>
    {% endif %}
  {% else %}
    <li>
      <i>Категории</i>
      <ul class="sb-same-level-cat-list">{% spaceless %}
        {% for c in root_cats %}
          <li>
            <a href="./?datasource_pk={{ current_ds.pk }}&category={{ c.pk }}">{{ c.name }}</a>({{ c.active_products_count }})
          </li>
        {% endfor %}
      {% endspaceless %}</ul>
    </li>
  {% endif %}
</ul>
<input type="text" id="category" placeholder="Фильтр по категории" />
    <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th class="span2">Артикул</th>
        <th class="span1"></th>
        <th class="span6">Название</th>
        <th class="span1">Ссылки</th>
        <th class="span2">Цена</th>
    </tr>
    </thead>
    {% for g in goods %}
    <tr class="SBproduct{{ g.id }}{{ g.status|yesno:', off muted' }}">
        <td style="vertical-align: middle"><tt>#{{ g.oid }}</tt></td>
        <td style="height: 50px; background-image: url('{{ g.cover }}'); background-repeat: no-repeat; background-size: cover"></td>
        <td style="vertical-align: middle">
            {% if is_automatic_mode %}
              <a href="{% url 'good_view' shop_id=shop.pk product_pk=g.pk %}">{{ g.name }}</a>
            {% else %}
              <a href="{% url 'shop_good_edit' shop_id=shop.pk productid=g.pk %}">{{ g.name }}</a>
            {% endif %}
            <br/>
            <select class="chosen-select" multiple data-placeholder="Выберите группу" data-product="{{ g.pk }}">
              {% with g.groups.all as good_groups %}
                {% for group in groups %}
                  <option value="{{ group.pk }}" {% if group in good_groups %}selected="selected"{% endif %}>{{ group.name }}</option>
                {% endfor %}
              {% endwith %}
            </select>
            {% with g.get_fb_url as fb_url %}
              {% if fb_url %}<a class="pull-right icon-fb" target="_blank" href="{{ fb_url }}" title="Посмотреть в FB.com"></a>{% endif %}
            {% endwith %}
            {% with g.get_vk_url as vk_url %}
              {% if vk_url %}<a class="pull-right icon-vk" target="_blank" href="{{ vk_url }}" title="Посмотреть в VK.com"></a>{% endif %}
            {% endwith %}
        </td>
        <td class="lead" style="vertical-align: middle; text-align: center;">
          {% with g|get_attr:'get_vk_url'|call_attr:shop as url %}{% if url %}
            <a href="{{ url }}" target="_blank"><i class="icon-vk small"></i></a>
          {% endif %}{% endwith %}
          {% with g|get_attr:'get_ok_url'|call_attr:shop as url %}{% if url %}
            <a href="{{ url }}" target="_blank"><i class="icon-odnoklassniki small"></i></a>
          {% endif %}{% endwith %}
          {% with g|get_attr:'get_fb_url'|call_attr:shop as url %}{% if url %}
            <a href="{{ url }}" target="_blank"><i class="icon-fb small"></i></a>
          {% endif %}{% endwith %}
        </td>
        <td class="lead" style="vertical-align: middle">{{ g.price }} руб.</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5" style="text-align: center">В категории нет товаров.</td>
    </tr>
    {% endfor %}
    </table>

  <div class="pagination pagination-centered">
    {% with goods as page %}
      {% include 'Cabinet/include/pagination.html' %}
    {% endwith %}
  </div>
{% endblock %}