{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Товары{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <h1>Товар</h1>
{#  {% include 'Cabinet/include/product_offers.html' with state='product' %}#}

  {{ form.errors }}
  <form action="#" method="post" id="text-editor-form" enctype="multipart/form-data">{% csrf_token %}
    {% if product %}
      <ul class="breadcrumb">
        {% for cat_set in product.get_full_category %}
          {% for cat in cat_set %}
            <li><a href="{% url 'shop_goods' shop_id=shop.pk %}?datasource_pk={{ cat.datasource.pk }}&category={{ cat.pk }}">{{ cat.name }}</a></li>
            {% if not forloop.last %}<span class="divider">/</span>{% endif %}
          {% endfor %}
          <br />
        {% endfor %}
      </ul>
    {% endif %}

    {{ form.as_p }}


    <hr />

    <div class="row">
        <div class="span7">
            <h2>Размеры</h2>
            <table class="table table-bordered size-table" style="width: auto">
                <tr>
                    <th class="span2">Артикул</th>
                    <th class="span2">Размер</th>
                    <th class="span2">Цена</th>
                    <th class="span1">Удалить</th>
                </tr>
            {% for o in product.offers.all %}
                <tr>
                    <td>{{ o.oid }}</td>
                    <td>{{ o.get_size }}</td>
                    <td>{{ o.price }}</td>
                    <td style="text-align: center"><input type="checkbox" name="remove_offer" value="{{ o.id }}" /></td>
                </tr>
            {% endfor %}
            </table>
            <button class="size-add" type="button">Добавить размер</button>
        </div>

        <div class="span5">
            <h2>Фотографии</h2>
            <table class="table table-bordered image-table">
            {% for img_url in product.image_list %}
                <tr>
                    <td><img src="{{ img_url }}" width=100></td>
                    <td>
                      <input type="text" name="images" value="{{ img_url }}" />
                      <label for="del-img-{{ img_url }}">
                        Удалить?
                        <input type="checkbox" name="del-img-{{ img_url }}" id="del-img-{{ img_url }}" />
                      </label>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <button class="image-add" type="button">Добавить URL</button>
            <button class="image-d-add" type="button">Загрузить изоражение</button>
        </div>

    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-success" value="Сохранить товар" />
    </div>
  </form>
  <script>
    $('.size-add').click(function(){
      $('.size-table').append('<tr>\
            <td><input class="input-small" type="text" name="offer_oid" value="{{ product.oid }}"/></td>\
            <td><input class="input-small" type="text" name="offer_size" /></td>\
            <td>{{ product.price }}</td>\
            <td></td>\
        </tr>')
    });
    $('.image-add').click(function(){
      $('.image-table').append('<tr><td colspan=2 style="text-align:center"><input type="text" name="images" /></td></tr>');
    });
    $('.image-d-add').click(function(){
      $('.image-table').append('<tr><td colspan=2 style="text-align:center"><input type="file" name="images_download" /></td></tr>');
      $('.image-table input[type="file"]').styler();
    });
  </script>
{% endblock %}