{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] Товар {{ shop.name }}{% endblock %}

{% block head %}{{ form.media }}{% endblock %}

{% block content %}
  <h1>Товар</h1>
{#  {% include 'Cabinet/include/product_offers.html' with state='product' shop=shop product=product is_automatic_mode=is_automatic_mode %}#}

  {% if product %}
    <ul class="breadcrumb">
      {% for cat_set in product.get_full_category %}
        {% for cat in cat_set %}
          <li><a href="{% url 'shop_goods' shop_id=shop.pk %}?datasource_pk={{ cat.datasource.pk }}&category={{ cat.pk }}">{{ cat.name }}</a></li>
          {% if not forloop.last %}<span class="divider">/</span>{% endif %}
        {% endfor %}
        <br />
      {% endfor %}
    </ul>
  {% endif %}

  <table class="table table-bordered">
    <tr><th>Название</th><td>{{ product.name }}</td></tr>
    <tr><th>Артикул товара</th><td>{{ product.oid }}</td></tr>
    <tr><th>Описание (из YML)</th><td>{{ product.desc }}</td></tr>
    <tr><th>Описание (переопределенное)</th>
      <td>
        <div class="alert alert-info">
          <strong>Подсказка</strong> Переопределите описание для замены текста описания из YML
        </div>
        <form action="#" method="post">
          {% csrf_token %}

          {{ form.manual_desc.errors }}
          {{ form.manual_desc }}
          <br/>
          <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Использовать это описание"/>
            <input type="submit" class="btn btn-warning" name="clear_manual_desc" value="Использовать описание из YML"/>
          </div>
        </form>
      </td>
    </tr>
    <tr><th>Категории</th><td>{% for c in product.categories.all %}{{ c.name }}{% if not forloop.last %},{% endif %} {% empty %}нет категорий{% endfor %}</td></tr>
    <tr><th>Виден</th><td>{{ product.status|yesno:"Да,Нет" }}</td></tr>
    <tr><th>Оригинальный адрес товара</th><td>{{ product.url }}</td></tr>
    <tr><th>Цена</th><td>{{ product.price }} руб.</td></tr>
  </table>

  <hr />

  <div class="row">
    <div class="span7">
      <h2>Размеры</h2>
      <table class="table table-bordered size-table" style="width: auto">
        <tr>
          <th class="span2">Артикул</th>
          <th class="span2">Размер</th>
          <th class="span2">Цена</th>
        </tr>
      {% for o in product.offers.all %}
        <tr>
          <td>{{ o.oid }}</td>
          <td>{{ o.get_size }}</td>
          <td>{{ o.price }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <div class="span5">
      <h2>Фотографии</h2>
      <table class="table table-bordered image-table">
      {% for img_url in product.image_list %}
        <tr>
          <td><img src="{{ img_url }}" width=100></td>
          <td>
            <input type="text" name="images" value="{{ img_url }}" disabled="disabled" />
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}