{% extends "Cabinet/base.html" %}


{% block main_content %}
{% if messages %}
  <ul id="user-messages">
    {% for message in messages %}
      <li class="msg msg-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  {% spaceless %}
    {% block content %}{% endblock %}

  {% endspaceless %}
{% endblock %}
