{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Посадочная страница{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/cabinet/landing_view.js">
</script>
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/pages_menu.html' with state='landing' %}
  <h1>Посадочная страница</h1>

  <div class="sections">
  {% for section in sections %}
    <div class="well" data-section-pk="{{section.id}}"
      data-section-type="{{section.TYPE_CODE}}"
      data-order="{{forloop.counter}}"
      draggable="true"
      title="Перетащите, чтобы изменить порядок секций">

      <h3>
        <a href="{{ section.get_cabinet_url }}">{{ section | striptags }}</a>
      </h3>

      <div class="row-fluid">
        <div class="span8">
          <strong>Статус:</strong>&nbsp;

          {% if section.is_active %}
            <span class="label label-success">Активен</span>
          {% else %}
            <span class="label label-important">Неактивен</span>
          {% endif %}
        </p>
        <p>{{ section.TYPE_DESC }}</p>
        </div>

        <div class="span4">
          <div class="btn-group">
            <a class="btn btn-primary"
              href="{{ section.get_cabinet_url }}">
              <i class="icon-pencil icon-white"></i>&nbsp;Редактировать
            </a>
            {% if section.TYPE_CODE == 'simple' %}
              <a class="btn btn-danger"
                href="{% url 'lsection_simple_delete' shop_id=shop.pk landing_pk=landing.pk section_pk=section.pk %}">
                <i class="icon-remove icon-white"></i>&nbsp;Удалить
              </a>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
  </div>

  <a href="{% url 'lsection_simple_create' shop_id=shop.pk landing_pk=landing.pk %}" class="btn btn-success"><i class="icon icon-plus icon-white"></i> Создать свободный раздел</a>
{% endblock %}
