{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Посадочная страница{% endblock %}

{% block content %}
  <h1 xmlns="http://www.w3.org/1999/html">Посадочная страница</h1>
  {% include 'Cabinet/include/pages_menu.html' with state='landing' %}

  {% if not landing %}
    <div class="row">
      <div class="span12 text-center">
        <a href="{% url 'landing_create' shop_id=shop.pk %}" class="btn btn-success btn-large">Создать посадочную страницу</a>
      </div>
    </div>
  {% endif %}
{% endblock %}