{% extends "Cabinet/index.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/cabinet/colpick.css"/>
  <script type="text/javascript" src="/static/js/cabinet/colpick.js"></script>
  <script>
    $(document).ready(function () {
      /* Показать color-picker для цвета заливки */
      (function () {
        /* Содержит текущий цвет колорпикера */
        var $chooseColor = $('.js-choose-color'),
            submited = false; /* Кликнули на Ok submited: true */

        var getRGBObject = function (rgbStr) {
          var rgbRegExp = /rgb\((\d{1,3}), (\d{1,3}), (\d{1,3})\)/;
          var match = rgbRegExp.exec( rgbStr),
              result = {};

          if (match !== null) {
            result = { r: match[1], g: match[2], b: match[3] };
          }

          return result;
        }
        var getRGBString = function (rgb) {
          return 'rgb(' + rgb.r + ',' + rgb.g + ',' + rgb.b + ')';
        }

        $chooseColor.colpick({
          flat: false,
          layout: 'hex',
          livePreview: false,
          submitText: 'Ок',
          color: getRGBObject( $chooseColor.css('background-color') ),
          submit: 1,
          onShow: function (colpick) {
            var $colpicker = $(colpick);
            /* Показывать picker выше квадратика */
            submited = false;
            $colpicker.css('top', $chooseColor.offset().top - $colpicker.outerHeight());
          },

          /* По клику вне колорпикера */
          onHide: function () {
            var color;

            /* Если не кликнули на "Ок", возвращаем цвет */
            if ( !submited ) {
              color = $chooseColor.css('background-color');
              $chooseColor.colpickSetColor( getRGBObject(color), true);
              $chooseColor.css('background-color', color);
            }
          },

          onSubmit: function (hsb, hex, rgb, el, bySetColor) {
            var $customField = $('#id_custom_style'),
                val = $customField.val(),
                styles = [],
                bgColorRegExp = /(background|background-color)/i;

            submited = true;

            /* Если есть background или background-color нужно заменить значения hex, на выбранное */
            if ( bgColorRegExp.test( val ) ) {
              /* делим стили */
              styles = val.split(';');

              for (var i = 0, len = styles.length; i < len; i += 1) {
                /* Значит это тот самый стиль, что нам нужен */
                if ( bgColorRegExp.test(styles[i]) ) {
                  /* Заменить старый цвет заливки, на только что выбранный */
                  styles[i] = styles[i].replace(/#{1}[a-zA-Z0-9]{3,6}/gi, '#' + hex);
                }
              }

              val = styles.join(';');
            }
            else {
              val += 'background-color: #' + hex + ';';
            }

            /* Добавляем полученное значение в поле "Стили оформления" */
            $customField.val( val );

            /* Элементу color-picker меняем цвет на только что выбранный */
            $(el).css( 'background-color', getRGBString(rgb) ).colpickHide();
          }
        });
      })();
    });
  </script>
{% endblock %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Посадочная страница{% endblock %}

{% block content %}
  {% include 'Cabinet/include/pages_menu.html' with state='landing' %}
  <h1>Посадочная страница</h1>

  <style type="text/css">
    /* Стилизовать wysiwyg для поля заголовка */
    #cke_id_title #cke_1_bottom,
    #cke_id_left_title #cke_1_bottom,
    #cke_id_right_title #cke_2_bottom{
      display: none;
    }

    #cke_id_title #cke_1_contents,
    #cke_id_left_title #cke_1_contents,
    #cke_id_right_title #cke_2_contents{
      height: 74px !important;
    }

    #cke_id_title #cke_inner,
    #cke_id_left_title #cke_inner,
    #cke_id_right_title #cke_inner{
      height: 120px !important;
    }

    form > p {
      margin-bottom: 12px;
    }

    .lp-bg-color{
      background: #fff;
      border: 1px solid #ccc;
      height: 20px !important;
      width: 20px !important;
      padding: 0 !important;
      margin: 0 !important;
      position: absolute;
      top: 0;
      left: 132px;
    }
  </style>
  <h2>Блок: {{ section_obj | striptags }} </h2>
  <form action="" method="post">
    <a href="{% url 'landing_view' shop_id=shop.pk landing_pk=landing.pk %}" class="btn btn-default btn-mini"><i class="icon icon-arrow-left"></i> К списку разделов</a>
    <input type="submit" value="Сохранить" class="pull-right btn btn-success"><br /><br />

    {% csrf_token %}
    {{ form.as_p }}
    <div style="position: relative;">
      <label>Цвет фона блока:</label><br />
      <div class="js-choose-color lp-bg-color" id="color-box" style="{{ form.custom_style.value }}"></div>
    </div>

    {% if comments_formset %}
      <br/>
      {{ comments_formset.management_form }}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="span1">#</th>
            <th class="span2">Автор</th>
            <th>Текст</th>
            <th class="span1">Удалить?</th>
          </tr>
        </thead>
        {% for form in comments_formset %}
          <tr>
            <td>
              {{ forloop.counter }}
              {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            </td>
            {% for field in form.visible_fields %}
              <td>
                {{ field.errors }}
                {{ field }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <a href="{% url 'landing_view' shop_id=shop.pk landing_pk=landing.pk %}" class="btn btn-mini"><i class="icon icon-arrow-left"></i> К списку разделов</a>
    <input type="submit" value="Сохранить" class="pull-right btn btn-success">
  </form>
{% endblock %}