{% extends "Cabinet/base.html" %}

{% block top_menu %}{% endblock %}

{% block head %}
  <style>
    #id_username, #id_password{
      text-align: center;
    }
  </style>
{% endblock %}

{% block main_content %}
  <div class="row-fluid">
    <div class="span6 offset3">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="span12">
            <h1 class="text-center">Вход для клиентов</h1>
          </div>
        </div>
        {% if not res %}
          <div class="errorlist">
            Неправильная пара логин/пароль. Проверьте данные и повторите попытку
          </div>
        {% endif %}

        {% for field in form %}
          <div class="row">
            <div class="span12">
              {{ field.errors }}
              <div class="text-center">{{ field.label_tag }}</div>
              {{ field }}
            </div>
          </div>
        {% endfor %}

        <div class="row">
          <button type="submit" class="btn btn-success span12 btn-large">Войти</button>
        </div>
        <br>
        <div class="row">
          <div class="span12 text-center">
            <a href="{% url 'password_recovery' %}">Забыли пароль?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block support %}{% endblock %}