{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Новости{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/pages_menu.html' with state='news' %}
  <h1>Новости</h1>
  <h2>Добавить новость</h2>

    <form action="{% url 'shop_news' shop_id=shop.pk %}" method="post" id="text-editor-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>
    </br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Название</th>
        <th>Дата публикации</th>
        <th>Действия</th>
      </tr>
    </thead>
    {% for news in newslist %}
      <tr>
        <td><a href="{% url 'shop_news_edit' shop_id=shop.pk newsid=news.pk %}">{{ news.name }}</a></td>
        <td>{{ news.cdate|date }}</td>
        <td><a href="{% url 'shop_news_edit' shop_id=shop.pk newsid=news.pk %}?delete=1"><i class="icon-trash"></i></a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}