{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Новости{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Новости</h1>

    <form action="#" method="post" id="text-editor-form">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>

{% endblock %}