{% extends 'Cabinet/index.html' %}

{% block content %}
  <h1>Модификации</h1>

  {% include 'Cabinet/include/product_offers.html' with state='offers' shop=shop product=product is_automatic_mode=is_automatic_mode %}

  <form action="#" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table style="border:1px solid #00f">
      {{ formset }}
    </table>
    <input type="submit">
  </form>
{% endblock %}