{% extends 'Cabinet/index.html' %}
{% load static %}
{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; История изменения заказа{% endblock %}

{% block head %}
  <script src="{% static 'js/cabinet/orders.js' %}"></script>
{% endblock %}


{% block content %}
  <a href="{% url 'shop_orders' shop_id=shop.pk %}" class="btn btn-success btn-mini"><i class="icon icon-arrow-left icon-white"></i> Назад, к списку заказов</a>
  <br />
  <br />
  {% include 'Cabinet/include/order_view.html' with order=order %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Пользователь</th>
        <th>Статус</th>
      </tr>
    </thead>
    {% for hist in history %}
      <tr>
        <td>{{ hist.timestamp }}</td>
        <td>
          {% if not hist.author.is_superuser %}
            {{ hist.author|default:'Не установлен' }}
          {% else %}
            ShoppyBoom
          {% endif %}
        </td>
        <td>{{ hist.get_new_status_display }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">История изменения заказа пуста</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}