{% extends "Cabinet/index.html" %}
{% load static %}
{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Заказы{% endblock %}

{% block head %}
  <script>
    $(function () {
      $('#id_cdate_from').datetimepicker({
        format:'d.m.Y',
        formatDate:'d.m.Y',
        onShow:function( ct ){
         this.setOptions({
          maxDate:$('#id_cdate_to').val()?$('#id_cdate_to').val():false
         })
        },
        timepicker:false
      });

      $('#id_cdate_to').datetimepicker({
        format:'d.m.Y',
        formatDate:'d.m.Y',
        onShow:function( ct ){
         this.setOptions({
          minDate:$('#id_cdate_from').val()?$('#id_cdate_from').val():false
         })
        },
        timepicker:false
      });
    });

    CabinetApp.addRegions({
      orderModalReg: '#modal-order-status-reg'
    });
  </script>
  <script src="{% static 'js/cabinet/orders.js' %}"></script>
  {{ form.media }}
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/orders_menu.html' with state='orders' %}
  <h1>Заказы</h1>
  <div id="modal-order-status-reg"></div>
  <form action="#" method="get" style="margin-bottom: 20px;">
    <div class="controls controls-row">
      {% for field in filter.form %}
        {{ field }}
      {% endfor %}
      <input type="submit" class="span2 btn btn-success" value="Фильтровать">
    </div>
  </form>

  {% for order in orders %}
    {% include 'Cabinet/include/order_view.html' with order=order with_link_to_full=1 %}
  {% endfor %}

  <div class="pagination pagination-centered">
    {% with orders as page %}
      {% include 'Cabinet/include/pagination.html' %}
    {% endwith %}
  </div>
{% endblock %}