{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Страницы{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% include 'Cabinet/include/pages_menu.html' with state='pages' %}
  <h1>Страницы</h1>
  <h2>Добавить страницу</h2>

    {{ form.errors }}
    <form action="{{ shop.get_cabinet_pages_url }}" method="post" id="text-editor-form">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>
    <br>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Псевдоним</th>
        <th>Название</th>
        <th>Действия</th>
      </tr>
    </thead>
    {% for page in pageslist %}
      <tr>
        <td>{{ page.order }}</td>
        <td>{{ page.alias }}</td>
        <td><a href="{{ page.get_cabinet_page_edit_url }}">{{ page.name }}</a></td>
        <td><a href="{{ page.get_cabinet_page_edit_url }}?delete=1"><i class="icon-trash"></i></a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}