{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Страницы{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Страницы</h1>

    {{ form.errors }}
    <form action="{{ page.get_cabinet_pages_edit_url }}" method="post" id="text-editor-form">{% csrf_token %}
        <!--<label>Название раздела</label>-->
        <!--<input type="text" value="{{ form.name.value }}" name="name" class="input-block-level title">-->

        <!--<label>Короткое имя, например "about"</label>-->
        <!--<input type="text" value="{{ form.alias.value }}" name="alias" class="input-block-level">-->

        <!--<label>Текст</label>-->
        <!--<textarea value="" name="content" id="source-view" class="ckeditor">{{ form.content.value|safe }}</textarea>-->

        <!--<label>Порядковый номер</label>-->
        <!--<input type="text" value="{{ form.order.value }}" name="order" class="input-block-level">{{ page.order }}-->
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>
{% endblock %}