{% extends 'Cabinet/index.html' %}

{% block content %}
  <div class="row">
    <div class="span12">
      <h1 class="text-center">Восстановление пароля</h1>
    </div>
  </div>
  <div class="row-fluid">
      {% if not result %}
        <div class="span6 offset3">
          <form action="#" method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="row">
                <div class="span12">
                  {{ field.errors }}
                  {{ field.label_tag }}
                  {{ field }}
                </div>
              </div>
            {% endfor %}

            <div class="row">
              <button type="submit" class="btn btn-success span12 btn-large">Войти</button>
            </div>
          </form>
        </div>
      {% else %}
        <div class="alert alert-success span8 offset2">
          <strong>Проверьте вашу почту!</strong> Мы выслали вам инструкции по восстановлению пароля
        </div>
      {% endif %}
  </div>
{% endblock %}