{% extends 'Cabinet/index.html' %}

{% block content %}
  {% include 'Cabinet/include/shop_menu.html' with state='payments' %}
  <h1>Выставленные счета</h1>

  {% if user.is_superuser %}<a target="_blank" class="btn btn-warning pull-right" href="{% url 'admin:Core_clientpayment_add'%}?client={{ shop.client_id }}&shop={{ shop.id }}">Выставить счет</a>{% endif %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Описание</th>
        <th>Сумма</th>
        <th>Действия</th>
        <th></th>
      </tr>
    </thead>
    {% for payment in payments %}
      <tr>
        <td>
            <small class="muted">{{ payment.ctime|date:"Y.m.d H:i" }}</small><br />
            {{ payment.desc }}
        </td>
        <td>{{ payment.get_amount }} руб.</td>
        <td>
          {% if payment.is_paid %}
            <i>Оплачен</i>
          {% else %}
            {% if payment.is_walletone %}
              {% include 'app_walletone/order_form_template.html' with payment_data=payment.get_walletone_payment_data %}
            {% endif %}
            {% if payment.is_robokassa %}
              {% include 'robokassa/order_form_template.html' with payment_data=payment.get_robokassa_payment_data %}
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if not payment.is_paid %}
            <a href="{% url 'delete_payment' shop_id=shop.pk payment_pk=payment.pk %}" class="btn btn-warning btn-mini">Удалить</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}