{% extends "Cabinet/index.html" %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Группа товаров{% endblock %}

{% block head %}
  <script type="text/javascript">
    var shop_pk = {{ shop.pk }};
    var currency_str = '{{ shop.currency.text }}';
  </script>
  {{ form.media }}
{% endblock %}

{% block content %}

  <h1>
    {% if not group %}
      Создание группы товаров
    {% else %}
      Редактирование группы товаров
    {% endif %}
  </h1>

  {% include 'Cabinet/include/goods_menu.html' with state='groups' %}

  <form action="#" method="post" id="js-products">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row">
      <div class="span3">
        <input id="autocomplete" type="text" placeholder="Начните вводить название товара" />
        <ul class="autocomplete"></ul>
      </div>
      <div class="span9">
        <div id="res"></div>
      </div>
    </div>
    <input type="submit" value="Сохранить" class="btn btn-success" />
  </form>
{% endblock %}