{% extends "Cabinet/index.html" %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Группы товаров{% endblock %}

{% block head %}{% endblock %}

{% block content %}

  {% include 'Cabinet/include/goods_menu.html' with state='groups' %}
  <h1>Группы товаров <a href="{% url 'product_group_create' shop_id=shop.pk %}" class="btn btn-success btn-mini">Новая группа</a></h1>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Группа</th>
        <th>Кол-во товаров</th>
        <th>Слайдер</th>
        <th>Корзина</th>
      </tr>
    </thead>
    {% for group in groups %}
      <tr>
        <td>
          <a href="{% url 'product_group_edit' shop_id=shop.pk group_pk=group.pk %}">{{ group.name }}</a>
        </td>
        <td>{{ group.products.count }}</td>
        <td>{{ group.use_for_slider|yesno:"Да,Нет" }}</td>
        <td>{{ group.show_in_cart|yesno:"Да,Нет" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">
          <i>Не cоздано ни одной группы</i>
        </td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}