{% extends 'Cabinet/index.html' %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <h1>Сервис: {{ platform.name }}</h1>
  {% with 'integration' as state %}
    {% include 'Cabinet/include/shop_menu.html' %}
  {% endwith %}
  <form action="#" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Сохранить">
    &nbsp;&nbsp;<a href="{% url 'shop_integration_list' shop.id %}">Вернуться в раздел "Интеграция"</a>
  </form>
{% endblock %}