{% extends 'Cabinet/index.html' %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <h1>Источник данных</h1>

  {% include 'Cabinet/include/shop_menu.html' with state='datasource' %}

  {% if datasource %}
    {% with datasource.get_last_fileimport_log as last_fileimport %}
      {% if last_fileimport and last_fileimport.text_err %}
        <div class="alert alert-error">
          <strong>Ошибка при последнем импорте YML</strong><br>
          {{ last_fileimport.text_err }}
        </div>
      {% endif %}
    {% endwith %}
  {% endif %}

  <form action="#" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить" class="btn btn-primary">
  </form>
  {% if user.is_superuser %}
  <br/>
  <span class="lead">Используется в магазинах</span>
  <ul class="nav nav-pills sb-ds-list sb-ds-list-admin">
    {% for s in datasource.shops.all %}
        <li>
          <a href="{% url 'shop' s.id %}">{{ s.name }}</a>
        </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}