{% extends 'Cabinet/index.html' %}

{% block head %}
  <!-- Через это модальное окно показывать  -->
  <div id="ds-modal-reg"></div>
  <script type="text/javascript">
    $( function() {
      /* Регион через кот. показывать модальное окно " */
      CabinetApp.addRegions({
        modalReg: '#ds-modal-reg'
      });

      /* Отключить datasource */
      $('.js-ds-turn-off').on('click', function (event) {
        var $target = $(this),
            dsModel = new Backbone.Model({ id: $target.data('id'), name: $target.data('name') }),
            dsModalView;

        event.preventDefault();

        dsModalView = new CabinetApp.Common.Views.DataSourceModal({ model: dsModel });

        /* Показать модально окно */
        dsModalView.on('show', function () {
          dsModalView.$el.modal('show');
        });

        CabinetApp.modalReg.show( dsModalView );
      });

      /* Показать модальное окно "Опросить источник */
      $('.js-ds-show-pull-modal').on('click', function (event) {
        var $target = $(this),
            dsModel = new Backbone.Model({ url: $target.data('url'), name: $target.data('name') }),
            dsModalView = new CabinetApp.Common.Views.PullDataSourceModal({ model: dsModel });

        dsModalView.on('show', function () {
          dsModalView.$el.modal('show');
        });

        event.preventDefault();

        CabinetApp.modalReg.show( dsModalView );
      });

      /* Показать модальное окно "Очистить источник */
      $('.js-ds-show-clear-modal').on('click', function (event) {
        var $target = $(this),
            dsModel = new Backbone.Model({ url: $target.data('url'), name: $target.data('name') }),
            dsModalView = new CabinetApp.Common.Views.ClearDataSourceModal({ model: dsModel });

        dsModalView.on('show', function () {
          dsModalView.$el.modal('show');
        });

        event.preventDefault();

        CabinetApp.modalReg.show( dsModalView );
      });
    });
  </script>
{% endblock %}


{% block content %}
  {% with 'datasource' as state %}
    {% include 'Cabinet/include/shop_menu.html' %}
  {% endwith %}
  <h1>Источники данных <a href="{% url 'shop_datasource_create' shop_id=shop.pk %}" class="btn btn-success btn-mini">Создать новый</a></h1>

  {% if user.is_superuser %}
  <div class="lead">
      Источники других клиентов
      <a class="icon-chevron-up" href="#" onclick="$(this).toggleClass('icon-chevron-up').toggleClass('icon-chevron-down'); $('.sb-ds-list-admin').toggle(); return false;"></a>
  </div>
  <ul class="nav nav-pills sb-ds-list sb-ds-list-admin" style="display:none;">
    {% for ds in all_datasources %}
      {% ifnotequal ds.client shop.client %}
      {% if ds in datasources %}
        <li class="active">
          <a href="#" class="js-ds-turn-off" data-name="{{ ds.name }}" data-id="{{ ds.pk }}">{{ ds.name }}</a>
        </li>
      {% else %}
        <li>
          <a href="./?add_datasource={{ ds.pk }}">{{ ds.name }}</a>
        </li>
      {% endif %}
      {% endifnotequal %}
    {% endfor %}
  </ul>
  {% endif %}

  <div class="lead">Доступные источники</div>
  <ul class="nav nav-pills sb-ds-list">
    {% for ds in all_datasources %}
      {% ifequal ds.client shop.client %}
      {% if ds in datasources %}
        <li class="active">
          <a href="#" class="js-ds-turn-off" data-name="{{ ds.name }}" data-id="{{ ds.pk }}">{{ ds.name }}</a>
        </li>
      {% else %}
        <li>
          <a href="./?add_datasource={{ ds.pk }}">{{ ds.name }}</a>
        </li>
      {% endif %}
      {% endifequal %}
    {% endfor %}
  </ul>

  {% for ds in datasources %}
    <div class="area">
{#      <div class="row">#}
{#        <div class="span12">#}
          <h2><a href="{% url 'shop_datasource_edit' shop_id=shop.pk datasource_pk=ds.pk %}">
            {{ ds.name }}
          </a></h2>
      {% if ds.is_processing %}
        <div class="alert alert-info">
          <strong>Источник опрашивается</strong>
        </div>
      {% endif %}
      {% with ds.get_last_fileimport_log as last_fileimport %}
        {% if last_fileimport and last_fileimport.text_err %}
          <div class="alert alert-error">
            <strong>Ошибка при последнем импорте YML</strong><br>
            {{ last_fileimport.text_err }}
          </div>
        {% endif %}
      {% endwith %}
          <div class="left">
            <p>
              <strong>Катeгорий</strong><br>
              {{ ds.categories.count }} шт.
            </p>
            <p>
              <strong>Товаров</strong><br>
              {{ ds.products.count }} шт.
            </p>
          </div>
          <!-- Автоматич. режим -->
          {% if ds.mode == 1 %}
            <div class="left">
                <p>
                  <strong>Режим</strong><br/>
                  {{ ds.get_mode_display }}
                </p>
                <p title="{{ ds.last_fetch|timesince }} назад">
                  <strong>Последний опрос</strong><br/>
                  {{ ds.last_fetch|date:"Y-m-d G:i" }}
                </p>

                <p title="через {{ ds.next_fetch|timeuntil }}">
                  <strong>Очередной опрос</strong><br/>
                  {{ ds.next_fetch|date:"Y-m-d G:i" }}
                </p>
            </div>
            <div class="left">
              <p>
                <strong>Ссылка на YML файл</strong><br>
                {{ ds.yml_url }}
              </p>
              {% if ds.root_cat_oid %}
                <p>
                  <strong>Категория, от которой начинается импорт</strong><br>
                  {{ ds.root_cat_oid }}
                </p>
              {% endif %}
            </div>
          {% else %}
            <div class="left">
              <p>
                <strong>Режим</strong><br/>
                {{ ds.get_mode_display }}
              </p>
            </div>
          {% endif %}
{#        </div>#}
{#      </div>#}
{#      <br>#}

      <div class="clr">
          {% if user.is_superuser %}
          <div class="pull-left" style="max-width: 50%; margin-top: 10px">
              <span class="lead">Магазины: </span>
              {% for s in ds.shops.all %}
                  <a href="{% url 'shop' s.id %}">{{ s.name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
          </div>
          {% endif %}

          <div class="pull-right">
            {% if not ds.is_processing %}
              <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'shop_datasource_edit' shop_id=shop.pk datasource_pk=ds.pk %}"><i class="icon-pencil icon-white"></i>&nbsp;Редактировать</a>
              </div>
              <div class="btn-group">
                <a class="btn btn-warning js-ds-show-pull-modal" data-name="{{ ds.name }}" data-url="{% url 'shop_datasource_force_update' shop_id=shop.pk datasource_pk=ds.pk %}" href="#" role="button"><i class="icon-refresh icon-white"></i>&nbsp;Опросить</a>
                <a class="btn btn-danger js-ds-show-clear-modal" data-name="{{ ds.name }}" data-url="{% url 'shop_datasource_truncate' shop_id=shop.pk datasource_pk=ds.pk %}" role="button"><i class="icon-remove icon-white"></i>&nbsp;Очистить</a>
              </div>
            {% endif %}
          </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}