{% extends 'Cabinet/index.html' %}


{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Оповещения{% endblock %}

{% block content %}
  {% include 'Cabinet/include/stock_menu.html' with state='notification' %}
  <h1>Оповещения</h1>
  <div class="row">
    <div class="span12">
      <a class="btn btn-success" href="{% url 'shop_notification_add' shop_id=shop.pk %}">Добавить</a>
    </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Текст</th>
      </tr>
    </thead>
    {% for notification in notifications %}
      <tr>
        <td>{{ notification.date|date:"d.m.Y H:i" }}</td>
        <td>{{ notification.text }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}