{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Системные параметры{% endblock %}

{% block content %}
  {% with 'advanced' as state %}
    {% include 'Cabinet/include/shop_menu.html' %}
  {% endwith %}
  <h1>Системные параметры</h1>
  <form action="#" method="post">
  {% csrf_token %}
  {{ formset.management_form }}

  {% for form in formset %}
    <table class="table">
      <tr>
        {% for field in form %}
          <td>{{ field }}{{ field.errors }}</td>
        {% endfor %}
      </tr>
    </table>
  {% endfor %}
  <input type="submit" value="Сохранить" class="btn btn-success" />
  </form>
{% endblock %}