{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Новое оповещение{% endblock %}

{% block head %}
  <script type="text/javascript">
    $(function(){
      $('#id_date').datetimepicker({
        format:'d.m.Y H:i'
      });
    });
  </script>

  {{ form.media }}
{% endblock %}

{% block content %}
  <h1>Новое оповещение</h1>

  {% include 'Cabinet/include/stock_menu.html' with state='notification' %}

  <form action="#" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
{% endblock %}