{% extends 'Cabinet/index.html' %}
{% load cabinet %}

{% block content %}
  <h1>Смена тарифа</h1>

  <div class="area">
  <p>Сейчас тариф вашего магазина <strong>{{ shop.tariff }}</strong> и оплачен до <strong>{{ shop.paid_till }}</strong></p>
  </div>
  {% if not resp_message %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Тариф</th>
          <th>Ограничения</th>
          <th>Платформы</th>
          <th>Обновление YML</th>
          <th>Стоимость</th>
          <th></th>
        </tr>
      </thead>
      {% for t in tariffs %}
        {% if t in available_tariffs or t == current_tariff %}
          <tr{% if t == current_tariff %} class="success"{% endif %}>
            <td>{{ t.name }}</td>
            <td>
              {% if t.max_products %}
                {{ t.max_products }} товаров
              {% else %}
                &mdash;
              {% endif %}
            </td>
            <td>
              {% if t.vk_enable %}
                <i class="icon-vk small"></i>
              {% endif %}
              {% if t.fb_enable %}
                <i class="icon-fb small"></i>
              {% endif %}
              {% if t.ok_enable %}
                <i class="icon-odnoklassniki small"></i>
              {% endif %}
            </td>
            <td>{{ t.get_update_period_display }}</td>
            <td>
              {% if not t.is_default and not t.is_archive %}
                {% if t.cost %}
                  {{ t.cost }} руб.
                {% else %}
                  По согласованию
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if not t.is_default and not t.is_archive %}
                <form action="#" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="tariff" value="{{ t.pk }}">
                  {% if t == current_tariff and t in available_tariffs %}
                    <input type="hidden" name="action" value="extend">
                    <div class="input-append input-prepend" style="margin-bottom: 0;">
                      <span class="add-on">Месяцев:</span>
                      <input style="width: 19px;text-align: center;" name="month_count" value="1" type="text">
                      <input type="submit" value="Продлить" class="btn btn-success apply ">
                    </div>
                  {% else %}
                    <input type="hidden" name="action" value="apply">
                    <input type="submit" value="Перейти" class="btn btn-success apply">
                    {% with shop|get_attr:'calculate_tariff_migration'|call_attr:t as new_paid_till %}
                      {% if new_paid_till %}
                        будет оплачен до {{ new_paid_till|date:"d.m.Y" }} г.
                      {% else %}
                        продление по договоренности
                      {% endif %}
                    {% endwith %}
                  {% endif %}
                </form>
              {% else %}
                <i>Продление невозможно</i>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% else %}
    {{ resp_message|safe }}
  {% endif %}
{% endblock %}