{% extends 'Cabinet/index.html' %}

{% block content %}
  {% with 'integration' as state %}
    {% include 'Cabinet/include/shop_menu.html' %}
  {% endwith %}
  <h1>Интеграция</h1>
  <ul class="nav nav-tabs" id="SBtabs">
    {% for item in platforms %}
      <li{% if forloop.first %} class="active"{% endif %} title="настройки {{ item.platform.name }}">
        <a href="#{{ item.platform.code }}">{{ item.platform.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for item in platforms %}
      <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ item.platform.code }}">
        <div class="area">
          <p>
            <strong>Ссылка для {{ item.platform.name }}</strong>
            <br>
            {% if item.platform.code == 'robokassa' %}
              Подключение сервиса приема платежей Robokassa.ru
              <ol style="list-style-type: decimal">
                <li><a href="https://partner.robokassa.ru/" target="_blank">Зарегистрируйтесь</a> на сайте Robokassa</li>
                <li>Создайте <a href="https://partner.robokassa.ru/Shops/Add" target="_blank">новый магазин</a></li>
                <li>
                  В разделе технических настроек заполните следующие поля:
                  <ul style="list-style-type: decimal; margin-left:20px">
                    <li>Result Url: http://shoppyboom.ru/robokassa/callback/result/</li>
                    <li>Метод отсылки данных по Result Url: GET</li>
                    <li>Success Url: http://shoppyboom.ru/robokassa/callback/success/</li>
                    <li>Метод отсылки данных по Success Url: GET</li>
                    <li>Fail Url: http://shoppyboom.ru/robokassa/callback/fail/</li>
                    <li>Метод отсылки данных по Fail Url: GET</li>
                  </ul>
                </li>
                <li>Перейдите в <a href="{% url 'shop_integration_service' shop_id=shop.pk platform_code=item.platform.code %}" target="_blank">параметры сервиса</a></li>
                <li>Вставьте в соответствующие поля "Идентификатор магазина", "Пароль #1" и "Пароль #2" сответственно</li>
                <li>Готово!</li>
              </ol>
            {% elif item.platform.code == 'checkout' %}
              <a href="https://platform.checkout.ru" target="new">platform.checkout.ru</a>
            {% endif %}
          </p>
          <p>
            {% if item.shop_platform %}
              <a href="{% url 'integration_service_delete' shop_id=shop.pk platform_code=item.platform.code %}" class="btn btn-warning btn-mini">Удалить платформу</a>
            {% endif %}
            <a href="{% url 'shop_integration_service' shop_id=shop.pk platform_code=item.platform.code %}">Параметры сервиса</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
      $(function() {
          $('#SBtabs a').click(function (e) {
              e.preventDefault();
              $(this).tab('show');
          });
      });
  </script>
{% endblock %}
