{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Скидки{% endblock %}

{% block content %}
  {% include 'Cabinet/include/stock_menu.html' with state='discount' %}
  <h1>Скидки</h1>

  <div class="row">
    <div class="span12">
      <a class="btn btn-success" href="{% url 'shop_discount_create' shop_id=shop.id %}">
        <i class="icon-plus icon-white"></i>
        Новая скидка
      </a>
    </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Область применения</th>
        <th>Значение</th>
        <th>Статус</th>
      </tr>
    </thead>
    {% for discount in discounts.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'shop_discount_edit' shop_id=shop.id discount_id=discount.id %}">
            {{ discount.name }}
          </a>
        </td>
        <td>{{ discount.get_application_display }}</td>
        <td>{{ discount.value }}</td>
        <td>{{ discount.status|yesno:"Да,Нет" }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
