{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Баннеры{% endblock %}

{% block content %}
  {% include 'Cabinet/include/stock_menu.html' with state='banner' %}
  <h1>Баннеры</h1>

  <div class="row">
    <div class="span12">
      <div class="btn-group">
        <a class="btn btn-success" href="{% url 'shop_banner_create' shop_id=shop.id %}?type=1">
          <i class="icon-plus icon-white"></i>
          Текстовый баннер
        </a>
        <a class="btn btn-success" href="{% url 'shop_banner_create' shop_id=shop.id %}?type=2">
          <i class="icon-plus icon-white"></i>
          Графический баннер
        </a>
        <a class="btn btn-success" href="{% url 'shop_banner_create' shop_id=shop.id %}?type=3">
          <i class="icon-plus icon-white"></i>
          Карусель
        </a>
      </div>
    </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Название</th>
        <th>Слот</th>
        <th>Тип</th>
        <th>Возраст</th>
        <th>Статус</th>
        <th class="span1">Действия</th>
      </tr>
    </thead>
  {% for banner in banners.all %}
    <tr>
      <td>
        <a href="{% url 'shop_banner_edit' shop_id=shop.id banner_id=banner.id %}">
          {{ banner.name }}
        </a>
      </td>
      <td>{{ banner.slot }}</td>
      <td>{{ banner.get_banner_type_display }}</td>
      <td>{{ banner.cdate|timesince }}</td>
      <td>{{ banner.status|yesno:"Виден,Скрыт" }}</td>
      <td>
        <a href="{% url 'shop_banner_delete' shop_id=shop.pk banner_pk=banner.pk %}" class="btn btn-danger btn-mini">Удалить</a>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="6">
        <div class="text-center"><i>Не создано ни одного баннера</i></div>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}