{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Интеграция{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
    {% with 'integration' as state %}
      {% include 'Cabinet/include/shop_menu.html' %}
    {% endwith %}
    <h1>Интеграция</h1>
    <div class="area">
        <div class="left">
            <p><strong>Result URL</strong><br />
                <a href="{{ shop.get_url }}{% url 'robokassa_result' %}" onclick="return false">{{ shop.get_url }}{% url 'robokassa_result' %}</a>
            <p><strong>Success URL</strong><br />
                <a href="{{ shop.get_url }}{% url 'robokassa_success' %}" onclick="return false">{{ shop.get_url }}{% url 'robokassa_success' %}</a>
            <p><strong>Fail URL</strong><br />
                <a href="{{ shop.get_url }}{% url 'robokassa_fail' %}" onclick="return false">{{ shop.get_url }}{% url 'robokassa_fail' %}</a>
            </p>
        </div>
        <div class="right">
            <p>
            Для подключения платежной системы РОБОКАССА<br />
            необходимо в <a href="https://partner.robokassa.ru/" target="_blank">личном кабинете</a> создать новый магазин.
            </p><p>
            В разделе "Технических настроек" созданного магазина<br />
            заполнить поля <strong>Result URL</strong>, <strong>Success URL</strong> и <strong>Result URL.</strong>
            </p><p>
            Скопировать в форму ниже значения полей<br />
            <strong>Идентификатор магазина</strong>, <strong>Пароль #1</strong>, <strong>Пароль #2</strong>
            </p>
        </div>
    </div>
    {{ form.errors }}
    <form id="text-editor-form" action="#" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>

{% endblock %}