{% extends "Cabinet/index.html" %}
{% load cabinet %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Настройки магазина{% endblock %}

{% block content %}
  {% with 'base' as state %}
    {% include 'Cabinet/include/shop_menu.html' %}
  {% endwith %}
  <h1>Сводная информация</h1>

  <div class="area">
    <div class="left">
      <p title="Название магазина"><strong>Название магазина</strong><br/>
        <a href="#">{{ shop.name }}</a></p>

      <p title="Клиент магазина"><strong>Клиент</strong><br/>
        <a href="{% url 'client_shop_list' client_pk=shop.client.pk %}">{{ shop.client.name }}</a></p>

      <p title="Общее количество источников"><strong>Источников</strong><br/>
        <a href="{% url 'shop_datasource_list' shop.id %}">{{ shop.datasources.count }} шт.</a></p>

      <p title="Общее количество категорий по источникам, включая скрытые"><strong>Категорий</strong><br/>
      <a href="{% url 'shop_categories' shop.id %}">
      {% for d in shop.datasources.all %}
        {{ d.categories.count }} шт.{% if not forloop.last %}/{% endif %}
      {% endfor %}</a></p>

      <p title="Общее количество товаров по источникам, включая скрытые"><strong>Товаров</strong><br/>
      <a href="{% url 'shop_goods' shop.id %}">
      {% for d in shop.datasources.all %}
        {{ d.products.count }} шт.{% if not forloop.last %}/{% endif %}
      {% endfor %}</a></p>

      <a href="#myModal2" role="button" class="recount" data-toggle="modal">пересчитать</a>
    </div>
    <div class="left">
      <p title="Общее количество заказов"><strong>Заказов</strong><br/>
        <a href="{% url 'shop_orders' shop.id %}">{{ shop.orders.count }} шт.</a></p>

      <p title="Общее количество отзывов"><strong>Отзывов</strong><br/>
        <a href="{% url 'shop_comments' shop.id %}">{{ shop.comments.count }} шт.</a></p>

      <p title="{{ shop|help_text_for_model_filed:"currency" }}"><strong>Валюта</strong><br/>
        <a href="#">{{ shop.currency }}</a></p>
    </div>
    <div class="left">
      <p>
        <strong>Тариф</strong><br/>
        {{ shop.tariff.name }} {% if shop.tariff.max_products %}(до {{ shop.tariff.max_products }} товаров){% else %}(неограниченное кол-во товаров){% endif %}
        <a href="{% url 'shop_change_tariff' shop_id=shop.id %}">Сменить</a>
      </p>
      <p>
        <strong>Ссылки на магазин</strong><br/>
        <a href="{{ shop.get_url }}" target="new">{{ shop.get_url }}</a><br/>
        {% if shop.shopprofile.vk_url %}<a href="{{ shop.shopprofile.vk_url }}" target="_blank"><i class="icon-vk"></i></a>{% endif %}
        {% if shop.shopprofile.fb_url %}<a href="{{ shop.shopprofile.fb_url }}" target="_blank"><i class="icon-fb"></i></a>{% endif %}
        {% if shop.shopprofile.ok_url %}<a href="{{ shop.shopprofile.ok_url }}" target="_blank"><i class="icon-odnoklassniki"></i></a>{% endif %}
      </p>
      <p>
        <strong>Дата окончания действия платежа</strong><br/>
        <a href="#">{{ shop.paid_till|date:"d.m.Y" }}</a>
      </p>
    </div>
  </div>
{#        <a href="#myModal" role="button" id="clear" data-toggle="modal"><span>Очистить магазин</span></a>#}
{#        <button id="clear"><span>Очистить магазин</span></button>#}
{#        <p class="clear-text">Очистить магазин полностью от категорий, товаров и заказов</p>#}
    <div class="clr"></div>

  <br />
  <!-- Modal2 -->
  <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel2">Пересчитать счетчики товаров в категориях</h3>
    </div>
    <div class="modal-body">
      <p>Операция может занять некоторое время. После окончания вы будете перенаправлены на эту страницу</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
      <a href="{% url 'shop_calculate_cat_product_count' shop_id=shop.pk %}" class="btn btn-danger">Подтверить</a>
    </div>
  </div>
{% endblock %}