{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Настройки магазина{% endblock %}

{% block head %}
<script type="text/javascript">
  $(function(){
    $('#id_paid_till').datetimepicker({
      format:'d.m.Y H:i'
    });
  });
</script>

{{ form.media }}
{% endblock %}

{% block content %}
    {% with 'settings' as state %}
      {% include 'Cabinet/include/shop_menu.html' %}
    {% endwith %}
    <h1>
      {% if shop %}
        Настройки магазина
      {% else %}
        Новый магазин
      {% endif %}
    </h1>
    {{ form.errors }}
    {% if not user.is_superuser %}
      Клиент: {{ shop.client.name }}
    {% endif %}

    <form id="text-editor-form" action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>
          <label for="id_logo">Логотип:</label>
          <input type="file" id="id_logo" name="shop_logo" />
          <img src="{{ shop.get_logo_url }}" />
          <br />
          <span class="helptext">
            Загрузите логотип магазина. Изображение в формате ".png" или ".jpg".
            Максимальная высота изображения - 44px. <br />Если изображение будет выше
            указанного размера - оно будет автоматически пропорционально
            уменьшено
          </span>
        </p>
        <br />
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>
    <script>
        $().ready(function(){
            $('input[type="file"]').styler();
        })
    </script>

{% endblock %}