{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Настройки email{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
    {% with 'email' as state %}
      {% include 'Cabinet/include/shop_menu.html' %}
    {% endwith %}
    {{ form.errors }}
    <h1>Настройки email</h1>
    <form id="text-editor-form" action="#" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Сохранить" />
    </form>

{% endblock %}