{% extends 'Cabinet/index.html' %}
{% load static %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Скидка{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/cabinet/select2.css' %}" />
  <script type="text/javascript" src="{% static 'js/cabinet/select2.min.js' %}"></script>
  <script>
    var shop_pk = {{ shop.pk }};

    var banner_settings = {
      id: {{ banner.bannergraphic.pk|default:"''" }},
      item_index: {{ images_formset.forms|length }}
    };

    var Banner = (function (settings){
      var _id = settings.id,
          _itemIndex = settings.item_index || 0;

      var _getId = function () {
        return _id;
      }

      var _incrementItemIndex = function () {
        _itemIndex += 1;

        return _itemIndex;
      }

      return {
        getId: _getId,
        incrementItemIndex: _incrementItemIndex
      }
    })( banner_settings );

    /* Настройка автокомплита для текст. поля продукта */
    var typeahead_settings = {
      name: 'products',
      valueKey: 'name',
      template: _.template('<div class="tt-sg-item">\
        <div class="row-fluid">\
      <div class="span2 text-center"><img src="<%= cover %>" class="tt-sg-item__cover" /></div>\
      <div class="span10 tt-sg-item__name"><%= name %></div>\
    </div>\
    </div>'),
      remote: {
        url: "/cabinet/api/v1/product/?query=%QUERY&shop_id=" + shop_pk,
        dataType: 'json',
        filter: function (response) {
          return response.objects;
        }
      }
    }
  </script>

  <script type="text/template" id="banner-item-template">
    <td>
      <%= item_index %>
      <input id="id_images-<%= field_index %>-id" name="images-<%= field_index %>-id" type="hidden">
      <input id="id_images-<%= field_index %>-banner" name="images-<%= field_index %>-banner" type="hidden" value="<%= id %>">
    </td>
    <td>
      <img src="" class="banner-item__img"  alt="" />
      <input class="input-block-level js-banner-item__img" id="id_images-<%= field_index %>-image" name="images-<%= field_index %>-image" type="file">
    </td>
    <td class="banner-item__product">
      <input type="text" maxlength="200" class="js-product-auto-complete banner-item_input input-block-level" id="id_images-<%= field_index %>" name="images-<%= field_index %>-product" />
      <input class="product-id" id="id_images-<%= field_index %>-product" name="images-<%= field_index %>-product" type="hidden" value="" />
    </td>\
    <td>
      <!--input id="id_images-<%= field_index %>-DELETE" name="images-<%= field_index %>-DELETE" type="checkbox"-->
      <button class="btn btn-small btn-warning js-remove-item"><i class="icon-remove icon-white"></i></button>
    </td>
  </script>

  {{ form.media }}

  <script type="text/javascript">
    $(document).ready( function() {
      var $slides = $('#slides');
      var $autocomplete = $('.js-product-auto-complete');

      /* Выбора товара в текстовом баннере */
      $(".select2-select").select2({
        width: "100%",
        placeholder: "Выберите один из варинатов",
        dropdownAutoWidth: true,
        minimumInputLength: 2
      });

      /* кастомизация контрола выбора файла */
      $slides.find('input[type="file"]').styler();

      /* Кнопка "Новый слайд" */
      $('#js-new-slide').on('click', function (e) {
        var bannerApi = Banner,
            item_index = bannerApi.incrementItemIndex(),
            field_index = item_index - 1,
            model = new Backbone.Model({
              id: bannerApi.getId(),
              item_index: item_index,
              field_index: field_index
            }), $totalForms, itemsCount;

        e.preventDefault();

        $slides.append( new BannerItemView({ model: model }).render().el );

        $totalForms = $('#id_images-TOTAL_FORMS');
        itemsCount = parseInt( $totalForms.val() ) + 1;
        $totalForms.val( itemsCount );
      });

      /* Автокомплит для продукта */
      $autocomplete.typeahead( typeahead_settings );

      $autocomplete.on('typeahead:selected', function (e, product) {
        $(this).parents('.banner-item__product,form>p').find('.product-id').val( product.id );
      });
    });
  </script>

{% endblock %}

{% block content %}
  <h1>Баннер ({{ banner_type_name }})</h1>

  {% include 'Cabinet/include/stock_menu.html' with state='banner' %}

  <form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- Графический баннер -->
    {% if images_formset %}
      {{ images_formset.management_form }}
      <table class="table table-bordered" style="margin-top: 20px;">
      <thead>
        <tr>
          <th class="span1">#</th>
          <th class="span2">Изображение</th>
          <th>Товар</th>
          <th class="span2">Удалить?</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4"><button class="btn js-new-slide btn-small" id="js-new-slide">Новый слайд</button></td>
        </tr>
      </tfoot>
      <tbody id="slides">
        {% for form in images_formset.forms %}
          <tr>
            <!-- index -->
            <td>
              {{ forloop.counter }}
              {% for f in form.hidden_fields %}
                {{ f }}
              {% endfor %}
            </td>
            <!-- image -->
            <td style="width: 330px;">
              <img src="{{ form.image.value.url }}"  alt="" class="banner-item__img"/>
              {{ form.image.errors }}
              {{ form.image }}
            </td>
            <!-- product -->
            <td class="banner-item__product">
              {{ form.product.errors }}
              {{ form.product_name }}
              {{ form.product }}
            </td>
            <td>
              {{ form.DELETE }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    {% endif %}
    <input type="submit" value="Сохранить" class="btn btn-success" />
  </form>

{% endblock %}