{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Настройки социальных систем{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% with 'social' as state %}
    {% include 'Cabinet/include/shop_menu.html' %}
  {% endwith %}
  <h1>Настройки социальных систем</h1>

  {{ form.errors }}
  <form id="text-editor-form" action="#" method="post">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <ul class="nav nav-tabs" id="SBtabs">
      <li class="active" title="настройки VKontakte"><a href="#vkontakte"><i class="icon-vk"></i></a></li>
      <li title="настройки Facebook"><a href="#facebook"><i class="icon-fb"></i></a></li>
      <li title="настройки Одноклассников"><a href="#ok"><i class="icon-odnoklassniki"></i></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="vkontakte">
        <div class="area">
            <p>
                <strong>Ссылка для Вконтакте</strong><br/>
                <a href="{{ shop.get_vk_url }}" target="new">{{ shop.get_vk_url }}</a>
            </p>
            {% with shop.get_group_links as group_links %}
              {% if group_links.vk %}
                <p>
                  <strong>Ссылка на группу Vkontakte</strong><br/>
                  <a href="{{ group_links.vk }}" target="_blank">{{ group_links.vk }}</a>
                </p>
              {% endif %}
            {% endwith %}
            {% if not shop.shopprofile.vk_app_id %}
            <p>
                <strong>Создать приложение</strong><br/>
                <a href="https://vk.com/editapp?act=create" target="new">перейти</a>
            </p>
            {% endif %}
        </div>
        {# Include the visible fields #}
        {% for field in form.visible_fields %}
            {% if field.name in 'vk_url,vk_app_id,vk_app_secret,ga_vk,vk_groupid' %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
            {% endif %}
        {% endfor %}
        {% if not user_has_vk_token %}
          <div class="alert alert-warning">
            Для изменения группы необходимо <a href="{% url 'client_user_edit' client_pk=client.pk user_pk=user.pk %}">связать учетную запись Vkontakte со своим профилем</a>
          </div>
        {% endif %}
      </div>
      <div class="tab-pane" id="facebook">
        <div class="area">
                <p>
                    <strong>Ссылка для Facebook</strong><br/>
                    <a href="{{ shop.get_fb_url }}" target="new">{{ shop.get_fb_url }}</a>
                </p>
                {% with shop.get_group_links as group_links %}
                  {% if group_links.fb %}
                    <p>
                      <strong>Ссылка на группу Facebook</strong><br/>
                      <a href="{{ group_links.fb }}" target="_blank">{{ group_links.fb }}</a>
                    </p>
                  {% endif %}
                {% endwith %}
                {% if shop.shopprofile.fb_app_id and shop.shopprofile.fb_url %}
                <p>
                    <strong>Ссылка для подключения Facebook-tab</strong><br/>
                    <a href="https://www.facebook.com/dialog/pagetab?app_id={{ shop.shopprofile.fb_app_id }}&next={{ shop.shopprofile.fb_url }}" target="new">Для администратора страницы</a>
                </p>
                {% else %}
                <p>
                    <strong>Создать приложение</strong><br/>
                    <a href="https://developers.facebook.com/apps/" target="new">перейти</a>
                </p>
                {% endif %}
        </div>
        {# Include the visible fields #}
        {% for field in form.visible_fields %}
            {% if field.name in 'fb_url,fb_taburl,fb_app_id,fb_app_secret,ga_fb,fb_groupid' %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
            {% endif %}
        {% endfor %}
      </div>
      <div class="tab-pane" id="ok">
        <div class="area">
                <p>
                    <strong>Ссылка для OK</strong><br/>
                    <a href="{{ shop.get_ok_url }}" target="new">{{ shop.get_ok_url }}</a>
                </p>
                {% if shop.shopprofile.ok_app_id and shop.shopprofile.ok_url %}
                <p>
                    <strong>Ссылка для подключения OK</strong><br/>
                    <a href="http://www.odnoklassniki.ru/game/{{ shop.shopprofile.ok_app_id }}" target="new">Приложение</a>
                </p>
                {% else %}
                <p>
                    <strong>Создать приложение</strong><br/>
                    <a href="http://www.odnoklassniki.ru/dk?st.cmd=appEdit&st._aid=Apps_Info_MyDev_AddApp" target="new">перейти</a>
                </p>
                {% endif %}
        </div>
        {# Include the visible fields #}
        {% for field in form.visible_fields %}
            {% if field.name in 'ok_url,ok_app_id,ok_app_secret,ga_ok,ok_app_public' %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
            {% endif %}
        {% endfor %}
      </div>
    </div>


    <hr>
    {% for field in form.visible_fields %}
        {% if field.name not in 'vk_url,vk_app_id,vk_app_secret,ga_vk,fb_url,fb_taburl,fb_app_id,fb_app_secret,ga_fb,ok_url,ok_taburl,ok_app_id,ok_app_secret,ga_ok,ok_app_public,fb_groupid,vk_groupid' %}
        <p>
           {{ field.errors }}
           {{ field.label_tag }} {{ field }}
        </p>
        {% endif %}
    {% endfor %}

    <input type="submit" class="btn btn-success" value="Сохранить" />
  </form>
  <script>
      $(function() {
          $('#SBtabs a').click(function (e) {
              e.preventDefault();
              $(this).tab('show');
          });
      });
  </script>
{% endblock %}

