{% extends 'Cabinet/index.html' %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Скидка{% endblock %}

{% block head %}
  <script>
    var shop_pk = {{ shop.pk }};
    var discount_pk = {{ discount.pk|default:'null' }};
    var currency_str = '{{ shop.currency.text }}';
  </script>

  <script type="text/x-template" id="product-description-tmpl">
    <div class="media row-fluid">
      <div class="media-body span9">
        <h4 class="media-heading">
        <%= media_head %> <%= price_str %>
        <button class="del btn btn-warning btn-mini">Удалить</button>
        </h4>
        <%= media_body %>
      </div>
      <div class="span3">
        <a class="" href="<%= href %>#">
          <img class="media-object" src="<%= image_src %>">
        </a>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="category-description-tmpl">
    <td>
      <%= name %>
    </td>
    <td>
      <%= parent_name %>
    </td>
    <td>
      <button class="del btn btn-warning btn-mini">Удалить</button>
    </td>
  </script>

  {{ form.media }}
{% endblock %}

{% block content %}
  <h1>Скидка</h1>

  {% include 'Cabinet/include/stock_menu.html' with state='discount' %}

  <form method="post" action="#" id="js-products"
    class="block-level-inputs">
    {% csrf_token %}

    {{form.products_id}}
    {{form.categories_id}}

    {{ form.non_field_errors }}
    <div>
      {{form.name.errors}}
      {{form.name.label_tag}}
      {{form.name}}
    </div>

    <div class="row-fluid margin-vert-small">
      <div class="span12">
        {{form.status.errors}}
        {{form.status.label_tag}}
        {{form.status}}
      </div>
    </div>

    <div class="row-fluid">
      <div class="span3">
        {{form.time_from.errors}}
        {{form.time_from.label_tag}}
        {{form.time_from}}
      </div>

      <div class="span3">
        {{form.time_to.errors}}
        {{form.time_to.label_tag}}
        {{form.time_to}}
      </div>
    </div>


    <div class="row-fluid">
      <div class="span12">
        {{form.value.errors}}
        {{form.value_type.errors}}
        {{form.value.label_tag}}
      </div>
    </div>

    <div class="row-fluid">
      <div class="span1">
        {{form.value}}
      </div>

      <div class="span1">
        {{form.value_type}}
      </div>
    </div>

    <div class="margin-vert-small">
      {{form.show_additional.label}}
      <div>
        {{form.show_additional}}
      </div>
    </div>

    <div data-show="additional-options-enabled">


      <div class="row-fluid margin-vert-small">
        <div class="span12">
          {{form.application.errors}}
          {{form.application.label_tag}}

          {% for application in form.application %}
            {{application}}
          {% endfor %}

          <!--label class="radio">
            <input name="discount-application" type="radio" value="all">
            Все товары
          </label>

          <label class="radio">
            <input name="discount-application" type="radio"
              value="categories">
            Определённые категории
          </label>

          <label class="radio">
            <input name="discount-application" type="radio"
              value="products">
            Определённые товары
          </label-->

        </div>
      </div>

      <div class="row-fluid" data-show="products">
        <div class="span12">
          <input data-autocomplete="products" type="text"
            class="input-block-level"
            placeholder="Чтобы добавить товар, начните вводить его название" />
          <ul class="autocomplete-tips"
            data-autocomplete-tips="products"></ul>
        </div>
      </div>

      <div class="row-fluid margin-vert-small" data-show="products">
        <div class="span12" data-autocomplete-results="products">
        </div>
      </div>

      <div class="row-fluid" data-show="categories">
        <div class="span12">
          <input data-autocomplete="categories" type="text"
            class="input-block-level"
            placeholder="Чтобы добавить категорию, начните вводить её название" />

          <ul class="autocomplete-tips"
            data-autocomplete-tips="categories"></ul>
        </div>
      </div>

      <div class="row-fluid margin-vert-small" data-show="categories">
        <div class="span12">
          <table class="table table-bordered">
            <thead>
              <th>Название</th>
              <th>Родительская категория</th>
              <th>Действие</th>
            </thead>
            <tbody data-autocomplete-results="categories">
            </tbody>
          </table>
        </div>
      </div>


      <div class="row-fluid">
        <div class="span12">
          {{form.min_cart_price.errors}}
          {{form.min_cart_price.label_tag}}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1">
          {{form.min_cart_price}}
        </div>

        <div class="span1">
          <label class="form-align-label">Руб.</label>
        </div>
      </div>


      <div class="row-fluid margin-vert-small">
        <div class="span12">
          {{form.coupon_discount.label_tag}}
          {{form.coupon_discount}}
        </div>
      </div>

      <div class="well margin-vert-small" data-show="coupon_discount">
        <div class="row-fluid">
          <div class="span3">
            {{form.coupon_key.errors}}
            {{form.coupon_key.label_tag}}
            {{form.coupon_key}}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span12">
            {{form.max_activation_count.errors}}
            {{form.max_activation_count.label_tag}}
          </div>
        </div>

        <div class="row-fluid">
           <div class="span3">
             {{form.max_activation_count}}
           </div>
        </div>
      </div>

    </div>

    <input type="submit" value="Сохранить" class="btn btn-default">
    <a href="{% url 'shop_discount_list' shop.pk %}"
      class="btn btn-warning margin-left-small">Отмена</a>


  </form>
{% endblock %}
