{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Отзывы{% endblock %}

{% block head %}
  <script type="text/javascript">
  $(function(){
    $('.comment-delete').click(function(){
      var comment_id = $(this).attr('data-id');
      var _this = $(this);
      $.ajax({
          url: '/cabinet/api/v1/comments/' + comment_id,
          type: 'DELETE',
          success: function(result) {
            $('.comment-id-' + comment_id).remove();
          }
      });
      return false;
    });
    $('.comment-reply-modal').click(function(){
      var parent_id = $(this).attr('data-id');
      var product_id = $(this).attr('data-product-id');
      $('#sb-comment-reply-text').attr('data-product-id', product_id);
      $('#sb-comment-reply-text').attr('data-id', parent_id);
      $('#myModal').modal({show: true});
    });

    $('.comment-reply').click(function(){
      var textarea = $('#sb-comment-reply-text');
      var parent_id = textarea.attr('data-id');
      var product_id = textarea.attr('data-product-id');
      var text = textarea[0].value;
      var _this = $(this);
      var data = {
        product_id: product_id,
        text: text,
        reply_to_id: parent_id
      };
      $.ajax({
          url: '/cabinet/api/v1/comments/',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          dataType: 'json',
          success: function(result) {
            location.reload();
          }
      });
      return false;
    });
  });
  </script>
{% endblock %}


{% block content %}
  <h1>Отзывы</h1>

{% for comment in comments %}
<div class="row comment-id-{{ comment.pk }}">
  <div class="span12">
    <div class="row"  >
      <div class="span2">
        <a href="{{ comment.product.cover }}" class="thumbnail">
          <img src="{{ comment.product.cover }}" alt="{{ comment.product.name }}" style="max-width: 211px; max-height: 75px;" >
        </a>
      </div>
      <div class="span9">
        <div class="row">
          <div class="span9" style="font-size: 14px; line-height: 15px;">
              <a href="{% url 'shop_good_edit' shop_id=shop.pk productid=comment.product.pk %}">{{ comment.product }}</a>
              {% if comment.fb_url  %}<a class="pull-right icon-fb" target="_blank" href="{{ comment.fb_url }}" title="Посмотреть в FB.com"></a>{% endif %}
              {% if comment.vk_url %}<a class="pull-right icon-vk" target="_blank" href="{{ comment.vk_url }}" title="Посмотреть в VK.com"></a>{% endif %}
          </div>
        </div>
        <div class="row">
          <div class="span12 sb-comment-body">
            <a href="{% url 'customer_view' customer_pk=comment.customer.pk %}" target="_blank">{{ comment.customer.full_name|default:"[нет имени]" }}</a>
            <date class="sb-comment-date">
               {{ comment.created|date:"d M H:i"|lower }}
            </date><br />
            {{ comment.text }}
          </div>
        </div>
      </div>
      <div class="span1">
        <div class="btn-group">
          <button class="btn btn-danger dropdown-toggle btn-mini" data-toggle="dropdown">Действия <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a class="comment-delete" data-id="{{ comment.pk }}" >Удалить</a></li>
            <li><a class="comment-reply-modal" data-id="{{ comment.pk }}" data-product-id="{{ comment.product.pk }}">Ответить</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% for c in comment.reply_list.all %}
      <div class="row comment-id-{{ c.pk }}">
        <div class="offset1 span1 sb-comment-date" style="padding-top: 5px; border-left: 4px solid;padding-left: 5px;">
          {{ c.created|date:"d M в H:i"|lower }}
        </div>
        <div class="span9" style="font-size: 12px; line-height: 14px;padding-top: 7px; ">{{ c.text }}</div>
        <div class="span1">
          <div class="btn-group">
            <button class="btn btn-danger dropdown-toggle btn-mini" data-toggle="dropdown">Действия <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="comment-delete" data-id="{{ c.pk }}">Удалить</a></li>
            </ul>
          </div></div>
      </div>
    {% endfor %}
    <hr />
  </div>
</div>
{% endfor %}
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ответить пользователю</h3>
  </div>
  <div class="modal-body">
    <div class="controls">
      <textarea id="sb-comment-reply-text" class="span12" placeholder="Напишите комментарий"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary comment-reply" data-id="{{ c.pk }}" >Ответить</button>
  </div>
</div>

<div class="pagination pagination-centered">
  {% with comments as page %}
    {% include 'Cabinet/include/pagination.html' %}
  {% endwith %}
</div>
{% endblock %}
