{% extends "Cabinet/index.html" %}

{% block page_title %}[ShoppyBoom] {{ shop.name }} &mdash; Подписки{% endblock %}

{% block content %}
  {% include 'Cabinet/include/stock_menu.html' with state='subscription' %}
  <h1>Подписки</h1>

  <div class="area">
    <form action="#" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-success" value="Сохранить"/>
    </form>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Дата добавления</th>
      </tr>
    </thead>
    {% for customer in customers %}
      <tr>
        <td>
          <a href="{% url 'customer_view' customer_pk=customer.pk %}">{{ customer.email }}</a>
        </td>
        <td>{{ customer.email_last_update }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

