@font-face {
  font-family: 'DidactGothicregular';
  src: url('/static/custom/pd/fonts/didactgothic/didactgothic.eot');
  src: url('/static/custom/pd/fonts/didactgothic/didactgothic.eot?#iefix') format('embedded-opentype'),
       url('/static/custom/pd/fonts/didactgothic/didactgothic.woff') format('woff'),
       url('/static/custom/pd/fonts/fonts/didactgothic/didactgothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font: 14px/1.3 'DidactGothicregular', Arial, Tahoma;
}

a{
  color: #808168;
  text-decoration: none;
}

a:hover{
  color: #fc266e;
}

h1, h2, h3, h4, h5{
  font-family: 'DidactGothicregular', Arial, Tahoma;
  font-weight: normal;
  color: #666;
}

.page-title{
  margin-top: 10px;
  color: #000;
}

.product-profile__images{
  margin-bottom: 0;
}

.SBproductGrid .SBproductHead, .SBproductDetail .SBproductHead{
  line-height: 1.2;
} 

.SBproductGrid h5, .SBproductDetail h3{
  color: #666;
}

.SBproductDetail{
  margin: 10px 0 10px;
}

.SBproductDetail .product-item{
  padding-bottom: 0;
}

.SBproductDetail .SBproductHead{
  font-size: 20px;
}

.btn,
input[type="submit"],
input[type="button"],
button{
  font-family: 'DidactGothicregular';
  border-color: transparent;
  background: #6c7b36;
  color: #fffff8;
  margin-top: 0;
  text-shadow: none;
}

.SBproductGrid, .SBproductDetail{
  border-bottom: 1px solid #AAA;
}

.SBproductGrid .btn, .SBproductDetail .btn{
  float: none !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn.disabled:hover{
  color: #fff;
  background: #6c7b36;
  border-color: transparent;
}

.sb-cart__item-trash.btn{
  padding: 2px 7px;
  line-height: 100%;
}

#nav-menu{
  font: 14px/1.3 'DidactGothicregular', Arial, Tahoma;
}

#nav-menu .badge{
  background-color: #ccc;
  font-weight: bold;
}

#categories{
  font: 14px/1.3 'DidactGothicregular', Arial, Tahoma;
}

#categories .categories__link:hover{
  background: none;
  color: #fc266e;
}

#categories .active > a,
#categories .active > a:hover{
  background: none;
  color: #fc266e;
}

.navbar .nav > li > a{
  color: #000;
  transition: none;
}

#sb-header{
  padding-top: 0;
}

#nav-menu a:hover,
#nav-menu .active a,
#nav-menu .active a:hover{
  color: #fc266e;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus{
  -webkit-box-shadow:  none;
     -moz-box-shadow:  none;
          box-shadow:  none;
}

.sb-header{
  background: #EEEBE4;
  border: 0;
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
}

.sb-header,
.navbar-inner{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar-inner{
  background: none;
  border: 0;
}

.toolbar{
  color: #808168;
  font-size: inherit;
}

.toolbar__link{
  line-height: inherit;
  border-radius: 5px;
}

/* TODO: Нужна возможность убирать .row у этого блока */
.SBproductListContainer{
  margin-left: 0 !important;
}

.SBproductGrid{
  border-bottom: 0;
  /*-webkit-box-sizing: border-box;*/
     /*-moz-box-sizing: border-box;*/
          /*box-sizing: border-box;*/
  margin-right: 20px;
  width: 172px;
  padding: 1px 14px;
}

.SBproductGrid:hover{
  -webkit-box-shadow: 0 -1px 8px #9f9f80;
     -moz-box-shadow: 0 -1px 8px #9f9f80;
          box-shadow: 0 -1px 8px #9f9f80;
}

.product-item{
  margin-bottom: 25px;
  padding: 0;
  border: 0;
}

.product-item .product-item__pic{
  margin-bottom: 5px;
}

.SBproductGrid .SBproductCover{
  height: 180px;
}

.SBproductGrid .SBproductHead{
  height: auto;
}

.product-item__head{
  margin-bottom: 8px;
  overflow: visible;
}

.product-item__price{
  font-family: 'DidactGothicregular';
  font-size: inherit;
  text-align: center;
  margin-bottom: 5px;
}

.product-full__price,
.product-item__price{
  color: #7B9341;
}

.product-item .product-item__desc{
  font-size: 1em;
  color: #9F9F80;
  height: 36px;
}

.product-profile__title{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2B2F12;
}

/* Products Toolbar */

.toolbar__item-title{
  color: #808168;
}

.toolbar__link{
  color: #808168;
}

.toolbar__link_active,
.toolbar__link:hover{
  background-color: #808168;
  border-color: #808168;
  color: #fff;
}

.ruble{
  font-family:"ALSRublRegular" !important;
  text-transform:lowercase !important;
}

.one-column .help-inline{
  display: block !important;
  margin-top: 5px;
}

.one-column .SBnavigate{
  margin-top: 0;
}

.SBproductFull .tab-content{
  overflow: visible;
}

.one-column .SBproductDetail .product-item > .row{
  margin-left: 100px;
}

.one-column .sb-header {
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover{
  background: transparent !important;
  color: #FC266E !important;
}

@media (min-width: 810px) and (max-width: 979px) {
  .one-column .SBproductGrid{
    margin-left: 20px;
  }
  .one-column .SBproductDetail .product-item > .row{
    margin-left: 0;
  }
}

.one-column .categories_level_1.active{
  background: transparent !important;
  cursor: default;
}

.one-column .categories_level_1.active .categories__link{
  color: #000 !important;
  cursor: pointer;
}

.one-column .categories_level_1.active > .categories__link{
  color: #fc266e !important;
  cursor: default;
}

.search .tt-is-under-cursor{
  background-color: #6C7B36;
  color: #fff;
}

.search{
  color: #000;
}

#search input.search__input,
#search input.tt-hint{
  line-height: 1;
  padding: 3px 5px;
}

.tt-hint{
  color: #ccc !important;
}

#search input.search__input:focus{
  border-color: #ccc;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .menu{
  margin-top: 7px;
}

.menu__item-news{
  display: none;
}

.comments_reply .comments__item-photo{
  height: 50px;
}

.breadcrumb{
  background: transparent;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.product-profile__price{
  color: #7B9341;
}

/* Обратный звонок */
.product-item .fast-order__link{
  background: #6C7B36;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
}

.product-preview__price{
  background: #6C7B36;
  color: #fff;
}

.product-item .fast-order__link{
  display: none;

  -webkit-transition: display .2s ease-in;
     -moz-transition: display .2s ease-in;
      -ms-transition: display .2s ease-in;
       -o-transition: display .2s ease-in;
          transition: display .2s ease-in;
}

.product-item .fast-order__link,
.product-item:hover .fast-order__link{
  right: -14px;
}

.product-item:hover .fast-order__link{
  display: inline;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}