body {
    font-family: 'solomon_sans', Arial, sans-serif;
    font-size: 13px;
    color: #000;
    background: #fff;
    line-height: 18px;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.pseudo-link{
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.pseudo-link:hover{
  text-decoration: underline;
}

#header {
    background: #ffffff;
    height: 84px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 3px #999;
    padding: 8px 0 0 0;
    z-index: 1000;
}

#header .container {
    width: 1220px;
    margin: 0 auto;
    overflow: auto;
}

#logo {
    float: left;
    display: block;
    width: 187px;
    margin: 0 25px 0 0;
}

#header ul {
    overflow: auto;
}

#header ul li {
    float: left;
}

#header ul.lang {
    font-size: 11px;
    color: #c7c7c7;
    padding: 5px 0 20px 0;
}

#header ul.lang li {
    margin: 0 5px 0 0;
}

#header ul.lang a {
    color: #2bb673;
}

#header ul.menu li {
    margin: 0 15px 0 0;
}

#header ul.menu a {
    color: #000;
}

#header .middle {
    float: left;
}

#header .contact {
    padding-top: 12px;
    font-family: 'solomon_sans_bold', Arial, sans-serif;
}

#header .contact .phone {
    font-size: 17px;
}

#header .contact .label {
    margin-bottom: 6px;
}

#header .contact input[type=email],
#header .contact input[type=text],
#header .contact input[type=password]{
    background: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #b5b5b5;
    border-right: 0;
    border-bottom: 0;
    padding: 0 5px;
    width: 110px;
    font-family: 'open_sansregular', sans-serif;
    height: 21px;
    margin: 0 4px 0 0;
}

#header .contact input[type=submit] {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    width: 75px;
    font-family: 'solomon_sans_bold', Arial, sans-serif;
    font-size: 12px;
    height: 23px;
    background: url("../images/send-button.png") no-repeat top;
}

#header .contact input[type=submit]:hover {
    background-position: 0 100%;
}

.screen .container {
    position: relative;
    margin: 0 auto;
    width: 1080px;
}

#first {
    margin: 92px 0 0 0;
    background: #fde603 url("../images/bg-first-screen.jpg") no-repeat center 60px;
    height: 583px;
}

#first.screen .container {
    padding: 60px 0 0;
    text-align: center;
}

h1, h2 {
    font-family: 'solomon_sans_bold', Arial, sans-serif;
    font-size: 36px;
    line-height: 40px;
}

#first h1,
#first h2{
    color: #c8007a;
    margin-bottom: 10px;
}

#first h3 {
    font-family: 'solomon_sans_bookregular', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

.scroll {
    position: absolute;
    right: 0;
    text-decoration: none;
    bottom: 0;
    padding-left: 40px;
    padding-top: 4px;
    background: url("../images/arrow-yellow.png") no-repeat left top;
    height: 22px;
    display: block;
    font-size: 15px;
    color: #7e7301;
}

.scroll span {
    border-bottom: 1px dashed #7e7301;
}

.scroll:hover span {
    border-bottom-color: transparent;
}

#second {
    background: #0e76bc;
    height: 676px;
}

#second.screen .container {
    padding: 50px 0 70px 0;
}

#second h2 {
    color: #f9df03;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 130px;
}

#second ul {
    float: left;
    color: #fff;
    font-family: 'open_sansregular', sans-serif;
    font-size: 11px;
    line-height: 15px;
    width: 255px;
    margin: 40px 0 0 35px;
    padding: 0 0 0 30px;
    background: url("../images/numbers-1.jpg") no-repeat left top;
}

#second ul.numbers {
    margin-left: 200px;
    background: url("../images/numbers-2.jpg") no-repeat left top;
}

#second ul li {
    padding-bottom: 9px;
}

#second ul.numbers li {
    padding-bottom: 8px;
}

#second .odnoklassniki {
    width: 180px;
    border: 1px dashed #549dce;
    border-radius: 10px;
    margin: 60px 0 0 0;
    font-family: 'open_sansitalic', sans-serif;
    padding: 30px 25px;
    font-size: 12px;
    color: #95c3e2;
}

#second .odnoklassniki h3 {
    font-size: 18px;
    font-family: 'solomon_sans', Arial, sans-serif;
    color: #fdcb02;
    margin-bottom: 12px;
}

#second .odnoklassniki i {
    background: url("../images/ico-ok.png") no-repeat left;
    padding-left: 14px;
}

#second .scroll {
    background: url("../images/arrow-white.png") no-repeat left top;
    color: #9ec8e4;
}

#second .scroll span {
    border-bottom: 1px dashed #9ec8e4;
}

#second .scroll:hover span {
    border-bottom-color: transparent;
}

#third {
    height: 676px;
    background: url("../images/paper.jpg");
}

#third.screen .container {
    padding: 40px 0 0 0;
    background: url("../images/scheme.jpg") no-repeat left 120px;
    height: 580px;
}

#third h2 {
    color: #f9df03;
}

#third .block {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

#third .block h4, #third .result h3 {
    font-family: 'solomon_sans_bold', Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 4px;
}

#third .block.one {
    top: 250px;
    left: 68px;
}

#third .block.two {
    top: 280px;
    left: 418px;
}

#third .block.three {
    top: 235px;
    left: 730px;
}

#third .result {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 423px;
}

#third .result h3 {
    color: #f9df03;
    line-height: 28px;
}

#third .scroll {
    background: url("../images/arrow-white.png") no-repeat left top;
    color: #fff;
}

#third .scroll span {
    border-bottom: 1px dashed #fff;
}

#third .scroll:hover span {
    border-bottom-color: transparent;
}

#four {
    height: 676px;
    background: #2bb673;
}

#four.screen .container {
    padding: 45px 0 0 0;
}

#four h2 {
    color: #f9df03;
    margin-bottom: 45px;
}

#four .block {
    float: left;
    width: 310px;
    margin: 0 0 80px 0;
    font-size: 14px;
    color: #ffffff;
    padding-right: 35px;
}

#four .block h4 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 4px;
}

#four .big {
    color: #ffffff;
}

#four .big h5 {
    font-size: 262px;
    line-height: 260px;
    margin-bottom: -13px;
    letter-spacing: -13px;
}

#four .big h3 {
    font-size: 30px;
    line-height: 30px;
}

#four .scroll {
    background: url("../images/arrow-white.png") no-repeat left top;
    color: #fff;
    font-size: 14px;
}

#four .scroll span {
    border-bottom: 1px dashed #fff;
}

#four .scroll:hover span {
    border-bottom-color: transparent;
}

#five {
    background: #f0f1f5 url("../images/round-bg.jpg") no-repeat center top;
    padding: 45px 0 15px 0;
}

#five .color-rounds {
    background: url("../images/color-rounds.png") no-repeat;
    width: 1159px;
    height: 326px;
    position: relative;
    margin-bottom: 80px;
}

#five .color-rounds .block {
    height: 250px;
    width: 230px;
    color: #fff;
    font-size: 11px;
    padding-top: 75px;
    position: absolute;
    top: 0;

}

#five .color-rounds .block .bold {
    font-size: 13px;
    font-family: 'solomon_sans_bold', sans-serif;
}

#five .color-rounds .block .name {
    font-size: 36px;
    font-family: 'solomon_sans_bookregular', sans-serif;
    display: block;
    margin-bottom: 25px;
}

#five .color-rounds .block p {
    line-height: 12px;
    margin-bottom: 10px;
    font-size: 11px;
}

#five .color-rounds .block p.first {
    font-size: 13px;
}

#five .color-rounds .block.one {
    left: 70px;
}

#five .color-rounds .order {
    background: #fff;
    text-align: center;
    position: absolute;
    font-size: 12px;
    border-radius: 3px;
    width: 64px;
    height: 22px;
    padding-top: 3px;
    text-decoration: none;
    position: absolute;
    top: 250px;
    left: 0;
}

#five .color-rounds .block.one .order {
    color: #2bb673;
}

#five .color-rounds .block .order:hover {
    background: #efefef;
}

#five .color-rounds .block .price {
    display: block;
    font-size: 18px;
    font-family: 'solomon_sans_bold', sans-serif;
    position: absolute;
    left: 0;
    top: 225px;
}

#five .color-rounds .block .price img {
    margin: 0;
    padding: 0;
}

#five .color-rounds .block.two {
    left: 352px;
}

#five .color-rounds .block.two .order {
    color: #1077bb;
}

#five .color-rounds .block.three {
    left: 645px;
}

#five .color-rounds .block.three .order {
    color: #c8007a;
}

#five .color-rounds .block.four {
    padding-top: 115px;
    color: #000;
    height: 210px;
    left: 925px;
}

#five .color-rounds .block.four p {
    font-size: 15px;
    line-height: 15px;
    font-family: 'solomon_sans_semiboldregular', sans-serif;
}

#five .color-rounds .block.four .order {
    border: 1px solid #b8b9bc;
    color: #c8007a;
    background: #f0f1f5;
}

#five .color-rounds .block.four .order:hover {
    background: #dedede;
}

#five .line {
    height: 1px;
    position: relative;
    background: #accce3;
    width: 828px;
    float: left;
    margin-right: 55px;
}

#five .line a {
    position: absolute;
    display: block;
    font-size: 18px;
    color: #1077bb;
    line-height: 18px;
    width: 244px;
    background: #f0f1f5;
    text-align: center;
    left: 50%;
    margin-left: -122px;
    top: -16px;
    font-family: 'solomon_sans_semiboldregular', sans-serif;
}

#five .green-star {
    position: relative;
    font-size: 16px;
    width: 200px;
    left: 878px;
    top: -40px;
    right: 0;
}

#five .green-star p {
    line-height: 18px;
    margin-bottom: 3px;
}

#five .green-star span {
    display: block;
    font-size: 12px;
}

#five .green-star a {
    color: #2bb673;
    font-size: 12px;
    text-decoration: none;
}

#five .green-star a:hover {
    color: #000;
}

#five .green-star i {
    position: absolute;
    background: url("../images/green-star.png") no-repeat;
    width: 38px;
    height: 36px;
    left: -40px;
    top: -22px;
}

#five h2 {
    color: #ca0d81;
    margin-bottom: 95px;
}

#six {
    background: url("../images/double-line-bg.jpg") repeat-y center;
    padding: 45px 0 80px 0;
}

#six h2 {
    color: #fff;
    margin-bottom: 65px;
}

#six h3 {
    font-size: 36px;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #758eab;
}

#six .lp {
    width: 910px;
    /*margin-right: 25px;*/
}

#six .lp .inf {
    width: 220px;
    margin-right: 35px;
    padding-top: 15px;
}

#six .lp .inf p {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 35px;
}

#six .lp .inf .links {
    padding-top: 30px;
}

#six .lp .inf .links a,
#six .controls.links a{
    display: block;
    font-size: 21px;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    padding: 3px 0 0 37px;
}

.join-us-as-partner{
  margin-top: 46px;
}

.join-us-as-partner > a{
  color: #0C4DAB;
  display: block;
  font-size: 21px;
}

#six .lp .inf .links .want {
    color: #fde603;
}

#six .lp .inf .links i {
    position: absolute;
    left: 0;
}

#six .lp .inf .links .oth-case i,
#six .controls .oth-case i{
  background: url("../images/ico-play.png") no-repeat;
  width: 27px;
  height: 27px;
  top: 0;
}

#six .lp .inf .links .want i,
#six .controls .want i{
  background: url("../images/ico-like.png") no-repeat;
  width: 24px;
  height: 21px;
  top: 0;
  left: 3px;
}

#six .lp .inf .links i,
#six .controls i{
  position: absolute;
  left: 0;
}

#six .rp {
    padding-top: 10px;
    width: 150px;
    padding-left: 20px;
}

#six h4 {
    font-family: 'solomon_sans_bold', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

#six .rp li {
    margin-bottom: 30px;
}

#seven {
    padding: 45px 0 110px 0;
    background: #fde603;
}

#seven h2 {
    color: #527296;
    margin-bottom: 100px;
    font-size: 31px;
}

#seven .lp {
    background: url("../images/arr-bg.png") no-repeat left top;
    width: 565px;
    min-height: 403px;
    margin-right: 55px;
}

#seven .lp ul {
    padding-left: 88px;
}

#seven .lp li {
    font-size: 24px;
    color: #527296;
    font-family: 'solomon_sans_bookregular', sans-serif;
    width: 380px;
    line-height: 30px;
    margin-bottom: 80px;
    padding-top: 5px;
}

.form input[type=text] {
    width: 310px;
    height: 33px;
    font-family: 'solomon_sans', sans-serif;
    font-size: 13px;
    color: #000;
    border: 0;
    line-height: 43px;
    padding: 0 12px;
    border-radius: 5px;

}

.form label {
    display: block;
    font-size: 13px;
    color: #000;
    margin-bottom: 5px;
}

.form label span {
    color: #e00000;
    font-size: 24px;

}

.form .item {
    margin-bottom: 20px;
}

#seven h3 {
    font-size: 36px;
    font-family: 'solomon_sans_bookregular', sans-serif;
    margin-bottom: 35px;
    color: #527296;
}

.form input[type=submit] {
    background: #2bb673;
    font-size: 15px;
    text-align: center;
    font-family: 'solomon_sans_bold', sans-serif;
    border: 0;
    width: 126px;
    height: 33px;
    display: block;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background: #259a62;
}

.form .item.last {
    margin-bottom: 25px;
}

.hide {
    display: none;
}

#seven.green {
    background: #d4f54e;
}

#seven .mes {
    width: 390px;
}

#seven .mes h3 {
    color: #389400;
    line-height: 48px;
    background: url("../images/green-gal.png") no-repeat right top;
    padding-right: 160px;

}

#seven .mes p {
    font-size: 24px;
    color: #389400;
    line-height: 30px;
    font-family: 'solomon_sans_bookregular', sans-serif;
}

#eight {
    background: #f0f1f5 url("../images/eight-bg.jpg") no-repeat center top;
    min-height: 616px;
    text-align: center;
    padding-bottom: 70px;

}

#eight .container {
    padding-top: 256px;
}

#eight .phone {
    font-size: 36px;
    line-height: 36px;
    display: block;
    text-align: center;
    font-family: 'open_sansregular', sans-serif;
    margin-bottom: 30px;

}

#eight .pad {
    padding-right: 30px;
}

#eight .see {
    color: #2bb673;
    font-family: 'open_sansbold', sans-serif;
    font-size: 12px;
    position: relative;
    padding-left: 23px;

}

#eight p {
    margin-bottom: 15px;
}

#eight .see i {
    position: absolute;
    background: url("../images/ico-map.jpg") no-repeat;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;

}

#eight .partner {
    display: block;
    color: #0c4dab;
    text-align: center;
    font-family: 'open_sansbold', sans-serif;
    font-size: 12px;
    margin-top: 48px;
    margin-bottom: 30px;
}

#eight .pdf {
    font-size: 11px;
    font-family: 'open_sansbold', sans-serif;
    text-align: center;
    display: block;
    color: #fff;
    width: 75px;
    line-height: 12px;
    position: relative;
    left: 358px;
}

#eight .pdf img {
    margin-bottom: 3px;
}

#footer {
    padding: 30px 0 40px;
}

#footer .read-us {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'solomon_sans_bold', sans-serif;
    width: 144px;
    height: 21px;
    padding-top: 3px;
    border-radius: 4px;
    text-decoration: none;
    background: #2bb673;
}

#footer .read-us:hover {
    background: #269d63;
}

#footer > .container{
    text-align: center;
}

.likes{
    display: inline-block;
}

.likes__item{
    float: left;
    margin-right: 40px;
}

.likes__twitter{
    margin-right: 0;
}

.likes__vk{
    width: 175px;
}

#tarifs {
    display: none;
}

#tarifs table tr th,
#tarifs table tr td{
  text-align: center;
}

#tarifs table tr th:first-child,
#tarifs table tr td:first-child{
  text-align: left;
}

.popup {
    background: #fff;
    padding: 30px 30px 10px 30px;
}

.popup table {
    font-size: 14px;
    color: #737373;
}

.popup .green {
    color: #44bf83;
    width: 100px;
}

.popup .blue {
    color: #1077bb;
    width: 100px;
}

.popup .black {
    color: #000;
}

.popup .red {
    color: #c8007a;
}

.popup th, .popup td {
    vertical-align: middle;
    text-align: left;
    padding: 3px 0 4px;
}

.popup td {
  border-bottom: 1px solid #e5e5e5;
  padding: 7px 0;
}

.fancybox-skin{
  background: #fff;
}

.popup .mar-m {
    margin-left: -10px;
    font-family: 'solomon_sans_semiboldregular', sans-serif;
}

.popup .oth {
    font-family: 'solomon_sans_semiboldregular', sans-serif;
}

.popup .last td {
    border: 0;
}

.send .fancybox-close {
    background: url("../images/ico-close.png") no-repeat;
    width: 48px;
    height: 48px;

}

.popup .order {
    color: #fff;
    font-size: 12px;
    width: 63px;
    height: 21px;
    text-align: center;
    display: inline-block;
    background: #2bb673;
    border-radius: 4px;
    padding-top: 3px;
    text-decoration: none;
}

.popup .order:hover {
    background: #259c62;
}


#partner-form{
    background: url("../images/blue-ring.png") no-repeat;
    width: 520px;
    height: 520px;
    display: none;
}


#partner-form h2{
    color: #fff;
    font-family: 'solomon_sans_bookregular', sans-serif;
    white-space: nowrap;
    margin-bottom: 30px;
}

#partner-form.form label, #partner-form.form label span{
    color: #fff;

}

#partner-form .inner{
    width: 334px;
    margin:  0 auto;
    padding-top: 90px;
}

.part .fancybox-close{
  background: url("../images/ico-close-2.png") no-repeat;
  width: 46px;
  height: 46px;
  left: 50%;
  margin-left: -23px;
  top: 15px;
}

.eng .part .fancybox-close{
    background: url("../images/ico-close_eng.png") no-repeat;
    width: 46px;
    height: 46px;
    left: 50%;
    margin-left: -23px;
    top: 15px;
}


.part .fancybox-skin{
    background: transparent;
    box-shadow: none;
}



#success{
    background: url("../images/blue-ring.png") no-repeat;
    width: 520px;
    height: 520px;
    display: none;
}


#success h2{
    color: #fff;
    font-family: 'solomon_sans_bookregular', sans-serif;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-top: 80px;
}


#success .inner{
    width: 334px;
    margin:  0 auto;
    padding-top: 90px;
}

#success p {
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
}



#error{
    background: url("../images/blue-ring.png") no-repeat;
    width: 520px;
    height: 520px;
    display: none;
}


#error h2{
    color: #fff;
    font-family: 'solomon_sans_bookregular', sans-serif;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-top: 80px;
}


#error .inner{
    width: 334px;
    margin:  0 auto;
    padding-top: 90px;
}

#error p {
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
}

.active_state{
    font-weight: bold;
    color: #000;
    cursor: default;
    text-decoration: none;
}

[href^="mailto:"]{
    color: #000;
    text-decoration: none;
}

[href^="mailto:"]:hover{
    text-decoration: underline;
}

#six .slider__item .inf p{
  margin-bottom: 25px;
}

.bx-wrapper + .links.controls {
  margin-top: 20px;
}

#six .slider__item-list{
  color: #fff;
  list-style: circle outside;
}

#six .slider__item-list a[target="_blank"]{
  color: #fff;
}

#six .slider__item-list li{
  margin-bottom: 5px;
  margin-left: 25px;
}

.top-delivery{
  width: 140px;
}

.font10{
  font-size: 10px;
}

#privacy-policy{
  width: 600px;
}

#privacy-policy h3{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#privacy-policy h3:first-child{
  margin-top: 0;
}

a[href="#privacy-policy"]{
  color: #0C4DAB;
  /*display: none;*/
}

.privacy-policy{
  display: none;
}

.last-item td{
  border-bottom: 0;
}

.module-item td{
  padding-top: 10px;
}