body{
  color: #333;
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 12px;
}

.app-wrapper{
  background: #fff;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="email"],
button,
.btn{
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a{
  color: #36F;
}

a:hover{
  color: #F90;
}

h1, h2, h3, h4, h5{
  font-family: inherit;
}

input[type="text"],
input[type="email"],
label{
  font-size: 12px;
}

.btn{
  color: #fff;
  text-shadow: none;
  font-size: inherit; /* Убрать при запуске */
  font-weight: normal;
  background: #FF8400;
  background: -webkit-linear-gradient(to bottom, #F3B11B 0%,#FF5F04 100%);
  background:    -moz-linear-gradient(to bottom, #F3B11B 0%,#FF5F04 100%);
  background:      -o-linear-gradient(to bottom, #F3B11B 0%,#FF5F04 100%);
  background:         linear-gradient(to bottom, #F3B11B 0%,#FF5F04 100%);
  border: 1px solid #FF8400;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.disabled,
.btn[disabled],
.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled:hover,
.btn[disabled]:hover{
  color: #fff;
  background-position: 0 0;
  background: #ffa200;
  background: -webkit-linear-gradient(to bottom, #FF5F04 0%, #F3B11B 100%);
  background:    -moz-linear-gradient(to bottom, #FF5F04 0%, #F3B11B 100%);
  background:      -o-linear-gradient(to bottom, #FF5F04 0%, #F3B11B 100%);
  background:         linear-gradient(to bottom, #FF5F04 0%, #F3B11B 100%);
  border: 1px solid #FF8400;
}

/* HEAD Menu */
#sb-header{
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  font-size: 1.2em;
  padding: 0;
}

#sb-header a{
  color: #fff;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
  text-shadow: none;
  text-decoration: none;
}

#sb-header .navbar-inner{
  background-color: #f47929;
  border: 1px solid #dd7306;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

/* Top menu section */
#nav-menu{
  font: normal 14px Arial, Helvetica, sans-serif;
}

#nav-menu li{
  margin-right: 0;
}

#nav-menu .badge{
  font-weight: normal;
  background-color: #547FD4;
}

#nav-menu a{
  color: #fff;
  text-shadow: none;
}

#nav-menu a:hover{
  color: #547FD4;
}

#nav-menu .active a{
  cursor: default;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #547FD4;
  text-decoration: none;
}

.SBwrapper{
  margin-top: 50px;
}

.SBwrapper > .row{
  padding-left: 0;
  padding-right: 0;
}

/* Categories block */
#categories{
  font: normal 14px Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}

#categories a{
  color: #000;
  text-shadow: none;
}

#categories .categories__link{
  border-bottom: 0;
  padding: 3px 15px;
}

#categories .categories__link:hover{
  background: none;
  color: #36C;
}

#categories .active > a,
#categories .active > a:hover{
  background: none;
  color: #36C;
}
/**/
#categories a{
  background: none;
  font-family: Arial;
  color: #000;
  line-height: 1.2;
  text-shadow: none;
}

#categories .active > a{
  background: none;
}

#categories .products-count{
  color: #aaa;
  text-shadow: none;
}

#categories a:hover,
#categories .active > a{
  color: #36C;
}

#categories .sb-categories__item{
  margin: 15px 0;
}

/* Cart Links */
#cart-items a{
  color: #06C;
}

#products .SBproductHead{
  color: #547FD4;
}

.SBproductGrid, .SBproductDetail{
  margin-bottom: 25px;
}

.SBproductGrid h3{
  height: 43px;
  overflow-y: hidden;
}

.SBproductHead{
  margin-top: 0;
  margin-bottom: 0;
}

/* Toolbar */
.toolbar{
  font-family: inherit;
}

.toolbar__link,
.toolbar__link:hover{
  color: #547FD4;
}

.toolbar__link:hover{
  border: 1px solid #547FD4;
}

.toolbar__link_active{
  background-color: #547FD4;
  border: #547FD4;
}

.toolbar__link_active,
.toolbar__link_active:hover{
  color: #fff;
}

.bx-wrapper{
  border-bottom: 1px solid #eee;
}

.sb-banner__item-desc{
  height: 98px;
}

.sb-banner__item-price{
  font: bold 18px / 31px Arial, sans-serif;
}

.sb-banner__control{
  background-color: #547FD4;
}

.sb-banner:hover .sb-banner__prev,
.sb-banner:hover .sb-banner__next,
.sb-banner .sb-banner__prev:hover,
.sb-banner .sb-banner__next:hover{
  background-color: #547FD4;
  color: #fff;
}

.product-item{
  border: 1px solid #eee;
}

.product-item__price{
  font: bold 22px Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  color: #FF8400;
  margin-bottom: 2px;
}

/* Product Full */
.product-profile__price .price{
  background-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #FF8400;
  padding: 0;
}

.search{
  font-size: 12px;
}

.tt-hint,
.search__input{
  font-size: inherit;
}

.tt-hint{
  color: #ccc !important;
}

.search .tt-is-under-cursor{
  background-color: #547FD4;
  color: #fff;
}

.SBnavigate{
  font-size: 14px;
}

#promocode-apply.btn{
  color: #fff;
}

.menu__item-news{
  display: none;
}

.one-column #categories .sb-categories__item {
  margin: 3px 0;
}

.one-column #categories .categories__link{
  color: #fff;
}

.one-column .categories_level_1:hover > .categories__link,
.one-column .categories_level_1:hover > .categories__link:hover{
  background: transparent !important;
  color: #547FD4 !important;
}

.one-column #categories .categories_level_1.active{
  background: transparent !important;
}

.one-column #categories .categories_level_1 > .nav .categories__link{
  color: #547FD4 !important;
}

.one-column #categories .categories_level_1 > .nav .categories__link:hover{
  text-decoration: underline;
}

.one-column #categories .categories_level_1.active > .categories__link,
.one-column #categories .categories_level_1:hover.active > .categories__link:hover{
  background: transparent !important;
  color: #547FD4 !important;
}

.one-column .categories_level_1.active > .categories__link{
  cursor: default;
}

.one-column .categories_level_1.active > .nav .categories__link{
  cursor: pointer;
}

.one-column .SBproductFull{
  margin-top: 10px;
}

.breadcrumb{
  background: transparent;
  margin-top: 20px;
  padding: 0;
}

/* Обратный звонок */
.product-preview__price{
  background: #fff;
  color: #FF8400;
}

.product-item .fast-order__link{
  background: #FF8400;
  color: #fff;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

