/*@font-face {*/
  /*font-family: 'open_sansitalic';*/
  /*src: url('../fonts/OpenSans-Italic-webfont.eot');*/
  /*src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/

/*}*/

/*@font-face {*/
  /*font-family: 'solomon_sans_bookregular';*/
  /*src: url('../fonts/solomon_sans_book-webfont.eot');*/
  /*src: url('../fonts/solomon_sans_book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_book-webfont.woff') format('woff'), url('../fonts/solomon_sans_book-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_book-webfont.svg#solomon_sans_bookregular') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/

/*}*/

@font-face {
  font-family: 'solomon_sans';
  src: url('/static/themes/shoppyboom/fonts/solomon_sans_normal-webfont.eot');
  src: url('/static/themes/shoppyboom/fonts/solomon_sans_normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/themes/shoppyboom/fonts/solomon_sans_normal-webfont.woff') format('woff'),
       url('/static/themes/shoppyboom/fonts/solomon_sans_normal-webfont.ttf') format('truetype'),
       url('/static/themes/shoppyboom/fonts/solomon_sans_normal-webfont.svg#solomon_sans_normalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {*/
  /*font-family: 'solomon_sans_bold';*/
  /*src: url('../fonts/solomon_sans_bold-webfont.eot');*/
  /*src: url('../fonts/solomon_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_bold-webfont.woff') format('woff'), url('../fonts/solomon_sans_bold-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_bold-webfont.svg#solomon_sans_boldbold') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/

/*}*/

/*@font-face {*/
  /*font-family: 'solomon_sans_semiboldregular';*/
  /*src: url('../fonts/solomon_sans_semibold-webfont.eot');*/
  /*src: url('../fonts/solomon_sans_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/solomon_sans_semibold-webfont.woff') format('woff'), url('../fonts/solomon_sans_semibold-webfont.ttf') format('truetype'), url('../fonts/solomon_sans_semibold-webfont.svg#solomon_sans_semiboldregular') format('svg');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/

/*}*/

body{
  font-family: "solomon_sans", Arial, sans-serif;
}

.navbar-inner,
.sb-header{
  background: none;
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a{
  color: #000;
}

#sb-header a:hover{
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
  /* TODO: Придумать чего получше! */
  text-decoration: underline;
}