{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Boom - админка</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/cabinet/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/cabinet/reset.css' %}" rel="stylesheet">
  <link href="{% static 'css/cabinet/style.css' %}" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header" class="admin">
    <div class="container">
      <a href="#" id="logo"><img src="/static/images/cabinet/logo.png" width="134" height="46" alt="ShoppyBoom"></a>
      <ul class="top-menu">
        <li {% if request.path == '/boom/report/by_clients/' %}class="active"{% endif %}><a href="{% url 'report_by_clients' %}"><span><i class="i-settings"></i></span>Клиенты</a></li>
        <li {% if request.path == '/boom/report/by_shops/' %}class="active"{% endif %}><a href="{% url 'report_by_shops' %}"><span><i class="i-settings"></i></span>Магазины</a></li>
      </ul>
      <div class="admin">
        <ul class="profile">
          <li><span>{{ user.username }}</span>
            <ul>
              <li><a href="{% url 'admin:index' %}"><i class="i"></i> В админку</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {% block body %}{% endblock %}
  </div>
</body>
</html>