{% if shop %}
  <ul class="top-menu">
    <li{% ifequal  path.1 'shop'  %} class="active"{% endifequal %}><a href="{% url 'shop' shop.id %}"><span><i class="i-settings"></i></span>Настройки</a></li>
    <li{% ifequal  path.1 'categories'  %} class="active"{% endifequal %}><a href="{% url 'shop_categories' shop.id %}"><span><i class="i-category"></i></span>Категории</a></li>
    <li{% ifequal  path.1 'goods'  %} class="active"{% endifequal %}><a href="{% url 'shop_goods' shop.id %}"><span><i class="i-products"></i></span>Товары</a></li>
    <li{% ifequal  path.1 'comment'  %} class="active"{% endifequal %}><a href="{% url 'shop_comments' shop.id %}"><span><i class="i-respondes"></i></span>Отзывы</a></li>
    <li{% ifequal  path.1 'orders'  %} class="active"{% endifequal %}><a href="{% url 'shop_orders' shop.id %}"><span><i class="i-orders"></i></span>Заказы</a></li>
    <li{% ifequal  path.1 'pages'  %} class="active"{% endifequal %}><a href="{% url 'shop_pages' shop.id %}"><span><i class="i-sections"></i></span>Разделы</a></li>
    <li{% ifequal  path.1 'discount'  %} class="active"{% endifequal %}>
      <a href="{% url 'shop_discount_list' shop.id %}">
        <span><i class="i-sale"></i></span>
        Акции
      </a>
    </li>
  </ul>
{% endif %}
