<ul class="main-menu">
  <li><a href="{% url 'client_profile' client_pk=client.pk %}" {% if state == 'base' %}class="active"{% endif %}>Настройки аккаунта</a></li>
  <li><a href="{% url 'client_user_list' client_pk=client.pk %}" {% if state == 'users' %}class="active"{% endif %}>Сотрудники</a></li>
  <li><a href="{% url 'client_shop_list' client_pk=client.pk %}" {% if state == 'shops' %}class="active"{% endif %}>Магазины</a></li>
</ul>