<ul class="main-menu">
  <li {% if state == 'goods' %}class="active"{% endif %}>
    <a href="{% url 'shop_goods' shop_id=shop.pk %}">Продукты</a>
  </li>
  <li {% if state == 'groups' %}class="active"{% endif %}>
    <a href="{% url 'product_group_list' shop_id=shop.pk %}">Группы</a>
  </li>
</ul>