<ul class="main-menu">
  <li><a href="{% url 'shop_orders' shop_id=shop.pk %}" {% if state == 'orders' %}class="active"{% endif %}>Заказы</a></li>
  <li><a href="{% url 'callback_orders' shop_id=shop.pk %}" {% if state == 'callback_orders' %}class="active"{% endif %}>Запросы звонка</a></li>
</ul>