<div id="order-{{ order.id }}" class="SB-order">
  <h2>
    {% if with_link_to_full %}
      <a href="{% url 'order_view' shop_id=shop.pk order_pk=order.pk %}">
        <i class='icon-{{ order.app_type.code }}'> </i> Заказ #{{ order.id }}
      </a>
    {% else %}
    <i class='icon-{{ order.app_type.code }}'></i> Заказ #{{ order.id }}
    {% endif %}
    <small style="float: right">
      <div class="btn-group">
        {% with order.get_next_statuses as next_statuses %}
          {% if next_statuses %}
            {% for status in next_statuses %}
              <button class="btn btn-primary js-change-order-status" data-order-id="{{ order.pk }}" data-status-val="{{ status.val }}" data-status-text="{{ status.text }}">{{ status.text }}</button>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </small>
  </h2>
  {% if order.approved_comment %}
    <div class="alert alert-success">
     <strong>Комментарий администратора:</strong> {{ order.approved_comment|default:"<i>нет комментария</i>" }}
    </div>
  {% endif %}
  <table class="table">
    <tr>
      <td class="span4 user-info">
        <p><span class="label" title="Имя"><i class="icon-white icon-user"></i></span>&nbsp;
          <i><a href="{% url 'customer_view' customer_pk=order.cart.customer.pk %}">{{ order.name }}</a></i></p>
        <p><span class="label" title="Статус"><i class=" icon-white icon-eye-open"></i></span>&nbsp;
          <i>{{ order.get_status_display }}</i></p>
        <p><span class="label" title="Создан"><i class=" icon-white icon-time"></i></span>&nbsp;
          <i>{{ order.cdate|date:"d.m.Y" }}</i></p>
        <p><span class="label" title="Телефон"><i class=" icon-white sb-icon-phone"></i></span>&nbsp;
          <i>{{ order.phone }}</i></p>
        <p><span class="label" title="Email"><i class=" icon-white icon-envelope"></i></span>&nbsp;
          <i>{{ order.email }}</i></p>
        <p><span class="label" title="Адрес"><i class=" icon-white icon-map-marker"></i></span>&nbsp;
          <i>{{ order.address }}</i></p>
        {% if order.comment %}
        <p><span class="label" title="Комментарий"><i class=" icon-white icon-comment"></i></span>&nbsp;
          <i>{{ order.comment }}</i></p>
        {% endif %}
        <br />
        <a class='btn btn-mini' href="{% url 'order_notice_preview' shop.id order.id %}" target="_blank"><i class="icon-envelope"> </i> посмотреть письмо</a>
      </td>
      <td>
        <table class="table table-bordered">
          <tr>
            <th>№</th>
            <th>артикул</th>
            <th>название</th>
            <th>цена</th>
            <th>кол-во</th>
            <th>итого</th>
          </tr>
          {% for item in order.cart.items.all %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ item.product.oid }}</td>
              <td class='name'>
                {{ item.product.name|safe }}
                {% if item.offer %}<br /><span style="color:#aaa; font-style: italic">Размер: {{ item.offer.get_size }}</span>{% endif %}
              </td>
              <td>{{ item.product.price }}&nbsp;руб.</td>
              <td>{{ item.count }}&nbsp;шт.</td>
              <td><strong>{{ item.price }}</strong>&nbsp;руб.</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan=5 style="text-align: right; font-size: 150%"><strong>Итого:</strong></td>
            <td style="text-align: right; font-size: 150%"><strong>{{ order.cart.total }}</strong>&nbsp;руб.</td>
          </tr>
          {% if order.discount %}
          <tr>
            <td colspan=5 style="text-align: right; font-size: 120%">
              {{ order.discount.name }}:
              {% if order.cart.coupon %}
              <br>по купону &laquo;{{ order.cart.coupon.key }}&raquo;
              {%endif%}
            </td>
            <td style="text-align: right; font-size: 120%">{{ order.discount.value }}</td>
          </tr>
          <tr>
            <td colspan=5 style="text-align: right; font-size: 150%"><strong>С учетом скидки:</strong></td>
            <td style="text-align: right; font-size: 150%"><strong>{{ order.discount.price }}</strong>&nbsp;руб.</td>
          </tr>
          {% endif %}
        </table>
      </td>
    </tr>
  </table>
</div>