<ul class="main-menu">
  <li>{% if state != 'pages' %}<a href="{% url 'shop_pages' shop.id %}">Меню</a>{% else %}Меню{% endif %}</li>
  <li>{% if state != 'news' %}<a href="{% url 'shop_news' shop.id %}">Новости</a>{% else %}Новости{% endif %}</li>
  <li>{% if state != 'landing' %}<a href="{% url 'landing_list' shop_id=shop.id %}">Посадочная страница</a>{% else %}Посадочная страница{% endif %}</li>
</ul>