<ul class="main-menu">
  <li>{% if state != 'main' %}<a href="{% url 'lsection_main' shop_id=shop.id landing_pk=landing.pk %}">Главное</a>{% else %}Главное{% endif %}</li>
  <li>{% if state != 'counter' %}<a href="{% url 'lsection_counter' shop_id=shop.id landing_pk=landing.pk %}">Счетчик</a>{% else %}Счетчик{% endif %}</li>
  <li>{% if state != 'products' %}<a href="{% url 'lsection_products' shop_id=shop.id landing_pk=landing.pk %}">Продукты</a>{% else %}Продукты{% endif %}</li>
  <li>{% if state != 'compare' %}<a href="{% url 'lsection_compare' shop_id=shop.id landing_pk=landing.pk %}">Сравнение</a>{% else %}Сравнение{% endif %}</li>
  <li>{% if state != 'comments' %}<a href="{% url 'lsection_comments' shop_id=shop.id landing_pk=landing.pk %}">Отзывы</a>{% else %}Отзывы{% endif %}</li>
  {% for simple_section in landing.sections_simple.all %}
    {% url 'lsection_simple_edit' shop_id=shop.id landing_pk=landing.pk section_pk=simple_section.pk as section_url %}
    <li>
      {% if request.path != section_url %}
        <a href="{{ section_url }}">
      {% endif %}
          {{ simple_section.title }}
          <a href="{% url 'lsection_simple_delete' shop_id=shop.id landing_pk=landing.pk section_pk=simple_section.pk  %}" class="btn btn-mini btn-danger" style="color: #fff" title="Удалить раздел"><i class="icon-trash icon icon-white"></i></a>
      {% if request.path != section_url %}
        </a>
      {% endif %}
    </li>
  {% endfor %}
  <li>
    <a href="{% url 'lsection_simple_create' shop_id=shop.id landing_pk=landing.pk %}" class="btn btn-mini btn-success" style="color: #fff" title="Добавить свободный раздел">+</a>
  </li>
</ul>