{% load cabinet %}
<ul class="paginator">
{% if page.has_previous %}
  <li class="enabled">
    <a href="{% pagination_link request page_param_name page.previous_page_number %}">«</a>
  </li>
{% else %}
  <li class="disabled">
    <a href="#">«</a>
  </li>
{% endif %}

{% for p_num in page.paginator.page_range %}
  {% if page.number == p_num %}
    <li class="active">
      <a href="#">{{ p_num }}</a>
    </li>
  {% else %}
    <li>
      <a href="{% pagination_link request page_param_name p_num %}">{{ p_num }}</a>
    </li>
  {% endif %}
{% endfor %}

{% if page.has_next %}
  <li class="enabled">
    <a href="{% pagination_link request page_param_name page.next_page_number %}">»</a>
  </li>
{% else %}
  <li class="disabled">
    <a href="#">»</a>
  </li>
{% endif %}
</ul>