<ul class="main-menu">
  {% if is_automatic_mode %}
    <li><a href="{% url 'good_view' shop_id=shop.pk product_pk=product.pk %}" {% if state == 'product' %}class="active"{% endif %}>Товар</a></li>
  {% else %}
    <li><a href="{% url 'shop_good_edit' shop_id=shop.pk productid=product.pk %}" {% if state == 'product' %}class="active"{% endif %}>Товар</a></li>
  {% endif %}
  <li><a href="{% url 'shop_offer_list' shop_id=shop.pk product_pk=product.pk %}" {% if state == 'offers' %}class="active"{% endif %}>Модификации</a></li>
</ul>