<ul class="main-menu">
  <li><a href="{% url 'shop' shop_id=shop.id %}" {% if state == 'base' %}class="active"{% endif %}>Информация</a></li>
  <li><a href="{% url 'shop_datasource_list' shop_id=shop.id %}" {% if state == 'datasource' %}class="active"{% endif %}>Источники</a></li>
  <li><a href="{% url 'shop_base' shop_id=shop.id %}" {% if state == 'settings' %}class="active"{% endif %}>Основные</a></li>
  <li><a href="{% url 'shop_email' shop_id=shop.id %}" {% if state == 'email' %}class="active"{% endif %}>Email</a></li>
  <li><a href="{% url 'shop_profile' shop_id=shop.id %}" {% if state == 'social' %}class="active"{% endif %}>Социальные сети</a></li>
  <li><a href="{% url 'shop_integration_list' shop_id=shop.id %}" {% if state == 'integration' %}class="active"{% endif %}>Интеграция</a></li>
  {% if user.is_superuser %}
  <li><a href="{% url 'shop_extra' shop_id=shop.id %}" {% if state == 'advanced' %}class="active"{% endif %}>Системные параметры</a></li>
  {% endif %}
  <li><a href="{% url 'shop_payment_list' shop_id=shop.id %}" {% if state == 'payments' %}class="active"{% endif %}>Счета</a>{% if shop.get_new_payments_count %}({{ shop.get_new_payments_count }}){% endif %}</li>
</ul>