<ul class="main-menu">
  <li {% if state == 'discount' %}class="active"{% endif %}>
    <a href="{% url 'shop_discount_list' shop_id=shop.pk %}">Скидки</a>
  </li>
  <li {% if state == 'banner' %}class="active"{% endif %}>
    <a href="{% url 'shop_banner_list' shop_id=shop.pk %}">Баннеры</a>
  </li>
  <li {% if state == 'notification' %}class="active"{% endif %}>
    <a href="{% url 'shop_notification_list' shop_id=shop.pk %}">Оповещения</a>
  </li>
  <li {% if state == 'subscription' %}class="active"{% endif %}>
    <a href="{% url 'subscription_list' shop_id=shop.pk %}">Подписки</a>
  </li>
</ul>
