body{
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 14px;
  color: #696969;
}

h1, h2, h3, h4, h5{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover{
  color: #2F656C;
}

#categories{
  font-family: Arial, Helvetica, sans-serif;
}

.btn,
input[type="submit"],
input[type="button"],
button{
  font-family: Arial, Helvetica, sans-serif;
  background: #326970;
  text-transform: uppercase;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  color: #fff;
}

.btn{
  padding: 2px 8px;
}

.btn,
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active{
  background: #2F656C;
  border-color: #326970;
  color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active{
  background: #2F656C;
  border-color: #326970;
  color: #fff;
  opacity: .8;
}

.product-item .fast-order__link{
  background: #326970;
}

.product-item__price{
  font-size: 14px;
  line-height: 10px;
  color: #2F656C;
}

.product-item__art{
  height: 28px;
  overflow: hidden;
}

.product-item__toolbar{
  margin-bottom: 15px;
}

.toolbar{
  display: none;
}

.product-item__desc{
  display: none;
}

.SBproductGrid{
  margin-bottom: 35px;
}

.sb-banner-slot-3:not(:empty) + .SBproductList{
  margin-top: 35px;
}

.sb-banner__control{
  background: #2F656C;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}

#categories .active > a,
#categories .active > a:hover,
#categories .categories__link:hover{
  color: #ff6700;
}

#nav-menu a:hover,
#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #ff6700;
}

.variant-list ul > li:hover a, .variant-list ul > li.active a{
  background-color: #ff6700;
  border-color: #ff6700;
  color: #fff;
}

#nav-menu .badge{
  background-color: #2F656C;
}

.search .tt-is-under-cursor{
  background-color: #2F656C;
}

.product-profile__price .price{
  background-color: #2F656C;
}

.cloud-zoom__item:hover,
.cloud-zoom__item.active{
  border-color: #ff6700;
}