body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

h1{
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
}

input[type="submit"],
input[type="button"],
button,
.btn,
.toolbar__link{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #E3212F;
  margin-top: -6px;
  padding: 4px 9px 6px;
  border-bottom: 3px solid #B60000;
  -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
      -o-border-radius: 5px;
          border-radius: 5px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.btn:hover{
  background-color: #F71C2C;
  border-bottom: 3px solid #B60000;
}

.app-wrapper{
  background: url('/static/custom/pincat/images/bg.png');
  width: 100%;
}

.SBwrapper{
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  padding-top: 10px;
}

.SBwrapper,
.sb-banner-slot-1{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.sb-banner{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sb-banner__prev{
  left: 0;
}

.sb-banner__next{
  right: 0;
}

/* Шапка */
#sb-header{
  background: #f60;
  padding-top: 0;
  height: 52px;
  -webkit-box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

#sb-header .navbar-inner{
  margin: 0 auto;
  width: 980px;
  webkit-box-shadow: 0 -4px 10px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -4px 10px 3px rgba(0, 0, 0, 0.2);
         box-shadow: 0 -4px 10px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-menu li{
  margin-right: 20px;
}

#nav-menu a{
  font: bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 18px 0;
}

#nav-menu a,
#nav-menu a:hover{
  color: #fff;
}

#nav-menu .active > a,
#nav-menu .active > a:hover{
  color: #dfdfdf;
}

#nav-menu .badge{
  background-color: #999;
  font-weight: normal;
}

.navbar-inner{
  background: #ff6600 url('/static/custom/pincat/images/head-bg.png');
  height: 100%;
}

/* Категории */
#categories{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Поиск в шапке */
.search{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.search input[type="text"] {
  font-size: 12px;
}

/* Тулбар кнопки */
.toolbar__link{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
  border: 0;
  color: #E3212F;
  margin-top: -6px;
  padding: 4px 9px 6px;
  -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
      -o-border-radius: 5px;
         border-radius: 5px;
}

.toolbar__link:hover{
  border: 1px solid #F71C2C;
  padding: 3px 8px 5px;
}

.toolbar__link_active{
  background: #F71C2C;
  color: #fff;
}

.SBproductHead,
.product-item__price,
.product-profile__title,
.product-profile__price .price{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.SBproductGrid, .SBproductDetail{
  overflow: visible;
}

.SBproductGrid .SBproductHead{
  font-size: 14px;
  height: 21px;
  margin-top: 60px;
  margin-bottom: 5px;
  padding: 0 6px;
}

.SBproductGrid .product-item,
.SBproductDetail .product-item{
  -webkit-box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
}

.SBproductGrid .product-item__desc{
  padding: 0 6px;
}

.SBproductGrid .product-item__toolbar{
  margin-top: 5px;
  margin-bottom: 15px;
}

.SBproductGrid .product-item__price{
  background-color: #EF5E33;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  height: 22px;
  margin-left: -6px;
  margin-top: 14px;
  padding: 6px 23px 0 17px;
  position: absolute;
  text-align: center;
  letter-spacing: .2px;
}

.SBproductGrid .product-item__price:before,
.SBproductGrid .product-item__price:after{
  content: ' ';
  position: inherit;
  width: 0;
  height: 1px;
}

.SBproductGrid .product-item__price:after{
  left: 0px;
  top: -6px;
  border-width: 0px 0px 6px 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) #666 #666 rgba(0, 0, 0, 0);
}

.SBproductGrid .product-item__price:before{
  border-style: solid;
  border-width: 15px 10px 15px 15px;
  border-color: rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  left: auto;
  right: -2px;
  top: -2px;
  width: 0;
}

.search .tt-is-under-cursor {
  background-color: #3875D7;
}

.SBcartAdd{
  margin-top: 2px;
}

.SBproductGrid .product-item{
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  padding: 8px 0 0;
}

.SBproductGrid .SBproductCover{
  padding: 0;
  margin-bottom: 0;
  width: 218px;
  height: 180px;
}

#promocode-apply{
  margin-top: 3px;
}

.sb-cart__item-trash{
  padding: 3px 8px;
}

.product-item .fast-order__link{
  right: 0;
  display: none;

  -webkit-transition: display .2s ease-in;
     -moz-transition: display .2s ease-in;
      -ms-transition: display .2s ease-in;
       -o-transition: display .2s ease-in;
          transition: display .2s ease-in;
}

.product-item:hover .fast-order__link{
  display: inline;
}

.btn-send-recall{
  margin-top: 5px;
}

.btn.btn-default{
  color: #333;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}