{% extends 'boom/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <form action="#" method="get">
        <div class="row">
          <div class="span10 offset1 text-center">
            {% for field in filter_obj.form %}
              {{ field }}
            {% endfor %}
          </div>
        </div>
      </form>
      <br/>
      <form action="#" method="get">
        <div class="row">
          <div class="span10 offset1 text-center">
            <input type="hidden" name="month" value="{{ cur_month }}">
            <input type="submit" class="btn btn-success" name="as_csv" value="Экспортировать в CSV">
          </div>
        </div>
      </form>
      <br>
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Дата регистрации</th>
                <th>Клиент</th>
                <th>Магазинов</th>
                <th>Активирован</th>
                <th>Кол-во источников</th>
                <th>Последний вход</th>
              </tr>
            </thead>
            {% for client in objects %}
              <tr>
                <td>{{ client.registered|date:"d.m.Y" }}</td>
                <td><a href="{{ client.cabinet_client_profile_url }}">{{ client.name }}</a></td>
                <td><a href="{{ client.cabinet_client_shop_list_url }}">{{ client.shops_count }}</a></td>
                <td>{{ client.is_active|yesno:"Да,Нет" }}</td>
                <td>{{ client.datasource_count }}</td>
                <td>{{ client.last_login|date:"d.m.Y" }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}