{% extends 'boom/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <form action="#" method="get">
        <div class="row">
          <div class="span10 offset1 text-center">
            {% for field in filter_obj.form %}
              {{ field }}
            {% endfor %}
          </div>
        </div>
      </form>
      <br/>
      <form action="#" method="get">
        <div class="row">
          <div class="span10 offset1 text-center">
            <input type="hidden" name="month" value="{{ cur_month }}">
            <input type="submit" class="btn btn-success" name="as_csv" value="Экспортировать в CSV">
          </div>
        </div>
      </form>
      <br>
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Дата создания</th>
                <th>Название</th>
                <th>Источников</th>
                <th>Товаров</th>
                <th>Заказов</th>
                <th>FB</th>
                <th>VK</th>
                <th>OK</th>
              </tr>
            </thead>
            {% for shop in objects %}
              <tr>
                <td>{{ shop.created|date:"d.m.Y" }}</td>
                <td><a href="{{ shop.cabinet_shop_url }}">{{ shop.name }}</a></td>
                <td><a href="{{ shop.cabinet_shop_datasources_url }}">{{ shop.datasource_count }}</a></td>
                <td><a href="{{ shop.cabinet_shop_products_url }}">{{ shop.product_count }}</a></td>
                <td><a href="{{ shop.cabinet_shop_orders_url }}">{{ shop.order_count }}</a></td>
                <td>
                  {% if shop.fb_url %}
                    <a href="{{ shop.fb_url }}" target="_blank"><i class="icon-fb"></i></a>
                  {% else %}
                    Нет ссылки
                  {% endif %}
                </td>
                <td>
                  {% if shop.vk_url %}
                    <a href="{{ shop.vk_url }}" target="_blank"><i class="icon-vk"></i></a>
                  {% else %}
                    Нет ссылки
                  {% endif %}
                </td>
                <td>
                  {% if shop.ok_url %}
                    <a href="{{ shop.ok_url }}" target="_blank"><i class="icon-ok"></i></a>
                  {% else %}
                    Нет ссылки
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}