{% load cabinet %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <style>
    a { color: #1a74bb;}
  </style>
  {% block head %}{% endblock %}

</head>
<body style="color:#555;font-family:Verdana, sans-serif;font-size: 14px;padding:20px; margin:0;background:#fff;">
{% block body %}{% endblock %}
</body>
</html>