{% extends "email/notice_base.html" %}

{% block head %}
  <style>
    .list {border-radius: 3px;}
    .list th {padding: 10px; background: #aaaaaa}
    .list td {text-align: right; padding: 5px 7px; background:#fff;}
    .list td.name {text-align: left}
  </style>
{% endblock %}

{% block content %}

  <h1>Запрос звонка</h1>

  <table class="list" cellspacing=1 cellpadding="5" style="border-radius: 3px;background: #aaaaaa;">
    <thead>
      <tr>
        <th>Магазин</th>
        <th>Товар</th>
        <th>Приложение</th>
        <th>Имя заказчика</th>
        <th>Телефон</th>
      </tr>
    </thead>
    <tr>
      <td>{{ order.shop.name }}</td>
      <td>{{ order.product.name }} <b><br/>(арт. {{ order.product.oid }})</b></td>
      <td>{{ order.app_type.name }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.phone }}</td>
    </tr>
  </table>

{% endblock %}