{% extends "email/signup_base.html" %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">
    Добро пожаловать!
  </h1>
  <p>Теперь Вы &mdash; полноправный пользователь нашего сервиса!</p>

  <p>Личный кабинет расположен по адресу <a style="text-decoration:none;" href="http://shoppyboom.ru/cabinet/">http://shoppyboom.ru/cabinet/</a></p>

  <p>Для доступа используйте следующие данные:<br>
  <strong>Username:</strong> {{ username }}<br>
  <strong>Password:</strong> {{ password }}<br>
  </p>

  <p>После входа в личный кабинет Вы попадете на форму создания своего первого магазина.</p>

  <p>Если в процессе использования кабинета возникнут трудности или
      вопросы &mdash; смело обращайтесь в нашу <a style="text-decoration:none;" href="mailto:info@shoppyboom.ru"><strong>службу заботы о пользователях</strong></a>!
      Будуем рады ответить на все возникнувшие вопросы и помочь с настройкой магазина!</p>

  <br/>
  <p><b>Скачайте руководства по созданию магазина</b></p>
  <div>
    <a href="http://shoppyboom.ru/create_shop.pdf" style="text-decoration:none;line-height: 19px;">
      <img src="http://shoppyboom.ru{% static 'images/icons/16x16/pdf.png' %}" style="margin-bottom: -3px;">
      Создание магазина
    </a>
  </div>
  <div>
    <a href="http://shoppyboom.ru/create_app_vkontakte.pdf" style="text-decoration:none;line-height: 19px;">
      <img src="http://shoppyboom.ru{% static 'images/icons/16x16/pdf.png' %}" style="margin-bottom: -3px;">
      Создание приложения Vkontakte
    </a>
  </div>
  <div>
    <a href="http://shoppyboom.ru/create_app_facebook.pdf" style="text-decoration:none;line-height: 19px;">
      <img src="http://shoppyboom.ru{% static 'images/icons/16x16/pdf.png' %}" style="margin-bottom: -3px;">
      Создание приложения Facebook
    </a>
  </div>
  <p><b>Или посмотрите видео</b></p>
  <div>
    <a href="http://www.youtube.com/watch?v=fSE0YVdNoys" target="_blank" style="text-decoration:none;line-height: 19px;">
      <img src="http://shoppyboom.ru{% static 'images/icons/16x16/youtube.png' %}" style="margin-bottom: -3px;">
      Посмотреть руководство
    </a>
  </div>
{% endblock %}