{% extends "email/signup_base.html" %}

{% block head %}{% endblock %}

{% block content %}
            <h1 style="font-size:30px;color:#000;">
                Добро пожаловать!
            </h1>
            <p>Вам предоставлен доступ к сервису <a style="text-decoration:none;" href="http://shoppyboom.ru/">ShoppyBoom</a>
            как сотруднику клиента &laquo;{{ client }}&raquo;.
            </p>

            <p>Личный кабинет расположен по адресу <a style="text-decoration:none;" href="http://shoppyboom.ru/cabinet/">http://shoppyboom.ru/cabinet/</a></p>

            <p>Для доступа используйте следующие данные:<br>
            <strong>Username:</strong> {{ username }}<br>
            <strong>Password:</strong> {{ password }}<br>
            </p>

            <p>После входа в личный кабинет Вы получите доступ к существующим магазинам и сможете создавать новые.</p>

            <p>Если в процессе использования кабинета возникнут трудности или
                вопросы &mdash; смело обращайтесь в нашу <a style="text-decoration:none;" href="mailto:info@shoppyboom.ru"><strong>службу заботы о пользователях</strong></a>!
                Будуем рады ответить на все возникнувшие вопросы и помочь с настройкой магазина!</p>
{% endblock %}