{% extends "email/signup_base.html" %}

{% block head %}{% endblock %}

{% block content %}
            <h1 style="font-size:30px;color:#000;">
                Спасибо за регистрацию!
            </h1>
            <p>Пожалуйста, перейдите по ссылке, чтобы получить доступ в личный кабинет.</p>
            <p><a href="{{ reg_link }}">Подтвердить email</a></p>
            <p>В личном кабинете вы сможете самостоятельно создать магазин и прикрепить его к социальным сетям.
                Это можно сделать в <strong>ручном режиме</strong>, заполнив разделы "Категории" и "Товары"</p>
            <p>или</p>
            <p>в <strong>автоматическом режиме</strong>, указав ссылку на фид в формате YML (Яндекс.Маркет).
                Подробнее о YML формате можно узнать в
                <a href="http://help.yandex.ru/partnermarket/yml/about-yml.xml">официальной документации</a>.
            </p>
            <p>Для того, чтобы Вы смогли оценить качество и удобство сервиса ShoppyBoom,
                <strong>мы дарим Вам 1 месяц тестирования — совершенно бесплатно.</strong>
                По окончанию тестового периода стоимость использования платформы
                будет взиматься согласно тарифам на сайте <a href="http://shoppyboom.ru">www.shoppyboom.ru</a>
            </p>
            <p>Будуем рады ответить на все возникнувшие вопросы и помочь с настройкой магазина!</p>
{% endblock %}