{% extends "email/notice_base.html" %}

{% block head %}
  <style>
    .list {border-radius: 3px;}
    .list th {padding: 10px; background: #aaaaaa}
    .list td {text-align: right; padding: 5px 7px; background:#fff;}
    .list td.name {text-align: left}
  </style>
{% endblock %}

{% block content %}
  <h1>
    <a href="http://shoppyboom.ru{% url 'order_view' shop_id=order.shop.pk order_pk=order.pk %}">
      Заказ № {{ order.pk }}
    </a>
  </h1>

  <h1>Покупатель</h1>

  <table class="list" cellspacing="1" cellpadding="5" style="border-radius: 3px;background: #aaaaaa;">
    <tr><td style="background: #fff;">Имя: </td><td style="background: #fff;"><a href="{{ order.cart.customer.get_profile_url }}">{{ order.name }}</a></td></tr>
    <tr><td style="background: #fff;">Телефон: </td><td style="background: #fff;"> {{ order.phone }}</td></tr>
    <tr><td style="background: #fff;">Email: </td><td style="background: #fff;">{{ order.email }}</td></tr>
    <tr><td style="background: #fff;">Адрес: </td><td style="background: #fff;">{{ order.address }}</td></tr>
    {% if order.deliverypoint %}
      <tr><td style="background: #fff;">ПВЗ: </td><td style="background: #fff;">[{{ order.deliverypoint.oid }}] {{ order.deliverypoint.name }}</td></tr>
    {%  endif %}
    <tr><td style="background: #fff;">Комментарий к заказу:</td><td style="background: #fff;">{{ order.comment }}</td></tr>
  </table>

  <h1>Содержимое заказа</h1>

  <table class="list" cellspacing="1" cellpadding="5" style="border-radius: 3px;background: #aaaaaa;">
    <tr style="background: #aaaaaa;">
      <th style="padding: 10px;">№</th>
      <th style="padding: 10px;">артикул</th>
      <th style="padding: 10px;">название</th>
      <th style="padding: 10px;">кол-во</th>
      <th style="padding: 10px;">итого</th>
    </tr>

    {% for item in order.cart.items.all %}
      <tr>
        <td style="background: #fff;">{{ forloop.counter }}</td>
        <td style="background: #fff;">{% if item.offer %}{{ item.offer.oid }}{% else %}{{ item.product.oid }}{% endif %}</td>
        <td style="background: #fff;" class='name'>
          {{ item.product.name|safe }}
          {% if item.offer %}
            <br />
            <span style="color:#aaa; font-style: italic">Размер: {{ item.offer.get_size }}</span>
          {% endif %}
        </td>
        <td style="background: #fff;">{{ item.count }}&nbsp;шт&nbsp;<strong>X</strong>&nbsp;{{ item.product.price }}&nbsp;руб.</td>
        <td style="background: #fff;"><strong>{{ item.price }}</strong>&nbsp;руб.</td>
      </tr>
    {% endfor %}

    <tr>
      <td colspan=4 style="text-align: right; font-size: 120%; background: #fff;"><strong>Итого:</strong></td>
      <td style="text-align: right; font-size: 120%; background: #fff;"><strong>{{ order.cart.total }}</strong>&nbsp;руб.</td>
    </tr>

    {% if discount %}
      <tr>
        <td colspan=4 style="text-align: right; background: #fff;">
          {{ order.cart.discount.name }}:
          {% if order.cart.coupon %}
            <br>по купону &laquo;{{ order.cart.coupon.key }}&raquo;
          {%endif%}
        </td>
        <td style="text-align: right; background: #fff;">{{ discount.value }}</td>
      </tr>
      <tr>
        <td colspan=4 style="text-align: right; font-size: 120%; background: #fff;"><strong>С учетом скидки:</strong></td>
        <td style="text-align: right; font-size: 120%; background: #fff;"><strong>{{ discount.price }}</strong>&nbsp;руб.</td>
      </tr>
    {%endif%}
  </table>
{% endblock %}