{% extends 'email/base.html' %}

{% block body %}
  <h1 style="font-size:30px;color:#000;">Оплата услуг ShoppyBoom</h1>

  <p>Поступил платеж от клиента {{ payment.client.name }}</p>
  <p>Сумма: {{ payment.get_amount }}</p>
{% endblock %}