{% extends 'email/signup_base.html' %}

{% block content %}
            <h1 style="font-size:30px;color:#000;">
                Новый комментарий
            </h1>
            <p>В вашем магазине &laquo;{{ shop.name }}&raquo; к товару &laquo;{{ comment.product.name }}&raquo; оставлен новый комментарий:</p>

            <p style="border-left:5px solid #aaa;background:#fafafa;padding:10px;font-size:16px;color:#000;padding:10px 20px 20px 20px">
                <a href="{{ comment.customer.get_profile_url }}">{{ comment.customer.name }}</a> <span style="font-size:12px;color:#aaa">2 апр в 4:06</span><br /><br />

                &laquo;{{ comment.text|linebreaksbr }}&raquo;</p>

            <p>Прочитать или ответить на пользовательские комментарии к товарам вы всегда можете в
                <a style="text-decoration:none;" href="{% url 'shop_comments' shop.id %}">Личном кабинете</a>.</p>

            <p>Если в процессе использования кабинета возникнут трудности или
                вопросы &mdash; смело обращайтесь в нашу <a style="text-decoration:none;" href="mailto:info@shoppyboom.ru"><strong>службу заботы о пользователях</strong></a>!
                Будуем рады ответить на все возникнувшие вопросы и помочь с настройкой магазина!</p>
{% endblock %}