{% extends "email/base.html" %}

{% block body %}
<table cellspacing=0 cellpadding=0 border=0 width=100% style="width:100%"><tr>
  <td width="50%"></td>
  <td width="800" style="width:800px">
    <div style="margin:20px 0;overflow:hidden;width:800px;background:#fff;border:1px solid #ddd;border-radius:10px;">
      <div>
        <div style="box-shadow:inset 0 -10px 10px -10px #aaa;text-align:right;background:#eeeeee url('http://shoppyboom.ru/static/images/cabinet/head-bg.png') no-repeat 0 100%;height: 128px;margin:0 0 20px 0;">
        <a href="http://shoppyboom.ru"><img src="http://shoppyboom.ru/static/images/cabinet/logo.png" width="134" height="46" alt="ShoppyBoom" style="margin:40px 40px 0 0;"></a>
        </div>
        <div style="padding:20px 50px;">
            {% block content %}{% endblock %}
        </div>
        <div style="font-size:10px;background:#eee;height: 64px;margin:40px 0 0;box-shadow:inset 0 10px 10px -10px #aaa;">
          <div style="float:right;padding:25px 30px 0 0;">2014 &mdash; <a style="text-decoration:none;" href="http://shoppyboom.ru">ООО &laquo;Шоппибум&raquo;</a><sup>&copy;</sup></div>
          <div style="padding:15px 0 0 30px;">
            Служба заботы о пользователях<br>
            email: <a style="text-decoration:none;" href="mailto:info@shoppyboom.ru">info@shoppyboom.ru</a>
            tel: <a style="text-decoration:none;" href="callto:+74955404651">+7&nbsp;(495)&nbsp;540-46-51</a>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td width="50%"></td>
</tr></table>
{% endblock %}