{% extends "email/signup_base.html" %}

{% block head %}{% endblock %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Восстановление пароля</h1>

  <p>Вы запросили восстановление пароля для электронной почты "{{ email }}". Для восстановления пароля перейдите по ссылке ниже</p>

  <p><a style="text-decoration:none;" href="{{ url }}">{{ url }}</a></p>

  <p>После входа по ссылке следуйте указаниям системы</p>

  <p>Ссылка будет действительна в течении {{ token_expired_hours }} часов</p>

  <p>Если это не вы запросили изменение пароля - просто проигнорируйте это письмо</p>

  <p>Если у вас возникнут трудности или
    вопросы &mdash; смело обращайтесь в нашу <a style="text-decoration:none;" href="mailto:info@shoppyboom.ru"><strong>службу заботы о пользователях</strong></a>!
    Будуем рады ответить на все возникнувшие вопросы и помочь с настройкой магазина!</p>
{% endblock %}