{% extends 'email/notice_base.html' %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Счет оплачен</h1>

  <p>Магазин: {{ shop_name }}</p>
  <p>Услуга: {{ payment_desc }}</p>
  <p>Сумма: {{ payment_amount }} руб</p>

  <p>Просмотреть историю счетов вы всегда можете в <a href="http://shoppyboom.ru{% url 'shop_payment_list' shop_id=shop_pk %}">Личном кабинете</a>.</p>

  <p>Если в процессе использования кабинета возникнут трудности или вопросы — смело обращайтесь в нашу службу заботы о пользователях! Будуем рады ответить на все возникнувшие вопросы и помочь с настройкой магазина!</p>
{% endblock %}
