{% extends 'email/notice_base.html' %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Добрый день!</h1>

  <p>Благодарим Вас за проявленное внимание к сервису ShoppyBoom.</p>

  <p>
    Хотим напомнить, что тестовый период Вашего магазина "{{ shop.name }}"
    истекает завтра.<br>
    По истечении срока действия доступ в Личный кабинет будет закрыт, а магазин
    заблокирован.
  </p>

  <p>
    Вы можете продлить работу Вашего магазина выбрав подходящий Вам тариф Like
    или Boom!<br>
    Сравнить наши тарифы Вы можете здесь
    <a href="http://www.shoppyboom.ru">shoppyboom.ru</a>
  </p>

  <p>
    <a href="http://shoppyboom.ru{% url 'shop_change_tariff' shop_id=shop.pk %}">
      Оплатить счет</a> Вы можете в своем Личном кабинете в разделе счета.</p>

  <p>Сообщите мне, если Вам нужна моя помощь или возникли вопросы.</p>

  С уважением,<br>
  Александра Мерещенко<br>
  Менеджер по работе с клиентами<br>
  <a href="mailto:alexandra@shoppyboom.ru">alexandra@shoppyboom.ru</a>
{% endblock %}