{% extends 'email/notice_base.html' %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Добрый день!</h1>

  <p>
    Ваш магазин "{{ shop.name }}" в социальных сетях ShoppyBoom был заблокирован из-за недостатка
    средств на аккаунте.</p>
  <p>
    Если Вы хотите продолжать использовать сервис и получать продажи из
    ВКонтакте, Facebook и Одноклассники — пожалуйста, <a href="http://shoppyboom.ru{% url 'shop_change_tariff' shop_id=shop.pk %}">оплатите счет</a> согласно
    выбранному тарифу в Вашем личном кабинете
  </p>

  <p>Если нужна моя помощь — скажите, я всегда рада помочь.</p>

  С уважением,<br>
  Александра Мерещенко<br>
  Менеджер по работе с клиентами<br>
  <a href="mailto:alexandra@shoppyboom.ru">alexandra@shoppyboom.ru</a>
{% endblock %}