{% extends 'email/notice_base.html' %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Добрый день,</h1>

  <p>
    Меня зовут Анна Ветринская, я &mdash; основатель сервиса ShoppyBoom.<br>
    Пишу вам, чтобы лично поблагодарить за интерес к нашему сервису.</p>

  <p>
    Возможно, вы обратили внимание, что бесплатное тестирование вашего магазина <a href="{{ shop.get_app_url }}">"{{ shop.name }}"</a> продлилось дольше, чем мы обещали.</p>

  <p>
    Мы очень надеемся, что за это время вы успели оценить сервис и приняли решение продолжать пользоваться ShoppyBoom.
    А мы, в свою очередь, сделаем все возможное чтобы увеличить ваши продажи через социальные сети ВКонтакте, Facebook и Одноклассники.</p>

  <p>
    Для продолжения работы вашего магазина необходимо оплатить тариф в <a href="http://shoppyboom.ru{% url 'shop_change_tariff' shop_id=shop.pk %}">личном кабинете</a>.
    Пожалуйста, сделайте это в течение ближайших 3-х дней, иначе магазин будет заблокирован, а затем удален.</p>

  <p>
    Если Вам понравился сервис, но Вы не нашли время прикрепить магазин к социальным сетям — скажите нам, мы поможем.
    Также мы можем создать для вас "магазин под ключ", настроив его за вас и прикрепив к вашим группам.</p>

  <p>
    Мы будем искренне благодарны за ваши отзывы или предложения.
    Если у вас возникли вопросы по использованию нашего сервиса или есть идеи по его улучшению,
    пожалуйста, поделитесь ими в ответе на это письмо.</p>

  <p>
    Вместе мы сделаем сервис лучше!</p>

  Спасибо вам,<br>
  Анна Ветринская<br>
  основатель ShoppyBoom<br>
  <a href="mailto:anna@shoppyboom.ru">anna@shoppyboom.ru</a>
{% endblock %}