{% extends 'email/notice_base.html' %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Добрый день,</h1>

  <p>
    Друзья, приносим извинения за рассылку, в которую по ошибке включили вас.<br>
    Жара &mdash; дело такое :)</p>

  <p>
    С вашим магазином <a href="{{ shop.get_app_url }}">"{{ shop.name }}"</a> все в порядке!<br>
    Он готов трудиться для вас до <strong>{{ shop.paid_till|date:"d.m.Y" }}</strong>!</p>

  <p>
    Мы по-прежнему очень надеемся, что вам нравится наш сервис.<br/>
    А мы делаем все возможное чтобы помочь вам увеличить продажи через социальные сети ВКонтакте, Facebook и Одноклассники.</p>

  <p>
    Если у вас появляются вопросы по использованию нашего сервиса или есть идеи по его улучшению,
    пожалуйста, поделитесь ими в ответе на это письмо.</p>

  <p>
    Вместе мы сделаем сервис лучше! И жара не помешает!</p>

  Спасибо вам,<br>
  Анна Ветринская,<br>
  основатель ShoppyBoom<br>
  <a href="mailto:anna@shoppyboom.ru">anna@shoppyboom.ru</a></br></br>

  PS: Горячая команда, присоединяется!
{% endblock %}