{% extends 'email/notice_base.html' %}


{% block content %}
  <h1 style="font-size:30px;color:#000;">Добрый день!</h1>

  <p>
    Хотим напомнить, что тестовый период Вашего магазина "{{ shop.name }}"
    заканчивается через 1 неделю.<br>
    По истечении этого срока доступ в Личный кабинет будет закрыт, а магазин
    заблокирован.
  </p>

  <p>
    Вы можете продлить работу Вашего магазина оплатив подходящий Вам тариф:<br>
    стоимость тарифа Like  — 1490 р. в месяц, <br>
    стоимость тарифа Boom — 4990 р. в месяц.
  </p>

  <p>Сравнить тарифы Вы можете здесь <a href="http://shoppyboom.ru">shoppyboom.ru</a></p>

  <p>Оплатить счет Вы можете в своем
    <a href="http://shoppyboom.ru{% url 'shop_change_tariff' shop_id=shop.pk %}">
      Личном кабинете</a> в разделе «Счета».</p>

  <p>
    Не хватило времени на тестирование или остались вопросы и трудности?<br>
    Обращайтесь, я буду рада Вам помочь.
  </p>

  С уважением,<br>
  Александра Мерещенко<br>
  Менеджер по работе с клиентами<br>
  <a href="mailto:alexandra@shoppyboom.ru">alexandra@shoppyboom.ru</a>
{% endblock %}