{% extends 'email/notice_base.html' %}

{% block content %}
  <h1 style="font-size:30px;color:#000;">Добрый день!</h1>

  <p>Благодарим Вас за то, что выбрали ShoppyBoom!</p>

  <p>
    Напоминаем, что тестовый период Вашего магазина "{{ shop.name }}"
    заканчивается через 2 недели. <br/>
    Успейте воспользоваться всеми возможностями!
  </p>

  <p>Такими как:</p>

  <ul>
    <li>создание скидок,</li>
    <li>создание баннера,</li>
    <li>оповещение пользователей,</li>
    <li>создание новостей,</li>
    <li>слайдер избранных товаров</li>
  </ul>

  <p>
    Все эти функции уже входят в Ваш тариф и могут помочь увеличить продажи
    через приложение.<br/>

    Инструкцию по созданию скидок и баннеров Вы найдете в этом письме.
  </p>

  <p>
    Также Вы можете воспользоваться нашими советами для увеличения конверсии
    Вашего приложения:
  </p>

  <ol>
    <li>
      В шапке группы (первой строкой) разместите ссылку на приложение и
      добавьте информацию о возможности купить прямо здесь и сейчас, не покидая
      социальную сеть!
    </li>
    <li>
      Создайте «продающую аватарку» группы с акцентом на приложение. Для
      примера, <a href="https://vk.com/e5_ru">https://vk.com/e5_ru</a>
    </li>
    <li>
      Обложка в приложении также имеет очень важную роль. Она должна быть
      яркой и привлекать внимание покупателей.
    </li>
    <li>
      Добавьте скидки для участников вашей группы и сообщите об этом. Также
      можно воспользоваться промо-кодами, которые вы распространите среди
      участников вашего сообщества (либо иным способом).
    </li>
    <li>
      В новостной ленте группы регулярно размещайте ссылки на товары из
      приложения
    </li>
    <li>
      Если у Вас есть приложение во «ВКонтакте» — советуем Вам пройти
      модерацию.  Это позволит Вашему магазину попасть в каталог приложений и
      получить дополнительный трафик.
    </li>
  </ol>

  <p>Внимание, проходить модерацию могут только юридические лица!</p>

  <p>Для прохождения модерации необходимо выполнить следующие условия:</p>

  <ol>
    <li>
      Указать информацию: фирменное наименование, ОГРН, ИНН, юр.адрес; для ИП —
      название, место регистрации (постоянного пребывания) на территории РФ; для
      любого из них — телефоны и e-mail.
    </li>

    <li>
      Предоставить выписку из ЕГРЮЛ (ЕГРИП) и гарантийное письмо о соответствии
      деятельности законодательству РФ, образец можно посмотреть здесь:
      <a href="http://vk.com/doc3484_201574213?hash=a6b8814acb6e924ae9">http://vk.com/doc3484_201574213?hash=a6b8814acb6e924ae9</a>
      Документы необходимо выслать на
      <a href="mailto:apps@vkontakte.ru">apps@vkontakte.ru</a>
    </li>

    <li>Указать в приложении часы работы.</li>

    <li>
      Согласно п.3 Правил размещения магазинов в приложениях, а также ст.26.1
      ФЗ "О Защите прав потребителей" в приложении необходимо указать на
      возможность возврата товаров и описать процедуру такого возврата.
    </li>
  </ol>

  <p>
    Надеемся, что наши советы окажутся полезными  для Вашего магазина и
    помогут получить больше продаж из социальных сетей!
  </p>

  <p>
    Если у Вас возникнут вопросы или трудности, обращайтесь, буду рада
    Вам помочь.
  </p>


  С уважением,<br>
  Александра Мерещенко<br>
  Менеджер по работе с клиентами<br>
  <a href="mailto:alexandra@shoppyboom.ru">alexandra@shoppyboom.ru</a>
{% endblock %}