{% extends 'email/base.html' %}

{% block head %}
  <style type="text/css">
    .list {background:#eee}
    .list th {font-size: 150%; padding: 15px; }
    .list td {text-align: right; padding: 10px 15px; background:#fff;}
    .list td.name {text-align: left}
  </style>
{% endblock %}

{% block body %}
  <img src="{{ shop_logo }}" alt="{{ shop_name }}"/>
  {{ hello_text|default_if_none:""|linebreaks }}
  <table class="list" cellspacing="1">
    {% for item in items %}
    <tr>
      <td width="100"><img src="{{ item.cover }}" width="100" alt="{{ item.name }}" /></td>
      <td class='name'>
        <span style="color:#aaa; font-style: italic">#{{ item.oid }}</span></br>
        {% if item.url %}<a href="{{ item.url }}">{{ item.name|safe }}</a>{% else %}{{ item.name|safe }}{% endif %}
        {% if item.offer %}<br /><span style="color:#aaa; font-style: italic">Размер: {{ item.offer.get_size }}</span>{% endif %}

      </td>
      <td>{{ item.product_price }}&nbsp;руб.</td>
      <td>{{ item.count }}&nbsp;шт.</td>
      <td><strong>{{ item.price }}</strong>&nbsp;руб.</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan=4 style="text-align: right; font-size: 150%"><strong>Итого:</strong></td>
      <td style="text-align: right; font-size: 150%"><strong>{{ order_total }}</strong> руб.</td>
    </tr>
    {% if discount %}
    <tr>
      <td colspan=4 style="text-align: right; font-size: 120%">{{ discount.name }}:</td>
      <td style="text-align: right; font-size: 120%">{{ discount.value }}</td>
    </tr>
    <tr>
      <td colspan=4 style="text-align: right; font-size: 150%"><strong>С учетом скидки:</strong></td>
      <td style="text-align: right; font-size: 150%"><strong>{{ discount.price }}</strong>&nbsp;руб.</td>
    </tr>
    {%endif%}
  </table>
  {{ sign|default_if_none:""|linebreaks }}
{% endblock %}